---
import { Image } from 'astro:assets'
import { type Time } from '@/lib/utils'

import MechanicSection from '@/components/section/MechanicSection.astro'
import P from '@/components/typography/P.astro'
import Quote from '@/components/typography/Quote.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import Span from '@/components/Span.vue'
import StratBoard from '@/components/StratBoard.astro'
import T from '@/components/typography/T.astro'

import img from '@/assets/07/m8s2/tmp.png'
import ResetSVG from '@/assets/svg/reset.svg'
import VideoPlaySVG from '@/assets/svg/video-play.svg'

import BareFangsCast from '../_components/BareFangsCast.astro'
import ChampionsCircuitActivate from '../_components/ChampionsCircuitActivate.astro'
import ChampionsCircuitCast from '../_components/ChampionsCircuitCast.astro'
import GleamingFang from '../_components/entities/GleamingFang.astro'

import { translations } from '../_translations'

interface Props {
  start: Time
  base?: Time
  activateTimes: Time[]
}

const { start, base = 0, activateTimes }: Props = Astro.props

const bareFangs = translations.bareFangs
const championsCircuit = translations.championsCircuit

// 伤害参考：
// REF: https://www.fflogs.com/reports/GrMAphvBQfqLT9KJ?fight=4&type=casts&hostility=1&phase=2&view=events
---

<BareFangsCast start={start} base={base} />
<ChampionsCircuitCast start="10:11.323" base={base} />
<ChampionsCircuitActivate base={base} activateTimes={activateTimes} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <T variant="yellow" text=`${bareFangs}` />
    <P>
      在每个平台生成2个
      <GleamingFang />
      ，每次会有1个
      <GleamingFang />
      展开并对平台释放对应的半场AoE
    </P>
    <T variant="yellow" text=`${championsCircuit}` />
    <P> 读条过程中，各平台出现5种不同但顺序固定的AoE范围提示和旋转提示 </P>
    <P>
      每次攻击判定后，AoE将根据提示进行顺时针或逆时针的旋转，每次旋转
      <Span variant="emerald">72°</Span>
      顺次移动到相邻平台
    </P>
    <Quote variant="cyan"> 注意：读条结束后范围提示和旋转方向都将消失，需要凭借记忆判断安全区 </Quote>

    <P> 上述两种攻击将在每次判定时几乎同时释放 </P>
    <T variant="yellow" text="动态演示" />
    <div class="flex gap-4">
      <div class="flex shrink flex-col items-center gap-4">
        <StratBoard
          width={800}
          height={800}
          key="champions-circuit-mechanic-dynamic"
          class="max-h-120 max-w-120"
          canvasClass="h-full w-full drop-shadow-sm drop-shadow-black"
        />
        <div
          class="flex items-center justify-start gap-2 rounded-full border border-lime-200 bg-lime-100/90 px-3 py-1 backdrop-blur-sm dark:border-lime-800/80 dark:bg-lime-900/80 dark:shadow-lime-900/30"
        >
          <button
            id="champions-circuit-mechanic-dynamic-play-button"
            class="group flex items-center gap-2"
            title="开始演示"
          >
            <div
              class="flex h-6 w-6 items-center justify-center rounded-full bg-lime-500 text-white shadow-inner shadow-lime-400/30 transition-all group-hover:scale-110 group-hover:bg-lime-600 group-hover:shadow group-active:scale-95 dark:bg-lime-600 dark:shadow-lime-500/10 dark:group-hover:bg-lime-500"
            >
              <VideoPlaySVG />
            </div>
            <span
              class="text-sm font-medium text-lime-900 transition-all group-hover:scale-110 group-hover:text-lime-700 group-active:scale-95 dark:text-lime-100 dark:group-hover:text-white"
              >开始演示</span
            >
          </button>
          <span class="mx-0.5 h-5 border-l border-lime-400/80 dark:border-lime-400/60"></span>
          <button id="champions-circuit-mechanic-reset-button" class="group flex items-center gap-2" title="旋转方向">
            <div
              class="flex h-6 w-6 items-center justify-center rounded-full bg-lime-500 text-white shadow-inner shadow-lime-400/30 transition-all group-hover:scale-110 group-hover:bg-lime-600 group-hover:shadow group-active:scale-95 dark:bg-lime-600 dark:shadow-lime-500/10 dark:group-hover:bg-lime-500"
            >
              <ResetSVG />
            </div>
            <span
              class="text-sm font-medium text-lime-900 transition-all group-hover:scale-110 group-hover:text-lime-700 group-active:scale-95 dark:text-lime-100 dark:group-hover:text-white"
              >顺时针</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex flex-col gap-4">
    <P> 待补充 </P>
    <P>
      <RoleIcon role="all" tag="全员" />
      在初始平台中线位置集合，便于后续移动到安全区
    </P>
  </div>
</SolutionSection>

<script>
  import type { Application, Ticker } from 'pixi.js'

  import { listenKeys } from 'nanostores'
  import { Assets, Container, Graphics, Sprite } from 'pixi.js'

  import floor_img from '@/assets/07/m8s2/p2/floor_2@3x.png'
  import { AoE, AOE_COLORS } from '@/pixi/aoe'
  import { getScale, YmToPx } from '@/pixi/utils'
  import { $stratBoards } from '@/stores/stratBoards'

  import { addFangs } from '../_fangs'

  const scaleSize = 1.25
  const YmToPxLarge = YmToPx * scaleSize

  // champions circuit position
  const aoePos: { r: number; rad: number }[] = [
    { r: 17.54 * YmToPxLarge, rad: Math.PI / 10 },
    { r: 17.54 * YmToPxLarge, rad: Math.PI / 2 },
    { r: 17.54 * YmToPxLarge, rad: (9 * Math.PI) / 10 },
    { r: 17.54 * YmToPxLarge, rad: (-7 * Math.PI) / 10 },
    { r: 17.54 * YmToPxLarge, rad: (-3 * Math.PI) / 10 },
  ]

  function polarRadianToCartesian(ppos: { r: number; rad: number }): { x: number; y: number } {
    const x = ppos.r * Math.cos(ppos.rad)
    const y = ppos.r * Math.sin(ppos.rad)
    return { x, y }
  }

  function rotateArray<T>(arr: T[], offset: number = 1) {
    const len = arr.length
    const n = ((offset % len) + len) % len
    return arr.slice(n).concat(arr.slice(0, n))
  }

  function generateAoes(app: Application, aoePos: { r: number; rad: number }[], scale: number = scaleSize): Container {
    const aoeContainer = new Container()

    // aoe ring
    const aoeSmallRing = AoE.createRing(4.5 * scale, 13 * scale).toSprite(app)
    const pos1 = polarRadianToCartesian(aoePos[0])
    aoeSmallRing.position.set(pos1.x, pos1.y)
    aoeContainer.addChild(aoeSmallRing)

    // aoe rect
    const aoeRect = AoE.createRect(12 * scale, 20 * scale).toSprite(app)
    const pos2 = polarRadianToCartesian(aoePos[1])
    aoeRect.position.set(pos2.x, pos2.y)
    aoeRect.rotation = aoePos[1].rad + Math.PI / 2
    aoeContainer.addChild(aoeRect)

    const aoeRectMask = new Graphics().circle(pos2.x, pos2.y, 8 * YmToPxLarge).fill({ color: 'white' })
    aoeRect.mask = aoeRectMask
    aoeContainer.addChild(aoeRectMask)

    // aoe large circle fan
    const aoeCircleFan = AoE.createFan(22 * scale, 60).toSprite(app)
    aoeCircleFan.rotation = aoePos[3].rad
    aoeCircleFan.position.set(0, 0)
    aoeContainer.addChild(aoeCircleFan)

    const pos4 = polarRadianToCartesian(aoePos[3])
    const aoeCircleFanMask = new Graphics().circle(pos4.x, pos4.y, 8 * YmToPxLarge).fill({ color: 'white' })
    aoeCircleFan.mask = aoeCircleFanMask
    aoeContainer.addChild(aoeCircleFanMask)

    // aoe large ring fan * 2
    const aoeRingFan1 = AoE.createRingFan(15 * scale, 26 * scale, 60).toSprite(app)
    const pos3 = polarRadianToCartesian({ r: 20.5 * YmToPxLarge, rad: aoePos[2].rad })
    aoeRingFan1.position.set(pos3.x, pos3.y)
    aoeRingFan1.rotation = aoePos[2].rad
    aoeContainer.addChild(aoeRingFan1)

    const aoeRingFan2 = AoE.createRingFan(15 * scale, 26 * scale, 60).toSprite(app)
    const pos5 = polarRadianToCartesian({ r: 20.5 * YmToPxLarge, rad: aoePos[4].rad })
    aoeRingFan2.position.set(pos5.x, pos5.y)
    aoeRingFan2.rotation = aoePos[4].rad
    aoeContainer.addChild(aoeRingFan2)

    return aoeContainer
  }

  listenKeys($stratBoards, ['champions-circuit-mechanic-dynamic'], async (stratBoards) => {
    const app = stratBoards['champions-circuit-mechanic-dynamic']

    const container = new Container()
    container.position.set(app.screen.width / 2, app.screen.height / 2)
    app.stage.addChild(container)

    const floorTexture = await Assets.load(floor_img)
    const floor = Sprite.from(floorTexture)
    const centerToNorth = 17.54 * Math.cos(Math.PI / 5) + 8
    const centerToSouth = 17.54 + 8
    floor.anchor.set(0.5, centerToNorth / (centerToNorth + centerToSouth))
    floor.scale.set(getScale() * 1.25)
    container.addChild(floor)

    // Champion's Circuit
    const randStart = Math.floor(Math.random() * 5)
    const aoeContainer = new Container()
    container.addChild(aoeContainer)
    const championsCircuitAoes: Container[] = [generateAoes(app, rotateArray(aoePos, randStart))]
    aoeContainer.addChild(championsCircuitAoes[0])

    // Bare Fangs
    const fangsContainer = new Container()
    container.addChild(fangsContainer)
    const fangsActivatedAoes: Container[] = []
    const inactiveFangs = await addFangs(app, { multiplefangs: true, aoeColor: AOE_COLORS.tailwind.emerald })
    inactiveFangs.label = 'inactive-fangs'
    fangsContainer.addChild(inactiveFangs)

    // dyanmic
    const interval = 4000 // time control
    let offset = 0
    let rotateDir = 1
    let tickerFn: ((ticker: Ticker) => void) | null = null

    async function loadAoes() {
      // Champion's Circuit
      if (championsCircuitAoes.length <= 1) {
        for (let i = randStart + 1; i < randStart + 5; i++) {
          championsCircuitAoes.push(generateAoes(app, rotateArray(aoePos, i)))
        }
      }

      // Bare Fangs
      if (fangsActivatedAoes.length === 0) {
        for (let i = 0; i < 32; i++) {
          const binaryString = i.toString(2).padStart(5, '0')
          const patterns = Array.from(binaryString, Number)
          fangsActivatedAoes.push(
            await addFangs(app, {
              multiplefangs: true,
              activate: true,
              patterns,
              aoeColor: AOE_COLORS.tailwind.emerald,
            }),
          )
        }
      }
    }

    async function play() {
      let elapsed = 0

      await loadAoes()

      if (tickerFn) {
        app.ticker.remove(tickerFn)
        tickerFn = null
      }
      tickerFn = async (ticker) => {
        elapsed += ticker.elapsedMS
        if (elapsed >= interval / 2) {
          aoeContainer.removeChildren()
          fangsContainer.removeChildren()
          fangsContainer.addChild(inactiveFangs)
        }
        if (elapsed >= interval) {
          elapsed = 0
          offset += rotateDir // +1为顺时针
          fangsContainer.removeChildren()
          fangsContainer.addChild(fangsActivatedAoes[Math.floor(Math.random() * 32)])
          aoeContainer.addChild(rotateArray(championsCircuitAoes, offset)[0])
        }
      }

      app.ticker.add(tickerFn)
    }

    async function reset() {
      if (tickerFn) {
        app.ticker.remove(tickerFn)
        tickerFn = null
      }

      rotateDir = -rotateDir
      // 更新按钮文字
      const span = document.querySelector('#champions-circuit-mechanic-reset-button span')
      if (span) {
        span.textContent = rotateDir > 0 ? '顺时针' : '逆时针'
      }

      aoeContainer.removeChildren()
      fangsContainer.removeChildren()

      fangsContainer.addChild(inactiveFangs)
      aoeContainer.addChild(rotateArray(championsCircuitAoes, offset)[0])
    }

    document.getElementById('champions-circuit-mechanic-dynamic-play-button')?.addEventListener('click', () => {
      play()
    })

    document.getElementById('champions-circuit-mechanic-reset-button')?.addEventListener('click', () => {
      reset()
    })
  })
</script>
