---
import { Image } from 'astro:assets'
import { type Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import RoleIcon from '@/components/RoleIcon.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import HowlingBlade from '../_components/entities/HowlingBlade.astro'
import ElementalPurgeCast from '../_components/ElementalPurgeCast.astro'
import AerotemporalBlast from '../_components/AerotemporalBlastEvent.astro'
import GeotemporalBlast from '../_components/GeotemporalBlastEvent.astro'
import HuntersHarvestEvent from '../_components/HuntersHarvestEvent.astro'
import PatienceOfStoneDebuff from '../_components/buff/PatienceOfStoneDebuff.astro'
import PatienceOfWindDebuff from '../_components/buff/PatienceOfWindDebuff.astro'

import img from '@/assets/07/m8s2/tmp.png'
import { translations } from '../_translations'
import T from '@/components/typography/T.astro'
import P from '@/components/typography/P.astro'
import Skill from '@/components/typography/Skill.astro'

const elementalPurge = translations.elementalPurge

// 该机制不会复用，直接写入时间
const temporalBlastTime = '09:08.204'
const huntersHarvestTime = '09:08.249'
---

<ElementalPurgeCast start="08:58.105" />
<GeotemporalBlast start={temporalBlastTime} />
<AerotemporalBlast start={temporalBlastTime} />
<HuntersHarvestEvent time={huntersHarvestTime} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <T variant="yellow" text={elementalPurge} />
    <P>
      <HowlingBlade />开始读条
      <Skill name={elementalPurge} />
      ，<RoleIcon role="tank" tag="随机" />
      和
      <RoleIcon role="healer|dps" tag="随机" />
      头顶出现点名标志
    </P>

    <P>读条结束后：</P>
    <P>
      <RoleIcon role="tank" tag="点名" />
      被赋予
      <PatienceOfWindDebuff tag="5" />
      ：倒计时结束后产生半径
      <Span variant="pink">16m</Span>
      的圆形范围死刑，附带易伤
    </P>

    <P>
      <RoleIcon role="healer|dps" tag="点名" />
      则被赋予
      <PatienceOfStoneDebuff tag="5" />
      ：倒计时结束后产生半径
      <Span variant="pink">6m</Span>
      的圆形范围分摊伤害，同样附带易伤
    </P>

    <P>
      同时，
      <HowlingBlade />
      会锁定并止步当前
      <RoleIcon role="all" tag="一仇" />
      ，稍后面朝其所在平台中心，释放
      <Span variant="pink">200°</Span>
      扇形斩击
    </P>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <P>
      此时南边分平台，也就是初始平台已经被摧毁。在读条前，
      <RoleIcon role="tank" tag="双T" /> 请分别在左下和右下平台待机。
    </P>

    <P>
      人群在左上或右上平台待机。可以看出，点名的<RoleIcon role="tank" /> 不能吃顺劈，
    </P>

    <P>
      因此需要在点名标记出现的时候，无标记的<RoleIcon role="tank" />确保自己是一仇。
    </P>

    <P>
      标记出现后，
      <RoleIcon role="healer|dps" />
      寻找有标记的<RoleIcon role="tank" />并且传送到旁边的平台等待分摊判定。
    </P>

    <div class="flex max-w-90 shrink grow flex-col items-center gap-2">
      <Image src={img} alt="elementalPurge" class="border-2 border-amber-800/75 dark:border-amber-100" />
      <div>所有人出现在该在的平台</div>
    </div>
  </div>
</SolutionSection>
