---
import { Image } from 'astro:assets'
import { type Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import RoleIcon from '@/components/RoleIcon.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import HowlingBlade from '../_components/HowlingBlade.astro'
import ElementalPurgeCast from '../_components/ElementalPurgeCast.astro'
import AerotemporalBlast from '../_components/AerotemporalBlastEvent.astro'
import GeotemporalBlast from '../_components/GeotemporalBlastEvent.astro'
import HuntersHarvestEvent from '../_components/HuntersHarvestEvent.astro'
import PatienceOfStoneDebuff from '../_components/PatienceOfStoneDebuff.astro'
import PatienceOfWindDebuff from '../_components/PatienceOfWindDebuff.astro'

import img from '@/assets/07/m8s2/tmp.png'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props

const elementalPurge = '風震の魔印'

// 该机制不会复用，直接写入时间
const temporalBlastTime = '09:08.204'
const huntersHarvestTime = '09:08.204'
---

<ElementalPurgeCast start={start} base={base} />
<GeotemporalBlast start={temporalBlastTime} base={base} />
<AerotemporalBlast start={temporalBlastTime} base={base} />
<HuntersHarvestEvent start={huntersHarvestTime} base={base} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="text-2xl">
      <Span variant="yellow">{elementalPurge}</Span>
    </div>
    <div class="gap-strat flex items-center">
      <HowlingBlade />开始读条
      <Span variant="yellow">{elementalPurge}</Span>
      ，随机 1 <RoleIcon role="tank" />
      和 1 <RoleIcon role="healerdps" />
      头顶会出现点名标志。
    </div>

    <div class="gap-strat flex items-center">
      读条结束后， 被点名的
      <RoleIcon role="tank" />
      会获得
      <PatienceOfWindDebuff tag="5" />
      ：倒计时结束后对当前平台产生AoE伤害并赋予易伤，重叠即死。
    </div>

    <div class="gap-strat flex items-center">
      <RoleIcon role="healerdps" />
      则会获得
      <PatienceOfStoneDebuff tag="5" />
      ：倒计时结束后对当前平台所有人造成分摊伤害并赋予易伤，重叠即死。
    </div>

    <div class="gap-strat flex items-center">
      并且，
      <HowlingBlade />会锁定当前一仇，在稍后释放覆盖两个平台的顺劈死刑。
    </div>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">
      此时南边分平台，也就是初始平台已经被摧毁。在读条前，
      <RoleIcon role="tank" tag="双T"> 请分别在左下和右下平台待机。 </RoleIcon>

      <div class="gap-strat flex items-center">
        人群在左上或右上平台待机。可以看出，点名的<RoleIcon role="tank" /> 不能吃顺劈，
      </div>

      <div class="gap-strat flex items-center">
        因此需要在点名标记出现的时候，无标记的<RoleIcon role="tank" />确保自己是一仇。
      </div>

      <div class="gap-strat flex items-center">
        标记出现后，
        <RoleIcon role="healerdps" />
        寻找有标记的<RoleIcon role="tank" />并且传送到旁边的平台等待分摊判定。
      </div>

      <div class="flex max-w-90 shrink grow flex-col items-center gap-2">
        <Image src={img} alt="elementalPurge" class="border-2 border-amber-800/75 dark:border-amber-100" />
        <div>所有人出现在该在的平台</div>
      </div>
    </div>
  </div>
</SolutionSection>
