---
import { type Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import RoleIcon from '@/components/RoleIcon.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import P from '@/components/typography/P.astro'
import T from '@/components/typography/T.astro'
import ImgRow from '@/components/typography/ImgRow.astro'

import HowlingBlade from '../_components/entities/HowlingBlade.astro'
import UltraviolentRayCast from '../_components/UltraviolentRayCast.astro'
import GleamingFang from '../_components/entities/GleamingFang.astro'

import ultraviolentRay1 from '@/assets/07/m8s2/p1/ultraviolentRay1.png'
import ultraviolentRay2 from '@/assets/07/m8s2/p1/ultraviolentRay2.png'

import { translations } from '../_translations'
import Skill from '@/components/typography/Skill.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import Quote from '@/components/typography/Quote.astro'

interface Props {
  start: Time
}

const { start }: Props = Astro.props

const ultraviolentRay = translations.ultraviolentRay
---

<UltraviolentRayCast start={start} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <T>
      <Span variant="yellow">{ultraviolentRay}</Span>
    </T>

    <P>
      <HowlingBlade />
      随机点名【
      <Span variant="pink">4</Span>
      <RoleIcon role="tank|healer" />
      +
      <Span variant="pink">1</Span>
      <RoleIcon role="dps" />
      】或【
      <Span variant="pink">4</Span>
      <RoleIcon role="dps" />
      +
      <Span variant="pink">1</Span>
      <RoleIcon role="tank|healer" />
      】共5人
      <Skill name={ultraviolentRay} />
    </P>
    <P>
      被点名的玩家头上会出现蓝色标记，代表随后会对该玩家
      <Span variant="pink">所在的平台</Span>
      造成直线范围伤害，附带
      <MagicVulnerabilityUp tag="1" />
    </P>

    <T variant="yellow" class="mt-8" text={translations.gleamingBeam} />
    <P>
      与此同时，每个平台左后或右后方会出现一个
      <GleamingFang />
      读条释放覆盖半个平台的直线范围伤害
    </P>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <P>该机制有五人获得点名，因此需要五个点名各自去一个平台，其他人则可以自由行动</P>
    <P>
      我们还是以
      <HowlingBlade />
      目标圈正面箭头的指向为南，吃完
      <Skill name={translations.quakeIII} />
      后，所有人留在分摊平台预站位排队
    </P>
    <P>
      排队顺序为：自北向南按
      <RoleIcon role="tank" />
      >
      <RoleIcon role="melee" />
      >
      <RoleIcon role="ranged_magic" />
      >
      <RoleIcon role="healer" />
      的顺序排列
    </P>

    <P>
      由于每组都是
      <Span variant="pink">2</Span>
      <RoleIcon role="tank|healer" />
      +
      <Span variant="pink">2</Span>
      <RoleIcon role="dps" />
      ，因此各组内只会有两个或者三个蓝标
    </P>
    <ImgRow
      class="m-4 mb-5"
      wrapperClass="max-w-150 scale-110"
      bordered={false}
      imgClass="shadowbringer"
      imgs={[
        {
          src: ultraviolentRay1,
          alt: '魔光点名出现',
        },
      ]}
    />

    <P class="mt-4">我们规定，蓝标点名按如下方式分散到各个平台：</P>
    <Quote variant="lime">
      <P>若本组内有两个蓝标，则靠北的玩家往北传送一个平台，靠南的玩家不动</P>
      <P>若本组内有三个蓝标，则靠北的玩家往北传送一个平台，靠南的玩家往南传送，中间的玩家不动</P>
    </Quote>
    <P>
      传送到位后记得看自己身后的
      <GleamingFang />
      ，在自己平台安全的半边躲避
    </P>
    <ImgRow
      class="m-4 mb-5"
      wrapperClass="max-w-150 scale-110"
      bordered={false}
      imgClass="shadowbringer"
      imgs={[
        {
          src: ultraviolentRay2,
          alt: '魔光分散后',
        },
      ]}
    />

    <P>
      处理完
      <Skill name={translations.ultraviolentRay} />
      后：
      <Quote variant="lime">
        <P>
          <RoleIcon role="tank" tag="双T" />
          <Span variant="cyan">回到各自排队的平台</Span>
          ，准备引导之后的
          <Skill name={translations.twinbite} />
        </P>
        <P>
          <RoleIcon role="healer|dps" />
          则
          <Span variant="cyan">回到初始平台</Span>
          ，准备引导之后的
          <Skill name={translations.herosBlow} />
        </P>
      </Quote>
    </P>
  </div>
</SolutionSection>
