---
import { Image } from 'astro:assets'

import { type Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import RoleIcon from '@/components/RoleIcon.astro'
import Separator from '@/components/Separator.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import HowlingBlade from '../_components/entities/HowlingBlade.astro'
import UltraviolentRayCast from '../_components/UltraviolentRayCast.astro'
import GleamingFang from '../_components/entities/GleamingFang.astro'

import img from '@/assets/07/m8s2/tmp.png'

import { translations } from '../_translations'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props

const ultraviolentRay = translations.ultraviolentRay
---

<UltraviolentRayCast start={start} base={base} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="text-2xl">
      <Span variant="yellow">{ultraviolentRay}</Span>
    </div>
    <div class="paragraph">
      <HowlingBlade />
      点名随机
      <RoleIcon role="any" tag="5人" />
      分散，范围是一个平台。 需要判定时五个人在不同的平台上。
    </div>
    <div class="paragraph">
      与此同时，每个平台后方会出现一个
      <GleamingFang />
      随机覆盖左半或右半平台。需要分散的同时躲开。
    </div>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      该机制有五人获得点名，刚好场上有五个平台，因此需要五个点名各自去一个平台，其他人可以自由行动。
    </div>
    <div class="paragraph">我们将所有人分为MT组和ST组，MT组去左下平台，ST组去右下平台。</div>
    <div class="paragraph">
      然后按照
      <Separator orientation="vertical" class="mx-1 h-16 w-0.5 bg-teal-500" />
      <ul class="list-none space-y-4">
        <li class="flex items-center gap-1 text-lg">
          <RoleIcon role="tank" tag="ST" />
          <RoleIcon role="melee" tag="D2" />
          <RoleIcon role="magic" tag="D4" />
          <RoleIcon role="healer" tag="H2" />
        </li>

        <li class="flex items-center gap-1 text-lg">
          <RoleIcon role="tank" tag="MT" />
          <RoleIcon role="melee" tag="D1" />
          <RoleIcon role="ranged" tag="D3" />
          <RoleIcon role="healer" tag="H1" />
        </li>
      </ul>
      的顺序从北至南排队，
    </div>

    <div class="paragraph">
      每组的第一个点名标记向北传送一个平台，第二个点名标记不动，第三个点名标记向南传送一个平台。
    </div>

    <div class="paragraph">
      随后所有人看平台后面的
      <GleamingFang />
      去安全的半场，这里注意每个平台的安全半场是不一样的。
    </div>

    <div class="paragraph">会有一组有三个点名，另一组只有两个点名。</div>

    <div class="flex gap-4">
      <div class="flex max-w-90 shrink grow flex-col items-center gap-2">
        <Image src={img} alt="ur1" class="border-2 border-amber-800/75 dark:border-amber-100" />
        <div>排队+点名出现</div>
      </div>

      <div class="flex max-w-90 shrink grow flex-col items-center gap-2">
        <Image src={img} alt="ur2" class="border-2 border-amber-800/75 dark:border-amber-100" />
        <div>分散后</div>
      </div>
      <div class="flex gap-4"></div>
    </div>
  </div>
</SolutionSection>
