---
import ReferenceItem from "@/components/ReferenceItem.astro"
import Span from "@/components/Span.vue"
import MechanicSection from "@/components/section/MechanicSection.astro"
import NoteSection from "@/components/section/NoteSection.astro"
import SeparatorSection from "@/components/section/SeparatorSection.astro"
import ImgRow from "@/components/typography/ImgRow.astro"
import P from "@/components/typography/P.astro"
import DutyStratLayout from "@/layouts/DutyStratLayout.astro"
import { referenceList } from "../m12s/_data/reference"
import MortalSlayerCast from "./_components/MortalSlayerCast.astro"
import TheFixerCast from "./_components/TheFixerCast.astro"
import MortalSlayer from "./_mechanics/MortalSlayer.astro"
import { translations } from './_translations/cn'


const dutyId = "07/m12s"

const base = "00:00.00"
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <NoteSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <div class="space-y-4 text-2xl">
          <Fragment slot="header">
            <span>参考资料</span>
          </Fragment>
        </div>
        <div class="space-y-4">
          <ReferenceItem list={referenceList} />
        </div>
      </div>
      <div class="space-y-4">
        <P>初始场地如下图，长40m，宽30m，场地上<Span variant="pink">小方格边长2.5m</Span></P>
        <ImgRow
          wrapperClass="max-w-100"
          imgs={[
            {
              src: "floor/07/m12s/1.webp",
            },
          ]}
        />
      </div>
    </div>
  </NoteSection>
  <SeparatorSection title={translations.TheFixer} />
  <TheFixerCast start="00:10.200" />
  <MechanicSection>
    <div class="flex flex-col gap-4">
      <P>全屏魔法AOE，注意减伤，该机制全程共出现3次</P>
    </div>
  </MechanicSection>
  <SeparatorSection title={translations.MortalSlayer} id="MortalSlayer"/>
  <MortalSlayerCast start="00:28.527" />
  <MortalSlayer />
  <SeparatorSection title={translations.GrotesquerieAct1} id="GrotesquerieAct1"/>
  <SeparatorSection title={translations.GrotesquerieAct2} id="GrotesquerieAct2"/>
  <SeparatorSection title={translations.GrotesquerieAct3} id="GrotesquerieAct3"/>
  <SeparatorSection title={translations.GrotesquerieCurtainCall} id="GrotesquerieCurtainCall"/>
    <SeparatorSection title={translations.Slaughtershed + "三连"} id="Slaughtershed"/>
  
</DutyStratLayout>
