---
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Boss from '@/components/Boss.astro'
import DraftWarning from '@/components/draft-warning/DraftWarning.astro'
import Span from '@/components/Span.vue'
import P from '@/components/typography/P.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import Skill from '@/components/typography/Skill.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import T from '@/components/typography/T.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import PhysicalVulnerabilityUp from '@/components/buff/PhysicalVulnerabilityUp.astro'
import Bleeding from '@/components/buff/Bleeding.astro'
import Quote from '@/components/typography/Quote.astro'

import { combinedTranslations as translations } from './_translations'

import ColdGrip_1 from '@/assets/07/necron/ColdGrip_1.png'
import ColdGrip_2 from '@/assets/07/necron/ColdGrip_2.png'
import ColdGrip_3 from '@/assets/07/necron/ColdGrip_3.png'
import FearOfDeath_1 from '@/assets/07/necron/FearOfDeath_1.png'
import FearOfDeath_2 from '@/assets/07/necron/FearOfDeath_2.png'
import MementoMori_1 from '@/assets/07/necron/MementoMori_1.png'
import MementoMori_2 from '@/assets/07/necron/MementoMori_2.png'
import MementoMori_3 from '@/assets/07/necron/MementoMori_3.png'
import MementoMori_solution_1 from '@/assets/07/necron/MementoMori_solution_1.png'
import MementoMori_solution_2 from '@/assets/07/necron/MementoMori_solution_2.png'
import MementoMori_solution_3 from '@/assets/07/necron/MementoMori_solution_3.png'
import MementoMori_solution_4 from '@/assets/07/necron/MementoMori_solution_4.png'
import SoulReaping_1 from '@/assets/07/necron/SoulReaping_1.png'
import SoulReaping_2 from '@/assets/07/necron/SoulReaping_2.png'
import SoulReaping_omen from '@/assets/07/necron/SoulReaping_omen.png'
import SoulReaping_activate from '@/assets/07/necron/SoulReaping_activate.png'
import SoulReaping_demo_1 from '@/assets/07/necron/SoulReaping_demo_1.png'
import SoulReaping_demo_2 from '@/assets/07/necron/SoulReaping_demo_2.png'
import TheEndsEmbrace_1 from '@/assets/07/necron/TheEndsEmbrace_1.png'
import TheEndsEmbrace_2 from '@/assets/07/necron/TheEndsEmbrace_2.png'
import BlueShockwave_1 from '@/assets/07/necron/BlueShockwave_1.png'
import BlueShockwave_2 from '@/assets/07/necron/BlueShockwave_2.png'
import GrandCross from '@/assets/07/necron/GrandCross.png'

const dutyId = '07/necron'
const base = '00:00.00'
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <DraftWarning showDialog={false}>
    <div
      class="my-8 flex flex-col gap-8 text-4xl text-cyan-600 [text-shadow:_0_0_1px_var(--color-cyan-600)] dark:text-cyan-400"
    >
      <P class="justify-center">本页内容尚在编辑中......</P>
      <P class="justify-center">
        开荒早期不保证正确性，<Span variant="red">请谨慎参考本页内容！</Span>
      </P>
    </div>
  </DraftWarning>
  <SeparatorSection />
  <MechanicSection>
    <div class="flex flex-col gap-12">
      <!-- BlueShockwave -->
      <div class="flex flex-col gap-4" id="blue-shockwave">
        <T>
          <Skill name={translations.BlueShockwave} />
        </T>
        <P>
          对
          <RoleIcon role="all" tag="一仇" />
          的大范围扇形死刑，有两段，每段附带
          <MagicVulnerabilityUp tag="5" hover />
        </P>
        <P>
          <RoleIcon role="tank" tag="一仇" />
          去角落开无敌单吃，或者
          <RoleIcon role="tank" tag="MT" />
          /
          <RoleIcon role="tank" tag="ST" />
          去西北/东北角落通过换T各吃一段，
          <RoleIcon role="healer|dps" />
          在场中躲避
        </P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: BlueShockwave_1,
              alt: '',
              title: '一仇大范围扇形死刑',
            },
          ]}
        />
      </div>
      <!-- FearOfDeath -->
      <div class="flex flex-col gap-4" id="fear-of-death">
        <T>
          <Skill name={translations.FearOfDeath} />
        </T>
        <P>AoE，同时在场地上均匀间隔生成8只触手，不要站在触手生成的位置，否则会吃易伤</P>
        <P>
          触手出来后会锁定最近的人，对其释放不可躲避的直条AoE，附带
          <PhysicalVulnerabilityUp tag="1" hover />
        </P>
        <P>
          左半场从上到下
          <RoleIcon role="tank" tag="MT" />
          <RoleIcon role="melee" tag="D1" />
          <RoleIcon role="healer" tag="H1" />
          <RoleIcon role="ranged" tag="D3" />
          ，右半场从上到下
          <RoleIcon role="tank" tag="ST" />
          <RoleIcon role="dps" tag="D2" />
          <RoleIcon role="healer" tag="H2" />
          <RoleIcon role="magic" tag="D4" />
          ，每人将一只触手引导向场外
        </P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: FearOfDeath_1,
              alt: '',
              title: '场地均匀间隔生成8只触手',
            },
          ]}
        />
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: FearOfDeath_2,
              alt: '',
              title: '全员靠近自己的触手，向场外引导直线AoE',
            },
          ]}
        />
      </div>
      <!-- ColdGrip -->
      <div class="flex flex-col gap-4" id="cold-grip">
        <T>
          <Skill name={translations.ColdGrip} />
        </T>
        <P>辣翅 + 2/3 半场刀（暗紫色特效一侧）</P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: ColdGrip_1,
              alt: '',
              title: '注意观察BOSS，有一侧的手会有暗紫色特效，上图为左侧',
            },
          ]}
        />
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: ColdGrip_2,
              alt: '',
              title: '先在中间躲辣翅',
            },
          ]}
        />
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: ColdGrip_3,
              alt: '',
              title: '然后去右侧躲 2/3 半场刀',
            },
          ]}
        />
      </div>
      <!-- MementoMori -->
      <div class="flex flex-col gap-4" id="memento-mori">
        <T>
          <Skill name={translations.MementoMori} />
        </T>
        <P>辣尾 + 场中5触手 + 8人大圈分散</P>
        <P>
          <Boss />两侧手发光，随机一侧是淡蓝色特效，另一侧是暗紫色特效
        </P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: MementoMori_1,
              alt: '',
              title: '上图左/西侧为淡蓝色特效，右/东侧为暗紫色特效',
            },
          ]}
        />
        <P>场中触手有1只会朝向淡蓝色特效一侧，剩余4只会朝向暗紫色特效一侧</P>
        <P>朝向淡蓝色特效一侧的触手一定在第2/3/4排，不会在第一排和最后一排</P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: MementoMori_2,
              alt: '',
              title: '上图西侧（图片右侧）为淡蓝色特效，东侧（图片左侧）为暗紫色特效',
            },
          ]}
        />
        <P>
          <Boss />读条<Skill name={translations.SmiteOfGloom} />
          点名
          <RoleIcon role="all" tag="全员" />
          大圈分散
        </P>
        <P>
          同时触手读条<Skill name={translations.ChokingGrasp} />释放直线攻击
        </P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: MementoMori_3,
              alt: '',
            },
          ]}
        />
        <P>由于暗紫色特效的一侧只有一行安全，只能站下两人，所以需要 2 : 6 分散</P>
        <P>按下图分散即可，每人只有两个位置，根据发光特效决定站哪边</P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-120"
          imgs={[
            {
              src: MementoMori_solution_1,
              alt: '',
              title: '西侧淡蓝，情形1',
            },
            {
              src: MementoMori_solution_2,
              alt: '',
              title: '西侧淡蓝，情形2',
            },
          ]}
        />
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-120"
          imgs={[
            {
              src: MementoMori_solution_3,
              alt: '',
              title: '西侧淡蓝，情形3',
            },
            {
              src: MementoMori_solution_4,
              alt: '',
              title: '东侧淡蓝，情形1，其它情况不再赘述',
            },
          ]}
        />
        <P>具体来说：</P>
        <Quote variant="lime">
          <P>
            1. 大体上按照西半场
            <RoleIcon role="tank" tag="MT" />
            组、东半场
            <RoleIcon role="tank" tag="ST" />
            组来分位置
          </P>
          <P>2. 淡蓝色一侧的第一排和最后一排必定安全，原本属于这侧的4人分别站四个角落即可</P>
          <P>
            3. 自己半场是暗紫色特效时，两个
            <RoleIcon role="tank|dps" tag="近战" />
            换边
          </P>
          <P>
            4. 为了保证输出和方便治疗，让
            <RoleIcon role="dps" tag="近战" />
            和
            <RoleIcon role="healer" />
            贴近场中
          </P>
          <P>
            5. 如果
            <RoleIcon role="dps" tag="D2" />
            是远程，那么把靠近场中的位置让给
            <RoleIcon role="tank" />
          </P>
        </Quote>
        <P>注意不要站进场中触手所在的紫色区域，否则会吃到剧痛的<Bleeding hover /></P>
        <P>（大圈判定后，紫色区域也还会留存一段时间）</P>
      </div>
      <!-- SoulReaping -->
      <div class="flex flex-col gap-4" id="soul-reaping">
        <T>
          <Skill name={translations.SoulReaping} />
        </T>
        <P>按照技能特效存储相应的技能，稍后释放</P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: SoulReaping_1,
              alt: '',
              title: '情形1：辣翅（中间安全）',
            },
          ]}
        />
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: SoulReaping_2,
              alt: '',
              title: '情形2：辣尾（两侧安全）',
            },
          ]}
        />
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: SoulReaping_omen,
              alt: '',
              title: 'BOSS身前的圆形标记，表示储存了技能',
            },
          ]}
        />
      </div>
      <!-- TwofoldBlight、FourfoldBlight -->
      <div class="flex flex-col gap-4" id="twofold-fourfold-blight">
        <T>
          <Skill name={[translations.TwofoldBlight, translations.FourfoldBlight]}>
            <Span variant="default" slot="separator">or</Span>
          </Skill>
        </T>
        <P>
          以
          <Boss />
          为中心的窄扇形44/2222分摊，与
          <Skill name={translations.SoulReaping} />
          （辣翅/辣尾）同时判定
        </P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: SoulReaping_activate,
              alt: '',
              title: 'BOSS身前的标记变红，表示储存的技能即将释放',
            },
          ]}
        />
        <P>在躲避辣翅/辣尾的同时，按照经典分组处理44/2222分摊即可，具体如下：</P>
        <Quote variant="lime">
          <P>
            44分摊：
            <RoleIcon role="tank" tag="MT" />
            <RoleIcon role="melee" tag="D1" />
            <RoleIcon role="healer" tag="H1" />
            <RoleIcon role="ranged" tag="D3" />
            、
            <RoleIcon role="tank" tag="ST" />
            <RoleIcon role="dps" tag="D2" />
            <RoleIcon role="healer" tag="H2" />
            <RoleIcon role="magic" tag="D4" />
          </P>
          <P>
            2222分摊：
            <RoleIcon role="tank" tag="MT" />
            <RoleIcon role="melee" tag="D1" />
            、
            <RoleIcon role="healer" tag="H1" />
            <RoleIcon role="ranged" tag="D3" />
            、
            <RoleIcon role="tank" tag="ST" />
            <RoleIcon role="dps" tag="D2" />
            、
            <RoleIcon role="healer" tag="H2" />
            <RoleIcon role="magic" tag="D4" />
          </P>
        </Quote>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: SoulReaping_demo_1,
              alt: '',
              title: '示例：辣翅 + 44分摊',
            },
          ]}
        />
      </div>
      <!-- SoulReaping -->
      <div class="flex flex-col gap-4">
        <T>
          <Skill name={translations.SoulReaping} />
        </T>
        <P>
          <Boss />
          再次读条<Skill name={translations.SoulReaping} />，存储辣翅/辣尾，这次必定和前一次不同
        </P>
      </div>
      <!-- FearOfDeath -->
      <div class="flex flex-col gap-4">
        <T>
          <Skill name={translations.FearOfDeath} />
        </T>
        <P>
          <Boss />
          再次读条<Skill name={translations.FearOfDeath} />，按前文处理
        </P>
      </div>
      <!-- TheEndsEmbrace -->
      <div class="flex flex-col gap-4" id="the-ends-embrace">
        <T>
          <Skill name={translations.TheEndsEmbrace} />
        </T>
        <P>点名全员小圆分散，判定后在脚下生成触手，触手会锁定最近的人释放直线AoE</P>
        <P>处理方式和<Skill name={translations.FearOfDeath} />一样，每个人将自己的触手引导向场外即可</P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: TheEndsEmbrace_1,
              alt: '',
              title: '点名全员小圆分散',
            },
          ]}
        />
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: TheEndsEmbrace_2,
              alt: '',
              title: '判定后在脚下生成触手，全员向场外引导各自的触手',
            },
          ]}
        />
      </div>
      <!-- BlueShockwave -->
      <div class="flex flex-col gap-4">
        <T>
          <Skill name={translations.BlueShockwave} />
        </T>
        <P>
          <Boss />
          再次读条<Skill name={translations.BlueShockwave} />（双T大范围扇形死刑）
        </P>
        <P>
          <RoleIcon role="tank" tag="MT" />
          /
          <RoleIcon role="tank" tag="ST" />
          去西北/东北角，
          <RoleIcon role="healer|dps" />
          回场中躲避
        </P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: BlueShockwave_2,
              alt: '',
              title: '一仇大范围扇形死刑',
            },
          ]}
        />
      </div>
      <!-- TwofoldBlight、FourfoldBlight -->
      <div class="flex flex-col gap-4">
        <T>
          <Skill name={[translations.TwofoldBlight, translations.FourfoldBlight]}>
            <Span variant="default" slot="separator">or</Span>
          </Skill>
        </T>
        <P>
          <Boss />
          再次读条44/2222分摊，与之前存储的
          <Skill name={translations.SoulReaping} />
          （辣翅/辣尾）同时判定
        </P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: SoulReaping_demo_2,
              alt: '',
              title: '示例：辣尾 + 2222分摊',
            },
          ]}
        />
      </div>
      <!-- GrandCross -->
      <div class="flex flex-col gap-4" id="grand-cross">
        <T>
          <Skill name={translations.GrandCross} />
        </T>
        <P>AoE + 月环 + 场地破坏，场地只会留下中间的圆形区域</P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: GrandCross,
              alt: '',
            },
          ]}
        />
      </div>
    </div>
  </MechanicSection>
</DutyStratLayout>
