---
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import DraftWarning from '@/components/draft-warning/DraftWarning.astro'
import Span from '@/components/Span.vue'
import P from '@/components/typography/P.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import Skill from '@/components/typography/Skill.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import T from '@/components/typography/T.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import Quote from '@/components/typography/Quote.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import Doom from '@/components/buff/Doom.astro'

import { combinedTranslations as translations } from './_translations'

import GrandCross_1 from '@/assets/07/necron/GrandCross_1.png'
import GrandCross_2 from '@/assets/07/necron/GrandCross_2.png'
import GrandCross_3 from '@/assets/07/necron/GrandCross_3.png'
import GrandCross_4 from '@/assets/07/necron/GrandCross_4.png'
import GrandCross_5 from '@/assets/07/necron/GrandCross_5.png'
import GrandCross_solution_1 from '@/assets/07/necron/GrandCross_solution_1.png'
import GrandCross_solution_2 from '@/assets/07/necron/GrandCross_solution_2.png'
import NeutronRing_1 from '@/assets/07/necron/NeutronRing_1.png'
import NeutronRing_2 from '@/assets/07/necron/NeutronRing_2.png'
import DarknessOfEternity_1 from '@/assets/07/necron/DarknessOfEternity_1.png'
import DarknessOfEternity_2 from '@/assets/07/necron/DarknessOfEternity_2.png'

const dutyId = '07/necron'
const base = '00:00.00'
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <DraftWarning showDialog={false}>
    <div
      class="my-4 flex flex-col gap-4 text-3xl text-cyan-600 [text-shadow:_0_0_1px_var(--color-cyan-600)] dark:text-cyan-400"
    >
      <P class="justify-center"><Span variant="lime">所有机制和解法已按时间顺序整理完毕</Span></P>
      <P class="justify-center">
        开荒早期不保证100%正确性，<Span variant="red">请谨慎参考本页内容！</Span>
      </P>
      <P class="justify-center">TODO：详细时间轴、补充站位示意图</P>
    </div>
  </DraftWarning>
  <SeparatorSection />
  <MechanicSection>
    <div class="flex flex-col gap-12">
      <!-- GrandCross -->
      <div class="flex flex-col gap-4" id="grand-cross">
        <T>
          <Skill name={translations.GrandCross} />
        </T>
        <P>
          场地变换后，玩家脚下会生成2个黄圈，场外会有两对激光旋转，
          <RoleIcon role="all" tag="全员" />
          先在场中引导黄圈
        </P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: GrandCross_1,
              alt: '',
              title: '全员引导黄圈',
            },
          ]}
        />
        <P>两对激光会顺时针旋转并开始倒计时，结束时判定伤害，其中一对会转得比较快</P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: GrandCross_2,
              alt: '',
              title: '激光旋转并开始倒计时',
            },
          ]}
        />
        <P>
          同时会有两轮分散 + 踩塔，都附带
          <MagicVulnerabilityUp tag="1" hover />
          ，所以点名分散的人不能踩塔，类似极朱雀
        </P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: GrandCross_3,
              alt: '',
              title: '分散 + 踩塔',
            },
          ]}
        />
        <P>
          分散一定是同时点名4
          <RoleIcon role="tank|healer" />
          或
          <RoleIcon role="dps" />
          ，没点名的职能负责踩塔即可
        </P>
        <P>
          如果减员并且分散点名
          <RoleIcon role="tank|healer" />，
          <RoleIcon role="tank" />可以开无敌补塔
        </P>
        <P>踩塔和分散按下图，经典X字和十字，但把近战放到前半场以免罚站；注意同时躲避旋转激光</P>
        <ImgRow
          rounded
          borderVariant="cyan"
          wrapperClass="max-w-120"
          imgs={[
            {
              src: GrandCross_solution_1,
              alt: '',
              title: '情形1：斜点塔',
            },
            {
              src: GrandCross_solution_2,
              alt: '',
              title: '情形2：正点塔',
            },
          ]}
        />
        <P>
          处理完两轮塔后，
          <RoleIcon role="all" tag="全员" />
          <Span variant="pink">务必回场中引导两轮黄圈</Span>
          ，以免覆盖之后的安全区
        </P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: GrandCross_4,
              alt: '',
              title: '回场中引导两轮黄圈',
            },
          ]}
        />
        <P>同时会有横向和纵向的距离衰减伤害，引导完黄圈后去任意斜点方向贴边躲避</P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: GrandCross_5,
              alt: '',
              title: '去任意斜点方向贴边',
            },
          ]}
        />
        <P>整个机制类似千年风化青春版</P>
      </div>
      <!-- NeutronRing -->
      <div class="flex flex-col gap-4" id="neutron-ring">
        <T>
          <Skill name={translations.NeutronRing} />
        </T>
        <P>AoE + 恢复场地 + 触手小怪 + DPS Check</P>
        <P>恢复场地后，场地上会不断刷新触手小怪，触手会点名一仇释放直条AoE，可躲避</P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: NeutronRing_1,
              alt: '',
              title: '小触手怪',
            },
          ]}
        />
        <P>
          注意下图这种大触手，会对一仇释放死刑（不是很痛），
          <RoleIcon role="tank" />
          注意及时接仇
        </P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: NeutronRing_2,
              alt: '',
              title: '大触手怪',
            },
          ]}
        />
        <P>同时这也是一个输出检测阶段，如果在计量槽满100前，没有打完全部小怪，则会团灭</P>
      </div>
      <!-- DarknessOfEternity -->
      <div class="flex flex-col gap-4" id="darkness-of-eternity">
        <T>
          <Skill name={translations.DarknessOfEternity} />
        </T>
        <P>AoE + 把全员传送到单独的场地做职能检测（类似魔列车）</P>
        <P>
          如果计量槽满了，那么AoE的伤害是
          <DamageInfo damage="9999999" type="special" />
          ，否则就是个正常AoE
        </P>
        <P>接着每个人会被传送到单独的小场地，每个职能会面对不同类型的小怪</P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: DarknessOfEternity_1,
              alt: '',
            },
          ]}
        />
        <Quote variant="yellow">
          <P>
            <RoleIcon role="tank" />
            职能的小怪会读条可打断的技能，需要插言打断，还会使用死刑（不怎么疼）
          </P>
          <P>
            <RoleIcon role="healer" />
            职能的小怪会给玩家上缓速和流血，需要康复且不停奶自己
          </P>
          <P>
            <RoleIcon role="dps" />
            职能有两只小怪，会读条直线AoE，先杀一只疑似会导致另一只提前读条狂暴，尽量平均下血
          </P>
        </Quote>
        <P>
          同时
          <RoleIcon role="all" tag="全员" />
          都会被赋予一个
          <Doom tag="50" hover />
        </P>
        <P>
          处理完自己的小怪后，可乘坐传送装置登顶，在接触到光之后会解除<Doom hover />，如下图
        </P>
        <ImgRow
          borderVariant="cyan"
          wrapperClass="max-w-160"
          imgs={[
            {
              src: DarknessOfEternity_2,
              alt: '',
              title: '接触到光后，解除死宣，获得临时的无敌buff，并传送回初始场地',
            },
          ]}
        />
        <P>随后会获得临时的无敌buff，并传送回初始场地</P>
      </div>
    </div>
  </MechanicSection>
</DutyStratLayout>
