---
import { timeToSeconds } from '@/lib/utils'

import CosImage from '@/components/CosImage.astro'

import DamageInfo from '@/components/DamageInfo.astro'
import DotInfo from '@/components/DotInfo.astro'
import ListDot from '@/components/ListDot.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import StratLink from '@/components/StratLink.astro'
import StratInterval from '@/components/StratInterval.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import Stun from '@/components/buff/Stun.astro'
import SustainedDamage from '@/components/buff/SustainedDamage.astro'
import LimitBreak from '@/components/action/LimitBreak.astro'
import EventSection from '@/components/section/EventSection.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import ExplosionActivate from '../_components/ExplosionActivate.astro'
import LayerCast from '../_components/LayerCast.astro'
import MoussacreCast from '../_components/MoussacreCast.astro'
import MousseDripActivate from '../_components/MousseDripActivate.astro'
import MousseDripCast from '../_components/MousseDripCast.astro'
import SugarRiot from '../_components/SugarRiot.astro'
import AttackSection from '../_components/SugarRiotAttackSection.astro'
import TasteOfThunderCast from '../_components/TasteOfThunderCast.astro'
import TasteOfThunderPlayButton from '../_components/TasteOfThunderPlayButton.astro'
import WingmarkCast from '../_components/WingmarkCast.astro'
import WingmarkDebuff from '../_components/WingmarkDebuff.astro'

import { translations } from '../_translations'

const start = '08:50.781'
const duration = 6.7
const adjustedDuration = duration + 0.3
const end = timeToSeconds(start) + adjustedDuration

const { Explosion, UnmitigatedExplosion, Layer, MousseDrip, TasteofThunder, Wingmark } = translations
---

<LayerCast start={start} end={end} />
<AttackSection time="08:58.848" damage="57000" damageType="magical" />
<AttackSection time="09:01.879" damage="57000" damageType="magical" />
<EventSection time="09:07.9">
  <Span variant="zinc">场地生成单人塔×8：南岛×4，西北岛×2，东北岛×2</Span>
</EventSection>
<MousseDripCast start="09:02.948" />
<AttackSection time="09:09.945" damage="57000" damageType="magical" />
<AttackSection time="09:12.973" damage="57000" damageType="magical" />
{
  ['09:13.063', '09:15.109', '09:17.110', '09:19.148'].map((time, i) => {
    return <MousseDripActivate time={time} num={i + 1} />
  })
}
<MoussacreCast start="09:14.131" />
<TasteOfThunderCast start="09:22.192" />
<ExplosionActivate time="09:27.003" />
<AttackSection time="09:27.181" damage="57000" damageType="magical" />
<WingmarkCast start="09:27.270" debuffDuration="10" />
<AttackSection time="09:34.227" damage="57000" damageType="magical" />
<EventSection time="09:34.3">
  <Span variant="zinc">场地生成单人塔×8：【南岛×8】 或 【南岛×2，西北岛×4/×2，东北岛×2/×4】</Span>
</EventSection>
<AttackSection time="09:37.255" damage="57000" damageType="magical" />
<AttackSection time="09:40.287" damage="57000" damageType="magical" />
<AttackSection time="09:43.319" damage="57000" damageType="magical" />
<EventSection>
  <StratInterval slot="time" start="09:42.250" end="09:45.277" />
  <Fragment>
    <RoleIcon role="all" tag="全员" />
    眩晕
  </Fragment>
</EventSection>
<EventSection>
  <StratInterval slot="time" start="09:43.460" end="09:45.277" />
  <Fragment>
    <RoleIcon role="all" tag="全员" />
    强制向面向方向飞行34m
  </Fragment>
</EventSection>
<AttackSection time="09:46.345" damage="57000" damageType="magical" />
<AttackSection time="09:49.375" damage="57000" damageType="magical" />
<TasteOfThunderCast start="09:48.529" />
<AttackSection time="09:52.403" damage="57000" damageType="magical" />
<ExplosionActivate time="09:53.429" />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <h4 class="text-2xl">
      <Span variant="yellow">{Layer}</Span>
      {' '}
      <Span variant="zinc">#4</Span>
    </h4>
    <div class="paragraph">
      <SugarRiot />
      连线场外北侧画卷，添加火山图层
    </div>
    <CosImage src="imgs/07/m6s/paint/6.png" alt="Layer Paint #4" class="w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100" />
    <div class="paragraph">同时溪流区域和桥面出现AoE提示，读条结束后，场地变化如下</div>
    <div class="flex gap-3">
      <div class="max-w-96">
        <CosImage
          src="imgs/07/m6s/layer_4/floor_changing.png"
          alt="Layer #4 Floor Changing"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
      </div>
      <div class="max-w-96">
        <CosImage src="imgs/07/m6s/floor_p4_3.png" alt="Layer #4 Floor" class="border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div>
    </div>
    <div class="paragraph">桥面烧毁，溪流也变为熔岩，站入即死</div>
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">{MousseDrip}</Span>
    </h4>
    <div class="paragraph">
      读条结束时锁定距离
      <SugarRiot />
      <Span variant="pink">最远的2人</Span>
      ，对其释放
      <Span variant="pink">4</Span>
      次可分摊的半径
      <Span variant="pink">5m</Span>
      的圆形伤害
    </div>
    <div class="paragraph">
      2人分摊时，每段伤害
      <DamageInfo damage="45000" type="magical" />
      <MagicVulnerabilityUp tag="1" hover />
      ，每段伤害判定后会在原地留下一个“屎圈”
    </div>
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">{MousseDrip}</Span>
    </h4>
    <div class="paragraph">
      读条结束时对距离
      <SugarRiot />
      <Span variant="pink">最近的4人</Span>
      释放
      <Span variant="pink">40°</Span>
      的扇形伤害
      <DamageInfo damage="160000" type="magical" />
      <MagicVulnerabilityUp tag="2" hover />
    </div>
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">{TasteofThunder}</Span>
    </h4>
    <div class="paragraph">
      同
      <StratLink variant="yellow" href="#taste-of-thunder">Layer #3: {TasteofThunder}</StratLink>
      ，提示特效：
      <TasteOfThunderPlayButton />
    </div>
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">{Explosion}</Span>
    </h4>
    <div class="paragraph">
      场地会不时生成单人塔
      <Span variant="default">×8</Span>
      ，塔判定时受到
      <Span variant="yellow">{Explosion}</Span>
      <DamageInfo damage="30000" type="magical" />
    </div>
    <div class="paragraph">
      如果不睬塔则会炸团，每炸1个塔造成全屏AoE
      <Span variant="yellow">{UnmitigatedExplosion}</Span>
      <DamageInfo damage="110000" type="magical" />
      <SustainedDamage tag="15" hover layer={1} />
      <DotInfo damage="30000" />
    </div>
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">{Wingmark}</Span>
    </h4>
    <div class="paragraph">
      同
      <StratLink variant="yellow" href="/07/m6s/p1#wingmark">P1: {Wingmark}</StratLink>
      ，赋予
      <RoleIcon role="all" tag="全员" />
      <WingmarkDebuff tag="10" hover />
      ，倒计时结束后变为
      <Stun tag="3" hover />
      ，并强制让玩家向
      <Span variant="pink">面向方向</Span>
      飞行
      <Span variant="pink">34m</Span>
    </div>
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">由于第一轮塔固定是【南岛×4，西北岛×2，东北岛×2】的模式，初始站位安排如下</div>
    <div class="flex gap-3">
      <div class="max-w-96">
        <CosImage
          src="imgs/07/m6s/layer_4/solution_1.png"
          alt="Layer #4 Solution: 1"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
      </div>
      <div class="max-w-96">
        <CosImage
          src="imgs/07/m6s/layer_4/solution_2.png"
          alt="Layer #4 Solution: 2"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
      </div>
    </div>
    <div class="paragraph">
      <ListDot />
      <RoleIcon role="tank" tag="MT" />
      预先将
      <SugarRiot />
      拉到
      <Span variant="pink">南岛</Span>
      ，
      <RoleIcon role="tank" tag="MT" />
      <RoleIcon role="tank" tag="ST" />
      <RoleIcon role="melee" tag="D1" />
      <RoleIcon role="melee" tag="D2" />
      近战四人组一起在
      <Span variant="pink">南岛</Span>
      待机
    </div>
    <div class="paragraph">
      <ListDot />
      <Span variant="pink">以南岛为12点</Span>
      ，
      <RoleIcon role="healer" tag="H1" />
      <RoleIcon role="ranged" tag="D3" />
      去
      <Span variant="pink">左下岛</Span>
      （场基东北岛）待机，
      <RoleIcon role="healer" tag="H2" />
      <RoleIcon role="magic" tag="D4" />
      去
      <Span variant="pink">右下岛</Span>
      （场基西北岛）待机
    </div>
    <div class="paragraph">
      <ListDot />
      <RoleIcon role="healer" tag="H1" />
      <RoleIcon role="healer" tag="H2" />
      尽量
      <Span variant="pink">靠近</Span>
      <SugarRiot />
      ，以免引导到分摊点名；
      <RoleIcon role="ranged" tag="D3" />
      <RoleIcon role="magic" tag="D4" />
      则尽量
      <Span variant="pink">远离</Span>
      <SugarRiot />
      ，准备引导分摊点名
    </div>
    <div class="paragraph">
      <ListDot />
      <SugarRiot />
      读条
      <Span variant="yellow">{MousseDrip}</Span>
      后，分摊点名确定，第一轮塔出现
    </div>
    <div class="paragraph mt-12">
      接着，
      <SugarRiot />
      读条
      <Span variant="yellow">{MousseDrip}</Span>
      ，近战靠近
      <SugarRiot />
      引导扇形，远程处理分摊点名
    </div>
    <div class="flex gap-3">
      <div class="max-w-96">
        <CosImage
          src="imgs/07/m6s/layer_4/solution_3.png"
          alt="Layer #4 Solution: 3"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
      </div>
      <div class="max-w-96">
        <CosImage
          src="imgs/07/m6s/layer_4/solution_4.png"
          alt="Layer #4 Solution: 4"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
      </div>
    </div>
    <div class="paragraph">
      <ListDot />
      <RoleIcon role="tank" tag="MT" />
      <RoleIcon role="tank" tag="ST" />
      注意
      <Span variant="pink">横向</Span>
      引导扇形，避免打到远程组
    </div>
    <div class="paragraph">
      <ListDot />
      远程组分摊时可以尽量靠近
      <SugarRiot />
      ，以免超出攻击距离
    </div>
    <div class="paragraph">
      <ListDot />
      扇形和分摊结束后，
      <Span variant="pink">先别急着去踩塔</Span>
      ，先等
      <Span variant="yellow">{TasteofThunder}</Span>
      判定自身位置后，再去踩塔
    </div>
    <div class="paragraph mt-12">
      待
      <Span variant="yellow">{TasteofThunder}</Span>
      提示特效（
      <TasteOfThunderPlayButton variant="lime" />
      ）出现后，按下图就位踩塔
    </div>
    <CosImage
      src="imgs/07/m6s/layer_4/explosion_1.png"
      alt="Layer #4 Explosion: 1"
      class="w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100"
    />
    <h4 class="paragraph">
      <Span variant="lime">近战组：</Span>
    </h4>
    <div class="paragraph">
      <ListDot />
      面向场中，
      <RoleIcon role="tank" tag="MT" />
      <RoleIcon role="melee" tag="D1" />
      踩
      <Span variant="pink">左侧</Span>
      的塔，
      <RoleIcon role="tank" tag="ST" />
      <RoleIcon role="melee" tag="D2" />
      踩
      <Span variant="pink">右侧</Span>
      的塔
    </div>
    <div class="paragraph">
      <ListDot />
      <RoleIcon role="tank" />
      <Span variant="pink">靠近场中</Span>，
      <RoleIcon role="melee" />
      <Span variant="pink">远离场中</Span>
    </div>
    <h4 class="paragraph">
      <Span variant="lime">远程组：</Span>
    </h4>
    <div class="paragraph">
      <ListDot />
      面向场中，
      <RoleIcon role="healer" tag="H1" />
      <RoleIcon role="healer" tag="H2" />
      踩
      <Span variant="pink">左侧</Span>
      的塔，
      <RoleIcon role="ranged" tag="D3" />
      <RoleIcon role="magic" tag="D4" />
      踩
      <Span variant="pink">右侧</Span>
      的塔
    </div>
    <div class="paragraph">
      <ListDot />
      无法区分左右时，
      <RoleIcon role="healer" tag="H1" />
      <RoleIcon role="healer" tag="H2" />
      踩
      <Span variant="pink">靠近场中</Span>
      的塔，
      <RoleIcon role="ranged" tag="D3" />
      <RoleIcon role="magic" tag="D4" />
      踩
      <Span variant="pink">远离场中</Span>
      的塔
    </div>
    <div class="paragraph pl-6">
      <ListDot />
      如有争议，优先以
      <RoleIcon role="healer" />
      站定的塔为准，
      <RoleIcon role="ranged" tag="D3" />
      <RoleIcon role="magic" tag="D4" />
      去补剩下的塔
    </div>
    <div class="paragraph mt-12">
      接着
      <SugarRiot />
      读条
      <Span variant="yellow">{Wingmark}</Span>
      ，赋予全员
      <WingmarkDebuff tag="10" hover />
      ，同时场地上刷新第二轮塔
    </div>
    <div class="paragraph">我们需要观察塔的分布模式来决定往哪飞</div>
    <h4 class="mt-12 text-2xl">
      <Span variant="lime">224模式</Span>
    </h4>
    <div class="paragraph">也就是塔按【南岛×2，东北岛×2，西北岛×4】或【南岛×2，西北岛×2，东北岛×4】分布，如下图</div>
    <div class="flex gap-3">
      <div class="max-w-96">
        <CosImage
          src="imgs/07/m6s/layer_4/solution_5.png"
          alt="Layer #4 Solution: 5"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
      </div>
      <div class="max-w-96">
        <CosImage
          src="imgs/07/m6s/layer_4/solution_6.png"
          alt="Layer #4 Solution: 6"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
      </div>
    </div>
    <div class="paragraph mt-8">显然，左图这种情况应该全员顺时针飞到下一个岛，右图则是逆时针，如下图</div>
    <div class="flex gap-3">
      <div class="max-w-96">
        <CosImage
          src="imgs/07/m6s/layer_4/solution_7.png"
          alt="Layer #4 Solution: 7"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
      </div>
      <div class="max-w-96">
        <CosImage
          src="imgs/07/m6s/layer_4/solution_8.png"
          alt="Layer #4 Solution: 8"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
      </div>
    </div>
    <div class="paragraph mt-8">
      飞到目标岛后先别急着踩塔，先等
      <Span variant="yellow">{TasteofThunder}</Span>
      提示特效（
      <TasteOfThunderPlayButton variant="lime" />
      ）出现后，再就位
    </div>
    <div class="paragraph">最终踩塔时，依然遵循之前的规则，如下图</div>
    <div class="flex gap-3">
      <div class="max-w-96">
    <CosImage
      src="imgs/07/m6s/layer_4/explosion_2.png"
      alt="Layer #4 Explosion: 2"
      class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
    />
      </div>
      <div class="max-w-96">
    <CosImage
      src="imgs/07/m6s/layer_4/explosion_3.png"
      alt="Layer #4 Explosion: 3"
      class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
    />
      </div>
    </div>
    <div class="paragraph">
      补充：若近战组4塔分布呈一条线状（如左图），则
      <RoleIcon role="tank" />
      靠内，
      <RoleIcon role="melee" />
      靠外
    </div>
    <h4 class="mt-12 text-2xl">
      <Span variant="lime">008模式</Span>
    </h4>
    <div class="paragraph">也就是塔按【南岛×8】分布，只有一种情况，如下图</div>
    <CosImage
      src="imgs/07/m6s/layer_4/solution_9.png"
      alt="Layer #4 Solution: 9"
      class="w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100"
    />
    <div class="paragraph mt-8">出现这种情况时，远程都往南岛飞，近战则在南岛右下角横向往左飞，如下图</div>
    <CosImage
      src="imgs/07/m6s/layer_4/solution_10.png"
      alt="Layer #4 Solution: 10"
      class="w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100"
    />
    <div class="paragraph">近战在右下集合是因为左下安全边缘比右下稍长，近战更不容易飞进岩浆</div>
    <div class="paragraph mt-8">
      飞到目标岛后先别急着踩塔，先等
      <Span variant="yellow">{TasteofThunder}</Span>
      提示特效（
      <TasteOfThunderPlayButton variant="lime" />
      ）出现后，再就位
    </div>
    <div class="paragraph">
      最终踩塔时，按下图站位，
      <RoleIcon role="tank" tag="MT" />
      尽量把
      <SugarRiot />
      拉到中间，防止近战罚站
    </div>
    <CosImage
      src="imgs/07/m6s/layer_4/explosion_4.png"
      alt="Layer #4 Explosion: 4"
      class="w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100"
    />
    <h4 class="mt-12 text-2xl">
      <Span variant="lime">减员时的补救措施</Span>
    </h4>
    <div class="paragraph">
      若塔判定前已有减员，则请
      <RoleIcon role="tank" />
      在塔判定前开启
      <LimitBreak role="tank" stage={3} />
      ，可覆盖炸塔伤害和之后的AoE伤害
    </div>
    <div class="paragraph">
      但请注意：
      <LimitBreak role="tank" />
      对炸塔的DoT伤害无效，因此炸塔后
      <RoleIcon role="healer" />
      要及时抬血
    </div>
  </div>
</SolutionSection>
