---
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

import Badge from '@/components/Badge.astro'
import EventSection from '@/components/section/EventSection.astro'
import LimitBreak from '@/components/action/LimitBreak.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import P from '@/components/typography/P.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import CastSection from '@/components/section/CastSection.astro'

import XReignCast from './_components/XReignCast.astro'
import ExtraplanarPursuitCast from './_components/ExtraplanarPursuitCast.astro'
import HowlingBlade from './_components/entities/HowlingBlade.astro'
import MoveToCenterEvent from './_components/MoveToCenterEvent.astro'
import BossAttackSection from './_components/BossAttackSection.astro'

import BeckonMoonlight from './_mechanics/BeckonMoonlight.astro'
import Shadowchase from './_mechanics/Shadowchase.astro'
import TrackingTremors from './_mechanics/TrackingTremors.astro'
import WealOfStone1 from './_mechanics/WealOfStone1.astro'
import WealOfStone2 from './_mechanics/WealOfStone2.astro'
import GreatDivide from './_mechanics/GreatDivide.astro'

import { translations } from './_translations'

const dutyId = '07/m8s1'

const base = '04:31.622'
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <NoteSection>P2阶段攻略的快慢会影响本阶段的时间节点，本页时间轴以P2攻略速度较慢为基准</NoteSection>
  <SeparatorSection />

  <MoveToCenterEvent time="04:31.622" />

  <SeparatorSection
    id="terrestrial-rage-shadowchase"
    title={`${translations.terrestrialRage} + ${translations.shadowchase}`}
  />
  <Shadowchase />

  <SeparatorSection
    id="wolves-reign-weal-of-stone"
    title={`${translations.wolvesReign} + ${translations.wealOfStone}`}
  />
  <XReignCast start="04:58.712" />
  <WealOfStone1 />
  <SeparatorSection />

  <BossAttackSection time="05:14.573" damage="60000" damageType="physical" />
  <BossAttackSection time="05:17.612" damage="60000" damageType="physical" />

  <GreatDivide start="05:19.593" phase="P3" />
  <NoteSection>
    <P>
      LB槽可能会在死刑后充满，可酌情使用
      <LimitBreak role="melee" stage={3} />
    </P>
  </NoteSection>

  <BossAttackSection time="05:26.037" damage="60000" damageType="physical" />
  <BossAttackSection time="05:29.055" damage="60000" damageType="physical" />

  <MoveToCenterEvent time="05:32.835" />

  <SeparatorSection
    id="terrestrial-rage-beckon-moonlight"
    title={`${translations.terrestrialRage} + ${translations.beckonMoonlight}`}
  />
  <BeckonMoonlight />
  <SeparatorSection />
  <MoveToCenterEvent time="06:00.224" />

  <SeparatorSection
    id="weal-of-stone-xfang"
    title={`${translations.wealOfStone} + ${translations.stonefang} | ${translations.windfang}`}
  />
  <WealOfStone2 />
  <SeparatorSection />

  <BossAttackSection time="06:12.599" damage="60000" damageType="physical" />

  <TrackingTremors
    start="06:13.522"
    activateTimes={[
      '06:19.407',
      '06:20.478',
      '06:21.547',
      '06:22.616',
      '06:23.688',
      '06:24.759',
      '06:25.829',
      '06:26.898',
    ]}
  />

  <BossAttackSection time="06:20.649" damage="60000" damageType="physical" />
  <BossAttackSection time="06:23.669" damage="60000" damageType="physical" />
  <BossAttackSection time="06:26.692" damage="60000" damageType="physical" />

  <ExtraplanarPursuitCast start="06:28.725" />
  <NoteSection>如果P2阶段打太慢，会跳过这次AoE</NoteSection>

  <BossAttackSection time="06:32.814" damage="60000" damageType="physical" />
  <BossAttackSection time="06:35.839" damage="60000" damageType="physical" />
  <BossAttackSection time="06:38.862" damage="60000" damageType="physical" />
  <BossAttackSection time="06:41.884" damage="60000" damageType="physical" />

  <ExtraplanarPursuitCast start="06:43.514" />

  <SeparatorSection id="extraplanar-feast" title={translations.extraplanarFeast} />
  <EventSection time="06:48.104">
    <HowlingBlade />
    不可选中
  </EventSection>
  <CastSection
    start="06:48.204"
    duration="3.7"
    ability={translations.extraplanarFeast}
    target
    damage="9999999"
    damageType="special"
  >
    <HowlingBlade slot="source" />
    <Badge variant="fuchsia">狂暴</Badge>
    <Badge variant="red">团灭</Badge>
  </CastSection>
</DutyStratLayout>
