---
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

import Badge from '@/components/Badge.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import EventSection from '@/components/section/EventSection.astro'
import LimitBreak from '@/components/action/LimitBreak.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import P from '@/components/typography/P.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import Skill from '@/components/typography/Skill.astro'
import DraftWarning from '@/components/DraftWarning.astro'

import Attack from './_components/Attack.astro'
import XReignCast from './_components/XReignCast.astro'
import ExtraplanarPursuitCast from './_components/ExtraplanarPursuitCast.astro'
import HowlingBlade from './_components/entities/HowlingBlade.astro'
import MoveToCenterEvent from './_components/MoveToCenterEvent.astro'

import BeckonMoonlight from './_mechanics/BeckonMoonlight.astro'
import Shadowchase from './_mechanics/Shadowchase.astro'
import TrackingTremors from './_mechanics/TrackingTremors.astro'
import WealOfStone from './_mechanics/WealOfStone.astro'
import Xfang from './_mechanics/Xfang.astro'
import GreatDivide from './_mechanics/GreatDivide.astro'

import { translations } from './_translations'

const dutyId = '07/m8s1'

const base = '04:27.478'
---

<DutyStratLayout dutyId={dutyId}>
  <SeparatorSection />
  <DraftWarning />
  <SeparatorSection />
  <MoveToCenterEvent time="04:31.622" base={base} />

  <SeparatorSection
    id="terrestrial-rage-shadowchase"
    title={`${translations.terrestrialRage} + ${translations.shadowchase}`}
  />
  <Shadowchase base={base} />
  <SeparatorSection />

  <!-- 群狼剑+土龙头 -->
  <SeparatorSection id="wolves-reign-weal-of-stone" title="地烈波" />
  <XReignCast start="04:58.712" base={base} />
  <WealOfStone start="05:10.290" base={base} />
  <Attack time="05:16.0" base={base} />
  <Attack time="05:19.0" base={base} />
  <GreatDivide start="05:19.593" base={base} phase="P3" />
  <Attack time="05:28.0" base={base} />
  <Attack time="05:31.0" base={base} />
  <MoveToCenterEvent time="05:32.835" base={base} />

  <!-- 四连刀 -->
  <SeparatorSection id="beckon-moonlight" title="幻狼招来 " />
  <BeckonMoonlight start="05:34.657" base={base} />
  <MoveToCenterEvent time="06:00.224" base={base} />
  <!-- TODO: 随机两个相邻斜点出土狼头 四个正点固定安全 这里我没写来个好哥哥补一下 -->
  <Xfang start="06:02.102" base={base} />
  <Attack time="06:14.0" base={base} />
  <TrackingTremors
    start="06:13.522"
    base={base}
    activateTimes={[
      '06:19.407',
      '06:20.478',
      '06:21.547',
      '06:22.616',
      '06:23.688',
      '06:24.759',
      '06:25.829',
      '06:26.898',
    ]}
  />
  <Attack time="06:22.0" base={base} />
  <Attack time="06:25.0" base={base} />
  <Attack time="06:28.0" base={base} />

  <SeparatorSection id="extraplanar-feast" title="空間斬り・終" />
  <!-- 打的慢的话这个aoe会跳过 -->
  <ExtraplanarPursuitCast start="06:28.725" base={base} />
  <NoteSection> 如果小怪阶段打太慢，会跳过一次AoE。 </NoteSection>
  <Attack time="06:34.0" base={base} />
  <Attack time="06:37.0" base={base} />
  <Attack time="06:40.0" base={base} />
  <Attack time="06:43.0" base={base} />
  <ExtraplanarPursuitCast start="06:43.514" base={base} />
  <MoveToCenterEvent time="06:48.319" base={base} />
  <NoteSection>
    <P>
      如果此时
      <HowlingBlade />
      剩余血量过多，请酌情使用
      <LimitBreak role="melee" stage={3} />
      。 输出充足的情况下可以留到转场后减轻dps压力。
    </P>
  </NoteSection>
  <EventSection time="06:48.0" base={base}>
    <HowlingBlade />
    不可选中，随后释放
    <Skill name="空間斬り・終" variant="fuchsia" />
    ，造成
    <DamageInfo damage="9999999" type="special" />
    <Badge variant="fuchsia">狂暴</Badge>
  </EventSection>
</DutyStratLayout>
