---
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

import Badge from '@/components/Badge.astro'
import CastSection from '@/components/section/CastSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import Span from '@/components/Span.vue'
import EventSection from '@/components/section/EventSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'

import Attack from './_components/Attack.astro'
import BeckonMoonlight from './_mechanics/BeckonMoonlight.astro'
import ExtraplanarPursuitCast from './_components/ExtraplanarPursuitCast.astro'
import GreatDivide from './_components/GreatDivide.astro'
import HowlingBladeIcon from './_components/HowlingBladeIcon.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import Recenter from './_components/RecenterEvent.astro'
import RetargetableEvent from './_components/RetargetableEvent.astro'
import ShadowChase from './_mechanics/ShadowChase.astro'
import TerrestrialRage from './_mechanics/TerrestrialRage.astro'
import TrackingTremorsCast from './_components/TrackingTremorsCast.astro'
import WealOfStone from './_mechanics/WealOfStone.astro'
import WolvesReignEndCast from './_components/WolvesReignEndCast.astro'
import WolvesReignLineCast from './_components/WolvesReignLineCast.astro'
import XReginCast from './_components/XReignCast.astro'
import WindWolfheadIcon from './_components/WindWolfheadIcon.astro'
import Xfang from './_mechanics/Xfang.astro'

const dutyId = '07/m8s1'
const base = '04:19.898'
---

<DutyStratLayout dutyId={dutyId}>
  <Attack time="04:29.0" base={base} />
  <Recenter time="04:31.0" base={base} />

  <SeparatorSection id="terrestrial-rage" title="大地の怒り" />
  <!-- 运动会读条 -->
  <TerrestrialRage start="04:34.950" base={base} />
  <EventSection time="04:45.483" base={base}>
    <Span variant="yellow">大震撃 | 大岩石</Span>
    <DamageInfo damage="110000" type="magical" />
    <MagicVulnerabilityUp tag="2" hover />
    判定
  </EventSection>

  <!-- 上天 -->
  <SeparatorSection id="shadowchase" title="残影剣" />
  <ShadowChase start="04:44.0" base={base} />
  <EventSection time="04:52.9" base={base}>
    <Span variant="yellow">大震撃 | 大岩石</Span>
    <DamageInfo damage="110000" type="magical" />
    <MagicVulnerabilityUp tag="2" hover />
    判定
  </EventSection>
  <RetargetableEvent time="04:55.0" base={base} />
  <CastSection start="04:55.0" base={base} duration={2.2}>
    <WindWolfheadIcon slot="source" />
    <Span variant="yellow">風狼豪波</Span>
    <Badge variant="yellow">直线AoE</Badge>
  </CastSection>

  <!-- 群狼剑+土龙头 -->
  <SeparatorSection id="weal-of-stone" title="地烈波" />
  <XReginCast time="04:57.5" base={base} />
  <WolvesReignLineCast time="05:05.382" base={base} />
  <WolvesReignEndCast time="05:08.395" base={base} />
  <WealOfStone start="05:10.290" base={base} />
  <Attack time="05:16.0" base={base} />
  <Attack time="05:19.0" base={base} />
  <GreatDivide start="05:19.593" base={base} />
  <Attack time="05:28.0" base={base} />
  <Attack time="05:31.0" base={base} />
  <Recenter time="05:31.0" base={base} />

  <!-- 四连刀 -->
  <SeparatorSection id="beckon-moonlight" title="幻狼招来 " />
  <BeckonMoonlight start="05:34.657" base={base} />
  <!-- TODO: 随机两个相邻斜点出土狼头 四个正点固定安全 这里我没写来个好哥哥补一下 -->
  <Xfang time="06:02.102" base={base} />
  <Attack time="06:14.0" base={base} />
  <TrackingTremorsCast start="6:13.522" base={base} />
  <Attack time="06:22.0" base={base} />
  <Attack time="06:25.0" base={base} />
  <Attack time="06:28.0" base={base} />

  <SeparatorSection id="extraplanar-feast" title="空間斬り・終" />
  <!-- 打的慢的话这个aoe会跳过 -->
  <ExtraplanarPursuitCast start="6:28.725" base={base} />
  <NoteSection>
    <div class="gap-strat flex items-center">如果小怪阶段打太慢，会跳过这个AoE。</div>
  </NoteSection>
  <Attack time="06:34.0" base={base} />
  <Attack time="06:37.0" base={base} />
  <Attack time="06:40.0" base={base} />
  <Attack time="06:43.0" base={base} />
  <ExtraplanarPursuitCast start="6:42.240" base={base} />
  <EventSection time="06:48.0" base={base}>
    <HowlingBladeIcon />
    不可选中，随后释放
    <Span variant="fuchsia">空間斬り・終</Span>
    ，造成
    <DamageInfo damage="9999999" type="special" />
    <Badge variant="fuchsia">狂暴</Badge>
  </EventSection>
</DutyStratLayout>
