---
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

import Badge from '@/components/Badge.astro'
import Span from '@/components/Span.vue'
import EventSection from '@/components/section/EventSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'

import Attack from './_components/Attack.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import ExtraplanarPursuit from './_components/ExtraplanarPursuit.astro'
import TerrestrialRage from './_mechanics/TerrestrialRage.astro'
import TrackingTremorsCast from './_components/TrackingTremorsCast.astro'
import MoveToCenterEvent from './_components/MoveToCenterEvent.astro'
import RetargetableEvent from './_components/RetargetableEvent.astro'
import UntargetableEvent from './_components/UntargetableEvent.astro'
import CastSection from '@/components/section/CastSection.astro'

const dutyId = '07/m8s1'
const base = '04:19.898'
---

<DutyStratLayout dutyId={dutyId}>
  <Attack time="04:29.0" base={base} />
  <MoveToCenterEvent time="04:31.0" base={base} />

  <SeparatorSection id="terrestrial-rage" title="大地の怒り" />
  <!-- 运动会读条 -->
  <TerrestrialRage start="04:34.950" base={base} />
  <CastSection start="04:44.0" base={base} ability="残影剣" duration={2.7}>
    。读条结束后变为不可选中，并召唤出五个分身。
  </CastSection>
  <EventSection time="04:45.483" base={base}>
    <Span variant="yellow">分摊/分散</Span>
    伤害
    <DamageInfo damage="110000" type="magical" />
    判定
  </EventSection>
  <UntargetableEvent time="04:47.0" base={base} />

  <SeparatorSection id="shadowchase" title="残影剣" />
  <EventSection time="04:52.9" base={base}>
    <Span variant="yellow">分摊/分散</Span>
    伤害
    <DamageInfo damage="110000" type="magical" />
    判定
  </EventSection>
  <SeparatorSection id="roaring-wind" title="風狼豪波" />
  <!-- 分摊分散后风龙头 -->
  <RetargetableEvent time="04:55.0" base={base} />

  <SeparatorSection id="weal-of-stone" title="地烈波" />
  <!-- 群狼剑后土龙头 -->
  <Attack time="05:16.0" base={base} />
  <Attack time="05:19.0" base={base} />
  <!-- 5分20秒有个死刑 这里可以复用之前的组件 -->
  <Attack time="05:28.0" base={base} />
  <Attack time="05:31.0" base={base} />
  <MoveToCenterEvent time="05:31.0" base={base} />

  <SeparatorSection id="beckon-moonlight" title="幻狼招来 " />
  <!-- 四连刀 -->
  <Attack time="06:14.0" base={base} />
  <TrackingTremorsCast start="6:13.522" base={base} />

  <Attack time="06:22.0" base={base} />
  <Attack time="06:25.0" base={base} />
  <Attack time="06:28.0" base={base} />
  <ExtraplanarPursuit start="6:28.725" base={base} />
  <!-- 打的慢的话这个aoe会跳过 -->
  <NoteSection>
    <div class="gap-strat flex items-center">如果小怪阶段打太慢，会跳过这个AoE</div>
  </NoteSection>
  <Attack time="06:34.0" base={base} />
  <Attack time="06:37.0" base={base} />
  <Attack time="06:40.0" base={base} />
  <Attack time="06:43.0" base={base} />
  <ExtraplanarPursuit start="6:42.240" base={base} />
  <EventSection time="06:48.0" base={base}>
    BOSS不可选中，随后释放
    <Span variant="fuchsia">空間斬り</Span>
    <DamageInfo damage="9999999" type="special" />
    <Badge variant="fuchsia">狂暴</Badge>
  </EventSection>
</DutyStratLayout>
