---
import CollapsibleBox from '@/components/CollapsibleBox.vue'
import DutyHomeLayout from '@/layouts/DutyHomeLayout.astro'
import Macro from '@/components/Macro.astro'

import CheatsheetDialog from '@/components/CheatsheetDialog.vue'
import ReferenceItem from '@/components/ReferenceItem.astro'

import CheatsheetsImage from '@/assets/cheatsheets/07/m5s.png?url'
import WaymarkImage from '@/assets/waymarks/07/m5s.png?url'
import TimelineImage from '@/assets/timelines/07/m5s.png?url'

import { macro } from './_data/macro'
import { referenceList } from './_data/reference'

const dutyId = '07/m5s'
const navList = [
  { label: '场地标点', id: 'waymark' },
  { label: '宏', id: 'macro' },
  { label: '简易时间轴', id: 'timeline' },
  { label: '参考资料', id: 'reference' },
  { label: '鸣谢', id: 'thanks' },
]
---

<DutyHomeLayout dutyId={dutyId} navList={navList}>
  <Fragment slot="operation">
    <CheatsheetDialog client:idle src={CheatsheetsImage} />
    <a href="/07/m5s/p1">
      <button
        class="flex w-max cursor-pointer items-center justify-between rounded-lg border border-purple-400 bg-purple-500 p-2 px-4 align-middle text-white hover:bg-purple-700/60 dark:border-purple-500 dark:bg-purple-700/75"
      >
        查看正文
      </button>
    </a>
  </Fragment>
  <CollapsibleBox id="waymark" client:idle class="w-full">
    <div class="w-sm">
      <img src={WaymarkImage} alt="M5S 场地标点" class="w-full" />
    </div>
    <Fragment slot="header">
      <span>场地标点</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="macro" client:idle class="w-full">
    <Macro text={macro} />
    <Fragment slot="header">
      <span>宏</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="timeline" client:idle class="w-full">
    <img src={TimelineImage} alt="M5S 简易时间轴" class="w-full" />
    <Fragment slot="header">
      <span>简易时间轴</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="reference" client:idle class="w-full">
    <ReferenceItem list={referenceList} />
    <Fragment slot="header">
      <span>参考资料</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="thanks" client:idle class="w-full">
    谢谢你谢谢我谢谢他谢谢她谢谢它谢谢所有人
    <Fragment slot="header">
      <span>鸣谢</span>
    </Fragment>
  </CollapsibleBox>
</DutyHomeLayout>
