---
import { Image } from 'astro:assets'

import DutyHomeLayout from '@/layouts/DutyHomeLayout.astro'
import WaymarkBox from '@/components/WaymarkBox.astro'
import CollapsibleBox from '@/components/CollapsibleBox.vue'
import AreaBox from '@/components/AreaBox.astro'
import ResizableImageDialog from '@/components/ResizableImageDialog.vue'
import Macro from '@/components/Macro.astro'
import ReferenceItem from '@/components/ReferenceItem.astro'
import Thanks from '@/components/thanks/Thanks.astro'

import CheatsheetsImage from '@/assets/cheatsheets/07/m5s.png'
import WaymarkImage from '@/assets/waymarks/07/m5s.png'
import TimelineImage from '@/assets/timelines/07/m5s.png'

import { macro } from './_data/macro'
import { referenceList } from './_data/reference'
import { thanksList } from './_data/thanks'

const dutyId = '07/m5s'
const navList = [
  { label: '小抄速览', id: 'cheatsheet' },
  { label: '场地标点', id: 'waymark' },
  { label: '宏', id: 'macro' },
  { label: '简易时间轴', id: 'timeline' },
  { label: '参考资料', id: 'reference' },
  { label: '鸣谢', id: 'thanks' },
]
---

<DutyHomeLayout dutyId={dutyId} navList={navList}>
  <Fragment slot="operation">
    <a href="/07/m5s/p1">
      <button
        class="flex w-max cursor-pointer items-center justify-between rounded-lg border border-purple-400 bg-purple-500 p-2 px-4 align-middle text-white hover:bg-purple-700/60 dark:border-purple-500 dark:bg-purple-700/75"
      >
        查看正文
      </button>
    </a>
  </Fragment>
  <CollapsibleBox id="cheatsheet" client:idle class="w-full">
    <Fragment slot="header">
      <span>小抄速览</span>
    </Fragment>
    <AreaBox>
      <ResizableImageDialog client:idle>
        <Image src={CheatsheetsImage} alt="m5s 副本小抄" loading="lazy" class="h-full object-contain object-left-top" />
      </ResizableImageDialog>
    </AreaBox>
  </CollapsibleBox>
  <CollapsibleBox id="waymark" client:idle class="w-full">
    <WaymarkBox href="/waymarks/07/AacCruiserweight/UISAVE.DAT" img={WaymarkImage} />
    <Fragment slot="header">
      <span>场地标点</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="macro" client:idle class="w-full">
    <Macro text={macro} title="M5S - 站位" />
    <Fragment slot="header">
      <span>宏</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="timeline" client:idle class="w-full">
    <AreaBox>
      <ResizableImageDialog client:idle>
        <Image src={TimelineImage} alt="m5s 简易时间轴" class="w-full object-contain object-left-top" />
      </ResizableImageDialog>
    </AreaBox>
    <Fragment slot="header">
      <span>简易时间轴</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="reference" client:idle class="w-full">
    <ReferenceItem list={referenceList} />
    <Fragment slot="header">
      <span>参考资料</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="thanks" client:idle class="w-full">
    <Thanks devList={thanksList.devList} other={thanksList.other ?? []} groupList={thanksList.groupList} />
    <Fragment slot="header">
      <span>鸣谢</span>
    </Fragment>
  </CollapsibleBox>
</DutyHomeLayout>
