---
import CosImage from '@/components/CosImage.astro'

import ListDot from '@/components/ListDot.astro'
import ParodyWordBox from '@/components/ParodyWordBox.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import StratInterval from '@/components/StratInterval.astro'
import EventSection from '@/components/section/EventSection.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import MultiSolutionSection from '@/components/section/MultiSolutionSection.vue'
import NoteSection from '@/components/section/NoteSection.astro'

import ColorClashActivate from '../_components/ColorClashActivate.astro'
import DoubleStyleCast from '../_components/DoubleStyleCast.astro'
import SugarRiot from '../_components/SugarRiot.astro'
import WingmarkDebuff from '../_components/WingmarkDebuff.astro'

import { translations } from '../_translations'

const solutions = [
  {
    id: 'double-style-p1-solution-common',
    title: '解法：常规站位',
  },
  {
    id: 'double-style-p1-solution-caster-optimize',
    title: '解法：读条职业优化',
  },
]
const defaultSolution = '解法：常规站位'

const { ColorClash, DoubleStyle } = translations
---

<DoubleStyleCast start="00:45.493" duration={12.6} />
<EventSection>
  <StratInterval slot="time" start="00:56.883" end="00:59.904" />
  <Fragment>
    <RoleIcon role="all" tag="全员" />
    眩晕
  </Fragment>
</EventSection>
<EventSection>
  <StratInterval slot="time" start="00:58.093" end="00:59.904" />
  <Fragment>
    <RoleIcon role="all" tag="全员" />
    强制向面向方向飞行34m
  </Fragment>
</EventSection>
<EventSection>
  <StratInterval slot="time" start="01:00.659" end="01:01.636" />
  <Fragment>
    <RoleIcon role="enemy_level1">
      <Span variant="rose">绘画图案</Span>
    </RoleIcon>
    读条，发动相应图案效果
  </Fragment>
</EventSection>
<ColorClashActivate time="01:02.127" />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <h4 class="text-2xl">
      <Span variant="yellow">{DoubleStyle}</Span>
    </h4>
    <div class="paragraph">
      <SugarRiot />
      双手各画出一幅图案，预示接下来要发动的攻击
    </div>
    <div class="paragraph -my-4">
      左手有
      <CosImage src="imgs/07/m6s/paint_mark/bomb@3x.png" alt="Paint Mark: Bomb" class="-mx-5 w-25 drop-shadow-sm drop-shadow-black" />
      <CosImage src="imgs/07/m6s/paint_mark/hanebomb@3x.png" alt="Paint Mark: Hanebomb" class="-mr-6 -ml-4 w-25 drop-shadow-sm drop-shadow-black" />
      <CosImage src="imgs/07/m6s/paint_mark/morbol@3x.png" alt="Paint Mark: Morbol" class="-mr-4 -ml-2 w-25 drop-shadow-sm drop-shadow-black" />
      <CosImage src="imgs/07/m6s/paint_mark/succubus@3x.png" alt="Paint Mark: Succubus" class="-mx-2 w-25 drop-shadow-sm drop-shadow-black" />
      四种可能
    </div>
    <div class="paragraph -my-4">
      右手则只有
      <CosImage src="imgs/07/m6s/paint_mark/morbol@3x.png" alt="Paint Mark: Morbol" class="-mr-4 -ml-2 w-25 drop-shadow-sm drop-shadow-black" />
      <CosImage src="imgs/07/m6s/paint_mark/succubus@3x.png" alt="Paint Mark: Succubus" class="-mx-2 w-25 drop-shadow-sm drop-shadow-black" />
      两种可能
    </div>
    <div class="paragraph">图案出现后会连线场地某处，表示读条结束后会在该位置处发动图案对应的效果</div>
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">单图案效果拆解</Span>
    </h4>
    <div class="grid grid-cols-[minmax(0,22.5rem)_minmax(30rem,1fr)] gap-4">
      <CosImage
        src="imgs/07/m6s/double_style/bomb.png"
        alt="Double Style Single Bomb"
        class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
      />
      <div class="flex flex-col gap-4 rounded-md border border-dashed p-4">
        <h4 class="text-xl">
          <Span variant="yellow">涂鸦爆弹怪</Span>
        </h4>
        <div class="paragraph">只有这一种情况，固定连线如图所示位置</div>
        <div class="paragraph">
          涂鸦爆弹怪位于距离场地中轴线
          <Span variant="pink">8m</Span>
          处，间隔
          <Span variant="pink">17m</Span>
          ，爆炸半径
          <Span variant="pink">15m</Span>
        </div>
      </div>
      <CosImage
        src="imgs/07/m6s/double_style/hanebomb.png"
        alt="Double Style Single Hanebomb"
        class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
      />
      <div class="flex flex-col gap-4 rounded-md border border-dashed p-4">
        <h4 class="text-xl">
          <Span variant="yellow">翅膀爆弹怪</Span>
        </h4>
        <div class="paragraph">只有这一种情况，固定连线如图所示位置（同涂鸦爆弹怪）</div>
        <div class="paragraph">
          但最后涂鸦爆弹怪会向右飞
          <Span variant="pink">16m</Span>
          到对称的位置再爆炸
        </div>
      </div>
      <CosImage
        src="imgs/07/m6s/double_style/morbol.png"
        alt="Double Style Single Morbol"
        class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
      />
      <div class="flex flex-col gap-4 rounded-md border border-dashed p-4">
        <h4 class="text-xl">
          <Span variant="yellow">魔界花</Span>
        </h4>
        <div class="paragraph">连线任意场边中点（左手不会连东边，右手不会连西边）</div>
        <div class="paragraph">图示以右手魔界花连线东边中点为例</div>
        <div class="paragraph">
          魔界花会面向场内释放角度
          <Span variant="pink">100°</Span>
          的扇形AoE
        </div>
      </div>
      <CosImage
        src="imgs/07/m6s/double_style/succubus.png"
        alt="Double Style Single Succubus"
        class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
      />
      <div class="flex flex-col gap-4 rounded-md border border-dashed p-4">
        <h4 class="text-xl">
          <Span variant="yellow">梦魔</Span>
        </h4>
        <div class="paragraph">连线任意场边中点（左手不会连东边，右手不会连西边）</div>
        <div class="paragraph">图示以右手梦魔连线北边中点为例</div>
        <div class="paragraph">
          梦魔会释放半径
          <Span variant="pink">30m</Span>
          的大范围圆形AoE
        </div>
      </div>
    </div>
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">双图案组合效果</Span>
    </h4>
    <div class="grid grid-cols-4 gap-x-2 gap-y-4">
      <div class="flex flex-col items-center gap-1">
        <CosImage
          src="imgs/07/m6s/double_style/bomb_morbol.png"
          alt="Double Style Bomb & Morbol"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div>涂鸦爆弹怪 + 魔界花</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <CosImage
          src="imgs/07/m6s/double_style/bomb_succubus.png"
          alt="Double Style Bomb & Succubus"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div>涂鸦爆弹怪 + 梦魔</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <CosImage
          src="imgs/07/m6s/double_style/hanebomb_morbol.png"
          alt="Double Style Hanebomb & Morbol"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div>翅膀爆弹怪 + 魔界花</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <CosImage
          src="imgs/07/m6s/double_style/hanebomb_succubus.png"
          alt="Double Style Hanebomb & Succubus"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div>翅膀爆弹怪 + 梦魔</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <CosImage
          src="imgs/07/m6s/double_style/morbol_morbol.png"
          alt="Double Style Morbol & Morbol"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div>魔界花 + 魔界花</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <CosImage
          src="imgs/07/m6s/double_style/morbol_succubus.png"
          alt="Double Style Morbol & Succubus"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div>魔界花 + 梦魔</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <CosImage
          src="imgs/07/m6s/double_style/succubus_morbol.png"
          alt="Double Style Succubus & Morbol"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div>梦魔 + 魔界花</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <CosImage
          src="imgs/07/m6s/double_style/succubus_succubus.png"
          alt="Double Style Succubus & Succubus"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div>梦魔 + 梦魔</div>
      </div>
    </div>
    <div class="paragraph">
      注意：双手图案无论如何连线，都只会有
      <Span variant="pink">唯一</Span>
      一个安全角落，不会出现有多个安全角落的情况
    </div>
  </div>
</MechanicSection>
<NoteSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      在
      <Span variant="yellow">{DoubleStyle}</Span>
      图案效果判定前，
      <WingmarkDebuff hover />
      也会判定，强制让玩家飞行一段距离
    </div>
    <div class="paragraph">
      由于
      <Span variant="yellow">{DoubleStyle}</Span>
      会让场地只有一角安全，玩家需要预先调整位置，让自己飞到安全角落
    </div>
    <div class="paragraph">
      接着
      <Span variant="yellow">{ColorClash}</Span>
      会和
      <Span variant="yellow">{DoubleStyle}</Span>
      几乎同时发动，玩家需要在安全角落处理四四/二二分摊
    </div>
  </div>
</NoteSection>
<MultiSolutionSection solutions={solutions} defaultSolution={defaultSolution} client:idle>
  <div slot="解法：常规站位" class="flex flex-col gap-4">
    <div class="paragraph">首先要找到安全角落</div>
    <div class="paragraph -my-4">
      显然，远离
      <CosImage src="imgs/07/m6s/paint_mark/bomb@3x.png" alt="Paint Mark: Bomb" class="-mx-5 w-25 drop-shadow-sm drop-shadow-black" />
      和
      <CosImage src="imgs/07/m6s/paint_mark/succubus@3x.png" alt="Paint Mark: Succubus" class="-mr-2 -ml-3 w-25 drop-shadow-sm drop-shadow-black" />
      ，以及靠近
      <CosImage src="imgs/07/m6s/paint_mark/hanebomb@3x.png" alt="Paint Mark: Hanebomb" class="-mr-6 -ml-4 w-25 drop-shadow-sm drop-shadow-black" />
      和
      <CosImage src="imgs/07/m6s/paint_mark/morbol@3x.png" alt="Paint Mark: Morbol" class="-mr-3 -ml-2 w-25 drop-shadow-sm drop-shadow-black" />
      连线末端的角落是安全的
    </div>
    <div class="paragraph">但由于玩家会先经历强制飞行，因此可以反过来记：</div>
    <div class="paragraph">
      <ListDot />
      先找到
      <Span variant="pink">靠近</Span>
      <Span variant="yellow">涂鸦爆弹怪</Span>
      和
      <Span variant="yellow">梦魔</Span>
      ，并且
      <Span variant="pink">远离</Span>
      <Span variant="yellow">翅膀爆弹怪</Span>
      和
      <Span variant="yellow">魔界花</Span>
      连线末端的数字点
    </div>
    <div class="paragraph pl-6">
      <ListDot />
      <ParodyWordBox> 梦魔涩涩的，我们要靠近；魔界花臭臭的，我们要远离 </ParodyWordBox>
    </div>
    <div class="paragraph">
      <ListDot />
      在数字点内，
      <Span variant="pink">面朝对角</Span>
      ，等待飞行即可
    </div>
    <div class="paragraph mt-8">若采用本站标点，站入数字标点刚好会飞行到对角的适中位置，方便后续分散</div>
    <CosImage src="imgs/07/m6s/wingmark.png" alt="Wingmark" class="w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100" />
    <div class="paragraph mt-8">接着在安全角落处理四四/二二分摊，以场中为12点，如下图站位（以东南角安全为例）</div>
    <div class="flex gap-4">
      <div class="flex max-w-80 shrink flex-col items-center gap-2">
        <CosImage src="imgs/07/m6s/double_style/color_clash_44.png" alt="Color Clash 44" />
        <div>情形1：四四分摊</div>
      </div>
      <div class="flex max-w-80 shrink flex-col items-center gap-2">
        <CosImage src="imgs/07/m6s/double_style/color_clash_22.png" alt="Color Clash 22" />
        <div>情形2：二二分摊</div>
      </div>
    </div>
    <div class="paragraph mt-4">二二分摊时，中间靠上的人只要不站进数字标点就是绝对安全的</div>
    <div class="paragraph opacity-80">
      注：此处是把所有类型的AoE范围铺满来展示绝对安全区域，实战安全区域是会比上图要大的
    </div>
  </div>
  <div slot="解法：读条职业优化" class="flex flex-col gap-4">
    <div class="paragraph">四四分摊站位不变，二二分摊站位变更如下</div>
    <CosImage src="imgs/07/m6s/double_style/color_clash_22_optimize.png" alt="Color Clash 22 Optimize" class="w-80" />
    <div class="paragraph">
      缺点是
      <RoleIcon role="tank" tag="ST" />
      需要多跑几步才能突进回场中
    </div>
  </div>
</MultiSolutionSection>
