---
import type { Time } from '@/lib/utils'

import { Image } from 'astro:assets'

import Badge from '@/components/Badge.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import Span from '@/components/Span.vue'
import DamageDown from '@/components/buff/DamageDown.astro'
import CastSection from '@/components/section/CastSection.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import SugarRiot from '../_components/SugarRiot.astro'

import arrow from '@/assets/07/m6s/paint_mark/arrow@3x.png'
import single_style_1 from '@/assets/07/m6s/single_style_1.png'
import single_style_2 from '@/assets/07/m6s/single_style_2.png'
import { translations } from '../_translations'

interface Props {
  base?: Time
}

const { base = 0 }: Props = Astro.props
---

<CastSection
  start="06:32.707"
  base={base}
  duration={6.6}
  adjustDuration={false}
  ability={translations.SingleStyle}
  class="-my-8"
>
  <SugarRiot slot="source" />
  绘制
  <Image src={arrow} alt="Paint Mark: Arrow" class="-mx-5.5 w-30 drop-shadow-sm drop-shadow-black" />
  <Badge variant="emerald">7m宽井字切</Badge>
</CastSection>
<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      <SugarRiot />
      绘制箭矢图案并连线场外，连线末端会生成箭矢实体
    </div>
    <div class="paragraph">
      箭矢出现后，读条
      <Span variant="yellow">{translations.Rush}</Span>
      <DamageInfo damage="170000" type="physical" />
      <DamageDown tag="30" />
      <Span variant="rose" class="text-decimal">30%↓</Span>
      ，形成宽度
      <Span variant="pink">7m</Span>
      的井字形AoE，只有如下两种情况：
    </div>
    <div class="flex gap-3">
      <div class="max-w-96">
        <Image src={single_style_1} alt="Single Style: 1" class="border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div>
      <div class="max-w-96">
        <Image src={single_style_2} alt="Single Style: 2" class="border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div>
    </div>
  </div>
</MechanicSection>
<SolutionSection>
  <div class="paragraph">根据场边连线提示，躲开即可</div>
</SolutionSection>
