---
import { timeToSeconds } from '@/lib/utils'

import CosImage from '@/components/CosImage.astro'

import DamageInfo from '@/components/DamageInfo.astro'
import DotInfo from '@/components/DotInfo.astro'
import ListDot from '@/components/ListDot.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import DamageDown from '@/components/buff/DamageDown.astro'
import FireResistanceDownII from '@/components/buff/FireResistanceDownII.astro'
import EventSection from '@/components/section/EventSection.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'

import BurningUpDebuff from '../_components/BurningUpDebuff.astro'
import HeatingUpDebuff from '../_components/HeatingUpDebuff.astro'
import SugarscapeCast from '../_components/SugarscapeCast.astro'
import SugarRiot from '../_components/SugarRiot.astro'
import SwelteringDebuff from '../_components/SwelteringDebuff.astro'

import { translations } from '../_translations'

const start = '01:30.298'
const duration = 7.7
const adjustedDuration = duration + 0.3
const end = timeToSeconds(start) + adjustedDuration

const { Sugarscape, HeatingUp, BurningUp, Brûlée, CrowdBrûlée } = translations
---

<SugarscapeCast start={start} end={end}>
  ，场地变换为沙漠，
  <RoleIcon role="all" tag="全员" />
  被赋予
  <SwelteringDebuff hover />
  <DotInfo damage="15000" />
</SugarscapeCast>
<EventSection time={end}>
  <RoleIcon role="healer" tag="H1" />
  <RoleIcon role="healer" tag="H2" />
  被赋予
  <HeatingUpDebuff tag="74" hover />
  ，随机
  <Span variant="default">1</Span>
  <RoleIcon role="tank" />
  <Span variant="default">1</Span>
  <RoleIcon role="dps" />
  被赋予
  <HeatingUpDebuff tag="43" hover />
  ，随机
  <Span variant="default">1</Span>
  无
  <HeatingUpDebuff hover />
  的
  <RoleIcon role="dps" />
  被赋予
  <BurningUpDebuff tag="43" hover />
</EventSection>
<MechanicSection>
  <div class="flex flex-col gap-4">
    <h4 class="text-2xl">
      <Span variant="yellow">{Sugarscape}</Span>
    </h4>
    <div class="paragraph">
      <SugarRiot />
      连线场外北侧画卷，绘制如下图案
    </div>
    <CosImage src="imgs/07/m6s/paint/1.png" alt="Sugarscape Paint P2" class="w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100" />
    <div class="paragraph mt-8">
      <SugarRiot />
      读条结束后，画卷具现化，场地变换为沙漠，如下图
    </div>
    <CosImage src="imgs/07/m6s/floor_p2.png" alt="P2 Floor" class="w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100" />
    <div class="paragraph">
      同时，全员被赋予永续
      <SwelteringDebuff hover /><DotInfo damage="15000" />
      ，该
      <Span variant="default">DoT</Span>
      伤害不受
      <RoleIcon role="tank" />
      被动减免，对
      <RoleIcon role="all" tag="全员" />
      伤害一致
    </div>
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">{HeatingUp}</Span>
    </h4>
    <div class="paragraph">
      <RoleIcon role="healer" tag="H1" />
      <RoleIcon role="healer" tag="H2" />
      被赋予
      <HeatingUpDebuff tag="74" hover />
      ，随机
      <Span variant="default">1</Span>
      <RoleIcon role="tank" />
      <Span variant="default">1</Span>
      <RoleIcon role="dps" />
      被赋予
      <HeatingUpDebuff tag="43" hover />
    </div>
    <div class="paragraph">
      <HeatingUpDebuff hover />
      倒计时结束后会爆炸，产生半径
      <Span variant="pink">15m</Span>
      的圆形AoE：
    </div>
    <div class="paragraph pl-4">
      <ListDot />
      对持有者造成
      <Span variant="yellow">{Brûlée}</Span>
      <DamageInfo damage="100000" type="magical" />
      <FireResistanceDownII tag="3" hover />
    </div>
    <div class="paragraph pl-4">
      <ListDot />
      对范围内其他人造成
      <Span variant="yellow">{Brûlée}</Span>
      <DamageInfo damage="100000" type="magical" />
      <FireResistanceDownII tag="3" hover />
      <DamageDown tag="30" hover />
      <Span variant="rose" class="text-decimal">30%↓</Span>
    </div>
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">{BurningUp}</Span>
    </h4>
    <div class="paragraph">
      随机
      <Span variant="default">1</Span>
      无
      <HeatingUpDebuff hover />
      的
      <RoleIcon role="dps" />
      被赋予
      <BurningUpDebuff tag="43" hover />
    </div>
    <div class="paragraph">
      <BurningUpDebuff hover />
      倒计时结束后会爆炸，产生可分摊的半径
      <Span variant="pink">5m</Span>
      的圆形AoE
    </div>
    <div class="paragraph">
      6人分摊时每人受到
      <Span variant="yellow">{CrowdBrûlée}</Span>
      <DamageInfo damage="100000" type="magical" />
    </div>
  </div>
</MechanicSection>
