---
import Buff from '@/components/Buff.astro'
import Span from '@/components/Span.vue'

import icon from '@/assets/buff/215519.png'

interface Props {
  tag?: string
  hover?: boolean
  class?: string
  percent?: number
}

const { tag = '', hover = false, class: className = '', percent = undefined }: Props = Astro.props
---

<Buff
  icon={icon}
  name="伤害提高"
  nameVariant="yellow"
  description="攻击所造成的伤害提高"
  tag={tag}
  hover={hover}
  class={className}
/>
{percent !== undefined && <Span variant="lime" class="text-decimal">{`${percent}%↑`}</Span>}
