---
import type { Time } from '@/lib/utils'

import Badge from '@/components/Badge.astro'
import Span from '@/components/Span.vue'
import EventSection from '@/components/section/EventSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'

import HowlingBlade from '../_components/entities/HowlingBlade.astro'

import { translations } from '../_translations'

interface Props {
  time: Time
  base?: Time
  reverse?: boolean
}

const ability = translations.gust
const damage = '105000'
const damageType = 'magical'

const { time, base = 0, reverse = false }: Props = Astro.props
---

<EventSection time={time} base={base}>
  <HowlingBlade />
  {
    reverse ? (
      <>
        点名<Span variant="pink">4</Span>
        <RoleIcon role="dps" />或<Span variant="pink">4</Span>
        <RoleIcon role="tank|healer" />
      </>
    ) : (
      <>
        点名<Span variant="pink">4</Span>
        <RoleIcon role="tank|healer" />或<Span variant="pink">4</Span>
        <RoleIcon role="dps" />
      </>
    )
  }
  <Span variant="yellow">{ability}</Span>
  <DamageInfo damage={damage} type={damageType} />
  <MagicVulnerabilityUp tag="7" hover />
  <Badge variant="emerald">5m圆形</Badge>
  <Badge variant="yellow">分散</Badge>
</EventSection>
