---
import type { Time } from '@/lib/utils'
import { timeToSeconds } from '@/lib/utils'

import CastSection from '@/components/section/CastSection.astro'
import Span from '@/components/Span.vue'
import Badge from '@/components/Badge.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import EventSection from '@/components/section/EventSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import PhysicalVulnerabilityUp from '@/components/buff/PhysicalVulnerabilityUp.astro'

import HowlingBlade from '../_components/HowlingBlade.astro'

interface Props {
  time?: Time
  base?: Time
}

const { time, base = 0 }: Props = Astro.props

const duration = 1.2

const damageApplyTime =
  time !== undefined
    ? timeToSeconds(time) + duration + 0.3 // 修正延迟，计算伤害生效时间
    : undefined

// const revolutionaryReign = "Revolutionary Reign"
// const eminentReign = "Eminent Reign"

const reignEnd = "Reign's End"
const sovereignScar = 'Sovereign Scar'
const abilityName = '群狼劍'
---

<CastSection start={time} base={base} duration={duration} ability={abilityName}>
  <HowlingBlade slot="source" />

  <Badge variant="emerald">钢铁/扇形</Badge>
</CastSection>

<EventSection time={damageApplyTime}>
  <HowlingBlade />
  使用
  <Span variant="yellow"> {reignEnd} </Span>
  对
  <RoleIcon role="tank" tag="双T" />
  <DamageInfo damage="360000" type="physical" />
  <PhysicalVulnerabilityUp tag="1" hover />
  <Badge variant="green">60°扇形</Badge>
  <Badge variant="red">死刑</Badge>
</EventSection>

<EventSection time={damageApplyTime}>
  <HowlingBlade />
  使用
  <Span variant="yellow"> {sovereignScar} </Span>
  对
  <RoleIcon role="healer" tag="双奶" />
  <DamageInfo damage="500000" type="physical" />
  <PhysicalVulnerabilityUp tag="1" hover />
  <Badge variant="green">30°扇形</Badge>
  <Badge variant="purple">分摊</Badge>
</EventSection>
