---
import type { VariantType } from '@/lib/variant'
import type { Img } from '@/components/typography/img'

import Separator from '@/components/Separator.astro'
import Span from '@/components/Span.vue'
import ImgWrapper from '@/components/typography/ImgWrapper.astro'
import { cn } from '@/lib/utils'

interface Props {
  columnTitles: string[]
  rows: {
    title: string
    titleVariant?: VariantType
    cells: {
      img?: Img
      class?: string
    }[]
  }[]
  columnWidth?: string
  class?: string
  defaultImgWrapperStyle?: {
    bordered?: boolean
    borderVariant?: VariantType
    rounded?: boolean
    class?: string
    imgClass?: string
    titleClass?: string
  }
  [key: string]: any
}

const {
  columnTitles,
  rows,
  columnWidth = '24rem',
  class: className = '',
  defaultImgWrapperStyle = {},
  ...rest
}: Props = Astro.props

const defaultTitleClass = 'flex justify-center text-lg font-bold tracking-wider'
const colCount = columnTitles.length
const rowCount = rows.length
---

<div
  class={cn('grid', className)}
  style={{
    '--col-count': colCount,
    '--row-count': rowCount,
    '--col-width': columnWidth,
    'grid-template-columns': `min-content repeat(${colCount}, 1px minmax(0, ${columnWidth}))`,
    'grid-template-rows': `min-content repeat(${rowCount}, 1px 1fr)`,
  }}
  {...rest}
>
  <!-- 第一列垂直分隔线 -->
  <Separator class="col-start-2" orientation="vertical" />

  <!-- 列标题 -->
  {
    columnTitles.map((title, index) => (
      <>
        <div class={cn(defaultTitleClass, 'pb-2')}>{title}</div>
        {index < columnTitles.length - 1 && <Separator orientation="vertical" />}
      </>
    ))
  }

  <!-- 标题行下的水平分隔线 -->
  <Separator class="col-span-full" />

  <!-- 数据行 -->
  {
    rows.map((row, rowIndex) => (
      <>
        <div class={cn(defaultTitleClass, 'pr-2 [text-orientation:mixed] [writing-mode:vertical-lr]')}>
          <Span variant={row.titleVariant || 'default'}>{row.title}</Span>
        </div>
        <Separator orientation="vertical" />

        {row.cells.map((cell, cellIndex) => (
          <>
            <div class={`px-3 py-2 ${cell.class || ''}`}>
              {cell.img && (
                <ImgWrapper
                  {...cell.img}
                  bordered={cell.img.bordered ?? defaultImgWrapperStyle.bordered}
                  borderVariant={cell.img.borderVariant ?? defaultImgWrapperStyle.borderVariant}
                  rounded={cell.img.rounded ?? defaultImgWrapperStyle.rounded}
                  class={cell.img.class ?? defaultImgWrapperStyle.class}
                  imgClass={cell.img.imgClass ?? defaultImgWrapperStyle.imgClass}
                  titleClass={cell.img.titleClass ?? defaultImgWrapperStyle.titleClass}
                />
              )}
            </div>
            {cellIndex < row.cells.length - 1 && <Separator orientation="vertical" />}
          </>
        ))}

        {rowIndex < rows.length - 1 && <Separator class="col-span-full" />}
      </>
    ))
  }
</div>
