---
import { borderColorMap, type Img } from '@/components/typography/img'

import CosImage from '@/components/CosImage.astro'

import { cn } from '@/lib/utils'

interface Props extends Img {
  [key: string]: unknown
}

const {
  src,
  alt,
  title = '',
  bordered = true,
  borderVariant = 'default',
  rounded = false,
  class: className = '', // 根 div 的类
  imgClass = '', // Image 本身的类
  borderClass = '', // Image 父 div 的类，该 div 用来作边框，这样可以让图片内容超出边框，更灵活
  titleClass = '', // 下标题的类
  ...rest
} = Astro.props

const borderColorClass = borderColorMap[borderVariant]
---

<div class={cn(title && 'flex flex-col items-center gap-2', 'max-w-90', className)} {...rest}>
  <div
    class={cn(bordered && 'border-2', bordered && rounded && 'rounded-full', bordered && borderColorClass, borderClass)}
  >
    <CosImage src={src} alt={alt} class={imgClass} />
  </div>
  {title && <div class={titleClass}>{title}</div>}
</div>
