---
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

import Boss from '@/components/Boss.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import StratLink from '@/components/StratLink.astro'
import AttackSection from '@/components/section/AttackSection.astro'
import EventSection from '@/components/section/EventSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'

import CelebrateGoodTimesCast from './_components/CelebrateGoodTimesCast.astro'
import DeepCutCast from './_components/DeepCutCast.astro'
import FlipToXSideCast from './_components/FlipToXSideCast.astro'
import MoveToCenterEvent from './_components/MoveToCenterEvent.astro'
import PlayXSideCast from './_components/PlayXSideCast.astro'
import XSnapTwistAndDropTheNeedleCast from './_components/XSnapTwistAndDropTheNeedleCast.astro'

import ArcadyNightFever from './_mechanics/ArcadyNightFever.astro'
import DeepCut from './_mechanics/DeepCut.astro'
import DiscoInfernalP1 from './_mechanics/DiscoInfernalP1.astro'
import EnsembleAssembleCast from './_components/EnsembleAssembleCast.astro'
import FlipToXSide from './_mechanics/FlipToXSide.astro'
import FunkyFloor from './_mechanics/FunkyFloor.astro'
import InsideOutOrOutsideIn from './_mechanics/InsideOutOrOutsideIn.astro'
import LetsDance from './_mechanics/LetsDance.astro'
import LetsPose from './_mechanics/LetsPose.astro'

import { supportedLocales } from '@/i18n/config'

const dutyId = '07/m5s'
const base = 0

export function getStaticPaths() {
  return supportedLocales.map((localeItem) => ({ params: { locale: localeItem } }))
}
---

<DutyStratLayout dutyId={dutyId}>
  <EventSection time='00:00.0' base={base}>
    <RoleIcon role='tank' tag='MT' />
    开怪，将
    <Boss />
    固定在场中偏南一点的位置
  </EventSection>
  <AttackSection time='00:03.0' base={base} damage='55000' damageType='physical' />
  <AttackSection time='00:06.1' base={base} damage='55000' damageType='physical' />
  <AttackSection time='00:09.1' base={base} damage='55000' damageType='physical' />
  <SeparatorSection id='deep-cut' title='Deep Cut' />
  <DeepCut start='00:09.173' base={base} />
  <SeparatorSection />
  <AttackSection time='00:17.2' base={base} damage='55000' damageType='physical' />
  <AttackSection time='00:20.2' base={base} damage='55000' damageType='physical' />
  <MoveToCenterEvent time='00:20.362' base={base} />
  <SeparatorSection id='flip-to-x-side' title='Flip to (A|B) Side' />
  <FlipToXSide base={base} />
  <SeparatorSection />
  <FlipToXSideCast start='00:41.873' base={base} />
  <NoteSection>
    <div class='gap-strat flex items-center'>必定和前一次不同</div>
  </NoteSection>
  <XSnapTwistAndDropTheNeedleCast start='00:47.978' base={base} />
  <NoteSection>
    <div class='gap-strat flex items-center'>必定和前一次不同</div>
  </NoteSection>
  <PlayXSideCast time='00:58.273' base={base} />
  <AttackSection time='00:59.1' base={base} damage='55000' damageType='physical' />
  <CelebrateGoodTimesCast start='00:59.210' base={base} />
  <AttackSection time='01:07.2' base={base} damage='55000' damageType='physical' />
  <AttackSection time='01:10.2' base={base} damage='55000' damageType='physical' />
  <MoveToCenterEvent time='01:10.395' base={base} />
  <SeparatorSection id='disco-infernal' title='Disco Infernal' />
  <DiscoInfernalP1 base={base} />
  <SeparatorSection id='funky-floor' title='Funky Floor' />
  <FunkyFloor start='01:18.684' base={base} />
  <SeparatorSection id='inside-out-or-outside-in' title='Inside Out | Outside In' />
  <InsideOutOrOutsideIn start='01:24.837' base={base} />
  <SeparatorSection />
  <FlipToXSideCast start='01:34.821' base={base} />
  <AttackSection time='01:40.8' base={base} damage='55000' damageType='physical' />
  <AttackSection time='01:43.9' base={base} damage='55000' damageType='physical' />
  <AttackSection time='01:46.9' base={base} damage='55000' damageType='physical' />
  <AttackSection time='01:49.9' base={base} damage='55000' damageType='physical' />
  <XSnapTwistAndDropTheNeedleCast start='01:51.352' />
  <NoteSection>
    <div class='gap-strat flex items-center'>
      此时
      <StratLink variant='yellow' href='#funky-floor'>Funky Floor</StratLink>
      的效果还未结束，注意同时躲避
      <Span variant='rose'>地面AoE</Span>
    </div>
  </NoteSection>
  <EventSection time='01:59.483' base={base}>
    <Span variant='yellow'>Funky Floor</Span>
    效果结束
  </EventSection>
  <PlayXSideCast time='02:01.642' base={base} />
  <CelebrateGoodTimesCast start='02:02.580' base={base} />
  <DeepCutCast start='02:09.711' base={base} />
  <AttackSection time='02:16.8' base={base} damage='55000' damageType='physical' />
  <AttackSection time='02:19.8' base={base} damage='55000' damageType='physical' />
  <MoveToCenterEvent time='02:20.891' base={base} />
  <EnsembleAssembleCast start='02:23.300' base={base} />
  <SeparatorSection id='arcady-night-fever' title='Arcady Night Fever' />
  <ArcadyNightFever
    start='02:29.450'
    base={base}
    getDownTimes={[
      '02:34.924',
      '02:37.377',
      '02:39.829',
      '02:42.281',
      '02:44.729',
      '02:47.178',
      '02:49.668',
      '02:52.120',
    ]}
  />
  <SeparatorSection id='lets-dance' title="Let's Dance!" />
  <LetsDance start='02:56.259' base={base} wavelengthStart='03:05.533' />
  <SeparatorSection id='lets-pose' title="Let's Pose!" />
  <LetsPose phase='p1' start='03:23.445' base={base} />
</DutyStratLayout>
