---
import ListDot from '@/components/ListDot.astro'
import Span from '@/components/Span.vue'
import StratLink from '@/components/StratLink.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import P from '@/components/typography/P.astro'
import Quote from '@/components/typography/Quote.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

const dutyId = '07/m11s'

const base = '00:00.00'
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <NoteSection>
    <div class="space-y-8">
      <div class="space-y-4 text-2xl">
        <P>MMW文档链接：<StratLink variant="teal" href="https://docs.qq.com/doc/DS2pXVk5PZnR3ZEJx" target="_blank">腾讯文档</StratLink></P>
      </div>
    </div>
  </NoteSection>

  <SeparatorSection id="绝命分断击" />
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <T><Skill name="绝命分断击" /></T>
        <P>TODO</P>
      </div>
    </div>
  </MechanicSection>

  <SeparatorSection id="王者陨石" />
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <T><Skill name="王者陨石" /></T>
        <P>TODO</P>
      </div>
      <div class="space-y-4">
        <T><Skill name="火焰吐息" /></T>
        <P>闲人直线</P>
      </div>
      <div class="space-y-4">
        <T><Skill name="重陨石" /></T>
        <P>五连四四分摊</P>
      </div>
    </div>
  </MechanicSection>

  <SeparatorSection id="登天碎地" />
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <T><Skill name="登天碎地" /></T>
        <P>TODO</P>
      </div>
    </div>
  </MechanicSection>

  <!-- https://plan.xivstrat.cn/#/plan/eJztnV1v47oRhu_3VwTu7Xoj6oMf53bRFkV7igK76M3B4kCxlcRdxzZkpdn0YP97aVvO2tRoMxTlmGNKF4EjO7HmJSkNZx4O_3h3dTVaFN-qv01Hv1wxJtT7zZm8LBa5PvGH_kX_-rV41r-MfmXs0-_J6P3u5O18uSxfPqNPrO_zVbH53GK5KOpP6dNPs2l1r0-nUfRy7r6Y3d1Xu5Pbc9_rf3pXzqaH_7N6PviXR5-s9EU_lsXhhx_L-eaz91W1Wv9yfT1Zrj98m_13XZV59WGyuF493sxnk-vtdV9H4vqBsfV18uGpuFl1vNrZ-tNqOZsX5V_KYnMlVflY1G_d5JOvd-XycXFkziqfTmeLu4NTG0uWq432L9-3-etlVS0fzLPz4rYyz5X1pbGoPvf93f7n9ipH66pYrfUHftuef7mS5c1_ikn1443DN4-ULxbFw_Po_eFby1U-mVXP22-Njt5Zz_63-SN-fLZcVnk1Wy70O8dvzCbLxbbjGX_wrfHJ5-bfbv8uFkcnV7PFopjWLfHyxvf3Pzexysu7oho1Lm3z3nU-qXR32X3k9_VDPp9_WOkWPPrwZDnfDoXRn25vI31g5Srz6exx0waZIaPWa3v-ty84IctdpxpNZ-Xxd0-L2_xxXv0zfyj-vhvEdcN_2Fn0aWPQqKv4sgfxn_Lnh7z8OoL6UcKwQrYJU__3z_WXpU1Tx4zHDWvHjMWQwYqawUnTYAt7k4iavTHO3hZzGTVzGbI_t9gbU7N3Ctkb4e5WSULN2gnmxtywv7Y2pWbtDTB0sU2bUTM2xzRtS8vyHoxd5WX1DJpqPNQ7mPri1WVx9_6bJZ7Zwhq2oO88GXvVlvZLs7YSYQvv3vmEX82Simaz8KYtUKNkflmSNS1B9i-RedYojMmGLahGEZn8YUn96su7A7subPoqsj4mFA_F5P5f5fLb7GFmtu3LBDM2LO3QvLtbXgbdwTPINsF9tAAyoOX68TeIIYDQrfsb44aA3-YWQBCc3AzTKYAgOLkZpksAQXByU0ynAILg5CaZDgEEwcnNMh0CCIL3Mc0kEkAQvI80ApEAguB9hO19DyAIrjyzpXsAQYjoVVuIBBCEeD0WQiOAIETslyUOAQThWbCtewBBpGhLZovpbJLrudmv-rZalJYxAiMKi7Apad4AgJuZBNtHUrIK6nUxaNbBLbp-dcnRHsn6cJf9jPbIBH9f9zHaI5PXH7FDtMcp2iMZufmTW7RHMnJTKKdoj2TkZlEu0R7JyOFPTtEeycjRTw7RHml4LASsdYj2yJhcYLp7tEfG5KLS3aM9Mu4jJn2uaI9KgA6sMshM_MTvbLNx48K31hgW1sbg53tvMx_feKkRZv4K9kB8JM6D2SvY5QTU5RJ8AMgDu8DeJ6DelxxEg-pXlzwtF7KPJ_0wKewofh-Oh0_JiEQCVip8dOFsTyfjwtsaTHn2oG17No0NG5-bftnudhfhI1f5svg4KyfzwnpwAjcnvG8THfe8m3xdfDy4W_CECePGowdR-df58unoY2ls-MzLx2o-Wxz9L_1d2eg8ehiN8zM9khD0GFsIkgYhiMWIyYIQBAzNQQ8gGfEQBME-j2UkQpADP-GMZLB6wD6BClUPUA4WhSoHOFoYC0IOYELAwbxAEO4pcn4kGVnnNHV50EJSKPwKkFcvLnO5OA75iAq_aurVqzODVT-5uqwJMiXQqFL4qOmrlyecLm-cADdBFeFDGq9en3Ry8eDWxYfQX708ZeGSA1GHsbEWu9YPH3YgxDwISS635rbCRZJb8uG0wkWSW_HhtsJFkmOWXFa4SHLAkssKF0kOV3JY4SLJwUoOK1xkH6RSXpbLp7YcXRQVPI6x84p9UTljHv1SV850bn8oZFRg2l7Tnxd7W5ojXQIRDmasbqr9D_zyZi-UUJZKpNjYqIospik-KDG2lAK6IUJRcxVZzIgoCmEsV_2ZEhazB4pKjLNmMKNNCot5qA9S2AkBhoQ5NN9lFvPdy9ABlsEiW34ZMgAOhmJ49MsLFeLUUgfgVimB-ZFi-JWDXgjBpKUQQNQXdCIYHovxQghXFwJaRKUYMZ-SWbrXSdOnzMBRQcyjtB0VRtmq7QJPSAZi_mRs2x0AQCcD8qeKEXMnk8hOiDEwMMYZFPVmF-1NjnnzRjlmUI-ID7zJ-tUlM9aylwIrA2PdUfwLK_jCQSN9q_fSRKyBuwNkCaLay-FS-o_Lx0VVlJ-XT-bCkpdua3j_HcyabL6k8Zjfnv13Pn8sjm9Qm-Pornd1_IdXV8nxr-nBb18auo0FtHQFClbEdlUILl86QDlYOPyE9s2FY770OVg5_JwnDOXwgxU_S3pZP_c5X3y9eVxXreIlzuLZtL5U-PjHW9uAbQepLGbt51kAI4IgDPHrPQRZxvBEC2DEsADGEGRYAGMIMiyAOZJjWABzrEewC2DABR9GPDggOeD1QCLY9UDgaJHDApgjOYJwT7ELYKSvzikhjF7S46zdSgfS46ydSgfSA63dSgfSQ61dSgfSY61dSgf2AlsTweilwVkSMNahdKAiU5spbdaLx4ehPSt-n6qGLfhkhGfFmaBNLyTEioDGeLatIbDrBbjcU4DAh2clHQ0651vzFLAwtzbFt0x71jCFN8cL2MWSsDAc1cuO3wOG01F8ypV4kRiOSnx7AnXFcFTie1pUpb5GWs6TFlVpGFlAC0HCyAJajJggsoD4tKhKg8gDYtOiKg02DQimRVUabN4LSgMqw-8MSA4wLaqyMPKAyLSoyoLNA0JpUZUF4Z4i06Iq89U5JZQWVRm5NKFTWlRl5PKELmlRlZFLEzqlRVVGLlHokBZVGblEoUNaVBmPCgLWdk-LKk5u-7juaVHFewmiF9W9uQCkPqff3TzRDR2qvKy2EU1l5JeKxXR33qjXsl_0fPwIOYi9x1zd3ra5QGDmR-BDot6nfTk-7evQVly1tFV68rbyLBDvktbmeFtcxlXc0lbZydvKMwTBKW3PPbtJOKXtOX6Nou9pe47HKVwGUdQyiOTJB5FvTdUdS-B4WAS5ptiofEJtTTHgdccM7ATHJ-9n08LWMwtDUVO-Ns_euCsOgu4OTBeFe6jhEQ6C7g6gAgO6i8avK1q_umi4Sww1lrZvnAXuEnRqLDWJKODeBYUrhW_gZxNTi5uzFKi1ZI-b15yG7QpjTSEeZfJ2VeG52C7paz7xXGyXDAN2w7NdMgjYDc12ySBQNzzbJYNl3UCWSQaLusFsl7HSMSA9wNGiwkDdsGyXCsI9xbJdylfnlBLbpcIqeaEUOZbNie1S5FA2N7ZLkWPZXNguRY5kc2G7FDmSrTvbpT9GjmTrDnfpk32gbN0T6CwyNpDfZ9D1lZ2a79JfgS8Dfi7Aa8zAPS4lEBLaSPY2TZa2Ndmp0SH9Ff5zXlYthqeHnFosa2sxcfoW8w1UadJeUIu1NRiBKi24rJD-Lv-LtEAkDOB-6u_CJ-ucBhIMTeo32MkHksWWnOcivsCnVctIsthaMwwCBEt9NXrhANXsjs7YV8MLHRTdHZ25r4aTOCi6O7qDXw0vLlTySwvRR3DNb_pIG-mbd9YVP9KmWGyDeRb-iEVxEPk_NG-jBQkiA4gnkLQiQSQB8QiSVsTXROCZGCStSBCYGhZC0noEQamhKSQtSBCUGhZD0nqEi6m1CBIsp9YyYMIA1ZAkEouSIBxVJIqk5fDYTf1HI5TcLsY-YGyenxeLu-0bWfuELUmakVh8MDHDZzTe0KY4bdqEDpRk-JTTG5rEgIA5OpyWWZVnfiuTOJACwLeSRZmLYZmeITM2UkYOy3LDKvUDoY9yRXS4Sm1wH3X2yYCV2l5y4KwTWakNJkfOOqCV2lxy5KwDW6nNJXeHdoErE3LgrAtcmfQBzpIgD1M8zEEBy0v9r1BmQdqkBEqUYVOJqW80oQOzlvrGEroBXSk-yxsG2WERgzk-O8Ayu8MB6DLumIOiu8MB6MoG6HB_9AV0ZQjqsH512UBXL5XhzwV06WckzkrpW0EpwA9LkH5Y5pstTToNawr3vTqWvkSPs1xnodN4GCyWjSJhsFg2gyYIFsuGTuNB0Fh4Oo0HC2O10Gk8WBoLhrF4sDBWC53Gw6Cx0HSaUYD9UvVA02kiCEcVTacJj91UGnSaxV4xVOg0i62KqNBpFjtlUaHTLPZXGei01zsOrDE59sGVTuulbj4lOk2Qqx3mRqcZpTsI2OtIp0lye2E60WmSHF7qRKdJcnCpC50myaGlLnSa7IMrJUGnSc-gIUc6TfrGDTnRadK3OhdNogub4FWXVaFLDRW6fnyFXdhCDbDM_ugJ6FJDha790RPQpYYKXfujL6DLyBuEC3T1Uv7enwpdKfx89M0PazJQafNhD7cX3gk7FwOlgkg94okf879eqCAWDBSLgsg-WjBQLPI4AXkWBopFQXByaAaKRUFQcngGikVBQHJoBopF4UJyLYIEC8m1DJgwIDksA6U91VD1gKYWjHnspnYhUQwtXkCU2IAwDuZrYyYxj2hQvtPTQh0M6m7NyXGuLs2jutuD30Hq7exxMMdiO6IBeuqmMesj7UoJemK9lOsnBD0xelXXnKAnxshRbW7QE2PkqDYX6IkZmyMQMNcFemIxOaTNAXpiMTmizQF6YnEfQNv5oKcICIZz2FD_N8qUwJAEt75jsW8VrJrEk2hOh82p794Yz2g0qAwEMm_IYt9SoKhyXGA6l8W-gWgAvaWa1ii4YYZiXD--wordYkaF_YGL2R3d2S1meACDorujO7vFkoEv3B89sVssGYpx1UL0sQribMW4EqyVvrmUgBeWIb2wxDePsgmioU2x2o3kHCCamfjyKqF1FhAtCSLhaQOipR7nPM8DoqVhoHkWIFoaBJoHRV1b9AgCzLMA0dJgyTyYu0qDBfNaQLQ0WDKvZcCEAeahQbQ0CEcVDaKlHrupBEink28T-bakEz7YP5BOHTXOyJXTcCWdMnJslyPplJFDu9xIp4wc2eVIOvWyMwMd0ikjB3Y5kU7GI5eAuS6kEyfHdbmQTrwProsC6cQ926zPiXTinmFbTqQT9y3H1qSDsOlC7luKzQUO4vi5XBiUAB4OMnYEGMCL3eEABxlbCgyK7g4HOMjYlGBQdHe4wEECQbDVr2o46N3m1ff_A6OU0ig -->
  <SeparatorSection id="陨石狂奔" />
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <T><Skill name="陨石狂奔" /></T>
        <P>机制概要：</P>
        <P><ListDot />读条结束时，场地任意对角出现一对距离衰减攻击</P>
        <P><ListDot />读条结束时，锁定点名最远四人中的随机俩人，在其脚下放置六轮屎圈</P>
        <P class='pl-4'><ListDot />屎圈会持续到整个机制结束</P>
        <P><ListDot />读条结束后，点名剩余六人六轮黄圈，同【流星雨】</P>
        <P><ListDot />六轮屎圈/黄圈结束后，场内斜角方向生成两座单人死刑塔 + 两座双人塔，随机顺序分布</P>
        <P><ListDot />塔判定后，场边四个中点出现魔法阵，分别连线四个塔里的随机一人，稍后释放直线AoE</P>
        <P class='pl-4'><ListDot />直线AoE附带火属性耐性降低</P>
      </div>
      <div class="space-y-4">
        <T><Skill name="双向/四向回旋火" /></T>
        <P>双向是点名最近两人直线分摊，四向是点名最近四人直线分摊</P>
        <P>如果直线上第一位有火属性耐性降低，伤害会提高</P>
      </div>
    </div>
  </MechanicSection>
  <SolutionSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <P>读条时，全员按下图站位，四个远程在目标圈外，四个近战直接站BOSS目标圈中心，等点名出现</P>
        <ImgRow
          wrapperClass="max-w-100"
          bordered={false}
          imgs={[
            {
              src: 'imgs/07/m11s/plan/p1/%E9%99%A8%E7%9F%B3%E7%8B%82%E5%A5%94/1.png',
            },
            {
              src: 'imgs/07/m11s/plan/p1/%E9%99%A8%E7%9F%B3%E7%8B%82%E5%A5%94/2.png',
            }
          ]}
        />
      </div>
      <div class="space-y-4">
        <P>被点名的两个远程去自己的那条边，从远离距离衰减AoE的一侧开始，按箭头示意放屎圈</P>
        <P><Span variant='pink'>注意起始位置要大于四个小方格，以确保场地角落不会被屎圈覆盖</Span></P>
        <P>其他人从BOSS目标圈中心，按箭头示意放黄圈</P>
        <ImgRow
          wrapperClass="max-w-100"
          bordered={false}
          imgs={[
            {
              src: 'imgs/07/m11s/plan/p1/%E9%99%A8%E7%9F%B3%E7%8B%82%E5%A5%94/3.png',
            },
            {
              src: 'imgs/07/m11s/plan/p1/%E9%99%A8%E7%9F%B3%E7%8B%82%E5%A5%94/4.png',
            }
          ]}
        />
      </div>
      <div class="space-y-4">
        <P>塔出现，放屎圈的俩人不参与踩塔，剩下六人：</P>
        <P><ListDot />双T踩死刑塔，MT从A点开始顺时针找第一个塔，ST踩另一个</P>
        <P><ListDot />剩下四人一定是两个近战位（D1、D2）和两个远程位（治疗或D3、D4）</P>
        <P class='pl-4'><ListDot />D1、D2从A点开始顺时针找第一个双人塔，剩下俩远程位踩另一个</P>
        <ImgRow
          wrapperClass="max-w-100"
          bordered={false}
          imgs={[
            {
              src: 'imgs/07/m11s/plan/p1/%E9%99%A8%E7%9F%B3%E7%8B%82%E5%A5%94/5.png',
            }
          ]}
        />
      </div>
      <div class="space-y-4">
        <P>踩塔结束，连线出现：</P>
        <P><ListDot />连线的人把线拉直，远离魔法阵到顺时针的下一个角落（如果面向自己的魔法阵，就是拉去右下角）</P>
        <P><ListDot />剩下四人在BOSS目标圈内正点方向预站位</P>
        <ImgRow
          wrapperClass="max-w-100"
          bordered={false}
          imgs={[
            {
              src: 'imgs/07/m11s/plan/p1/%E9%99%A8%E7%9F%B3%E7%8B%82%E5%A5%94/6.png',
            },
             {
              src: 'imgs/07/m11s/plan/p1/%E9%99%A8%E7%9F%B3%E7%8B%82%E5%A5%94/7.png',
            }
          ]}
        />
      </div>
      <div class="space-y-4">
        <P>连线判定，同时BOSS读条双向/四向回旋火：</P>
        <P><ListDot />如果是双向：AC方向的俩人逆时针找BD方向的人集合</P>
        <P><ListDot />如果是四向：不用动</P>
        <P><ListDot />做好团减，这个打法直线分摊是少一半人吃的</P>
        <ImgRow
          wrapperClass="max-w-100"
          bordered={false}
          imgs={[
            {
              src: 'imgs/07/m11s/plan/p1/%E9%99%A8%E7%9F%B3%E7%8B%82%E5%A5%94/8.png',
            },
             {
              src: 'imgs/07/m11s/plan/p1/%E9%99%A8%E7%9F%B3%E7%8B%82%E5%A5%94/9.png',
            }
          ]}
        />
      </div>
      <div class="space-y-4">
        <P>直线分摊判定，连线的四人从斜点方向慢慢回场中</P>
        <ImgRow
          wrapperClass="max-w-100"
          bordered={false}
          imgs={[
            {
              src: 'imgs/07/m11s/plan/p1/%E9%99%A8%E7%9F%B3%E7%8B%82%E5%A5%94/10.png',
            },
             {
              src: 'imgs/07/m11s/plan/p1/%E9%99%A8%E7%9F%B3%E7%8B%82%E5%A5%94/11.png',
            }
          ]}
        />
      </div>
    </div>
  </SolutionSection>

  <SeparatorSection id="碎心踢" />
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <T><Skill name="碎心踢" /></T>
        <P>连续踩塔，第一轮判定 5 次，后续每轮增加 1 次，每次判定间隔 2s</P>
      </div>
    </div>
  </MechanicSection>
  <SolutionSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <P>解法概要：MT单吃 → MT辅助ST单吃 → 双T全减分摊</P>
        <P><ListDot />第一轮：MT无敌单吃，5次判定共 8s 左右，10s 无敌有大概 2s 容错</P>
        <P><ListDot />第二轮：双T先在塔里裸吃第 1 次判定，然后MT走出塔，ST留在塔里无敌单吃剩下 5 次</P>
        <P><ListDot />第三轮：双T全减分摊</P>
      </div>
    </div>
  </SolutionSection>

  <SeparatorSection id="碎心击" />
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <T><Skill name="碎心击" /></T>
        <P>狂暴</P>
      </div>
    </div>
  </MechanicSection>
</DutyStratLayout>
