---
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import EventSection from '@/components/section/EventSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

import MousseMuralCast from './_components/MousseMuralCast.astro'
import MoveToNorthEvent from './_components/MoveToNorthEvent.astro'
import SugarRiot from './_components/SugarRiot.astro'
import AttackSection from './_components/SugarRiotAttackSection.astro'

import DoubleStyleP4 from './_mechanics/DoubleStyleP4.astro'
import Layer3 from './_mechanics/Layer3.astro'
import Layer4 from './_mechanics/Layer4.astro'
import SugarscapeP4 from './_mechanics/SugarscapeP4.astro'
import { translations } from './_translations'

const dutyId = '07/m6s'

const base = '07:07.286'
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <MoveToNorthEvent time="07:07.286" />
  <SeparatorSection id="sugarscape" title={translations.Sugarscape} />
  <SugarscapeP4 />
  <SeparatorSection id="double-style" title={translations.DoubleStyle} />
  <DoubleStyleP4 />
  <SeparatorSection id="layer-3" title={`${translations.Layer} #3`} />
  <Layer3 />
  <SeparatorSection id="layer-4" title={`${translations.Layer} #4`} />
  <Layer4 />
  <SeparatorSection />
  <MousseMuralCast id="mousse-mural" start="09:53.472" />
  <EventSection time="09:59.0">
    <Span variant="zinc">场地复原</Span>
  </EventSection>
  <NoteSection>
    <div class="paragraph">
      场地复原后，
      <RoleIcon role="tank" tag="MT" />
      迅速将
      <SugarRiot />
      往场中带位，方便处理后续机制
    </div>
  </NoteSection>
  <AttackSection time="10:00.469" damage="57000" damageType="magical" />
  <AttackSection time="10:03.501" damage="57000" damageType="magical" />
</DutyStratLayout>
