---
import { Image } from 'astro:assets'

import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import StratLink from '@/components/StratLink.astro'
import ContentSection from '@/components/section/ContentSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import ColorClashActivate from './_components/ColorClashActivate.astro'
import ColorClashCast from './_components/ColorClashCast.astro'
import ColorRiotCast from './_components/ColorRiotCast.astro'
import DoubleStyleCast from './_components/DoubleStyleCast.astro'
import MoveToCenterEvent from './_components/MoveToCenterEvent.astro'
import SugarRiot from './_components/SugarRiot.astro'
import AttackSection from './_components/SugarRiotAttackSection.astro'
import StickyMousseCast from './_components/StickyMousseCast.astro'
import WingmarkCast from './_components/WingmarkCast.astro'

import ArtisticAnarchy from './_mechanics/ArtisticAnarchy.astro'

import explosion_3 from '@/assets/07/m6s/layer_4/explosion_3.png'
import sticky_mousse from '@/assets/07/m6s/layer_4/sticky_mousse.png'

const dutyId = '07/m6s'
const base = '10:03.635'
---

<DutyStratLayout dutyId={dutyId}>
  <ContentSection>
    <div class="gap-strat flex items-center opacity-80">P5均为P1机制的复读，故重复内容不再赘述</div>
  </ContentSection>
  <SeparatorSection id="sticky-mousse" title="Sticky Mousse" />
  <StickyMousseCast start="10:03.635" end="10:09.421" base={base} />
  <SolutionSection>
    <div class="flex flex-col gap-4">
      <div class="gap-strat flex items-center">
        基本解法参考
        <StratLink variant="lime" href="/07/m6s/p1#sticky-mousse">P1: Sticky Mousse</StratLink>
        ，但本次有一些注意事项
      </div>
      <div class="gap-strat mt-8 flex items-center">
        由于前一阶段紧跟本次机制，
        <SugarRiot />
        面向可能是乱的，务必以
        <SugarRiot />
        <Span variant="pink">面向为基准</Span>
      </div>
      <div class="gap-strat flex flex-wrap items-center">
        又由于前一阶段末尾是踩塔 + 全屏AoE，除南岛8塔的情况外，远程不会和近战在一起，距离
        <SugarRiot />
        较远
      </div>
      <div class="gap-strat flex items-center">
        因此，
        <RoleIcon role="tank" tag="MT" />
        可在场地复原后，迅速将
        <SugarRiot />
        往场中带位，如下图
      </div>
      <div class="flex gap-3">
        <div class="max-w-96">
          <Image
            src={explosion_3}
            alt="Layer #4 Explosion: 3"
            class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
          />
        </div>
        <div class="max-w-96">
          <Image
            src={sticky_mousse}
            alt="Sticky Mousse After Layer #4"
            class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
          />
        </div>
      </div>
      <div class="gap-strat flex flex-wrap items-center">
        由于我们以
        <SugarRiot />
        面向为基准，这样一来
        <SugarRiot />
        面向场中，也就是面向远程过来的方向，远程更容易就位
      </div>
    </div>
  </SolutionSection>
  <SeparatorSection id="color-riot" title="Color Riot" />
  <ColorRiotCast start="10:15.792" base={base} />
  <NoteSection>
    <div class="flex flex-col gap-4">
      <div class="gap-strat flex flex-wrap items-center">
        由于前一机制紧跟本次死刑，
        <SugarRiot />
        面向可能是乱的，
        <RoleIcon role="healer" />
        <RoleIcon role="dps" />
        务必在
        <SugarRiot />
        <Span variant="pink">身后贴着目标圈外沿集合</Span>
      </div>
    </div>
  </NoteSection>
  <SeparatorSection />
  <AttackSection time="10:25.856" base={base} damage="57000" damageType="magical" />
  <MoveToCenterEvent time="10:28.130" base={base} />
  <SeparatorSection id="w-cc-ds" title="Wingmark + Color Clash + Double Style" />
  <WingmarkCast start="10:29.467" base={base} />
  <ColorClashCast start="10:36.593" base={base} />
  <DoubleStyleCast start="10:44.077" base={base} duration={12.6} />
  <ColorClashActivate time="11:00.695" base={base} />
  <NoteSection>
    <div class="gap-strat flex items-center">
      参考
      <StratLink variant="yellow" href="/07/m6s/p1#wingmark">P1: Wingmark</StratLink>
      ，
      <StratLink variant="yellow" href="/07/m6s/p1#color-clash">P1: Color Clash</StratLink>
      ，
      <StratLink variant="yellow" href="/07/m6s/p1#double-style">P1: Double Style</StratLink>
    </div>
  </NoteSection>
  <SeparatorSection />
  <AttackSection time="11:03.143" base={base} damage="57000" damageType="magical" />
  <AttackSection time="11:06.172" base={base} damage="57000" damageType="magical" />
  <MoveToCenterEvent time="11:08.179" base={base} />
  <SeparatorSection id="artistic-anarchy" title="Artistic Anarchy" />
  <ArtisticAnarchy base={base} />
</DutyStratLayout>
