---
import type { Time } from '@/lib/utils'

import Badge from '@/components/Badge.astro'
import EventSection from '@/components/section/EventSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import Span from '@/components/Span.vue'
import RoleIcon from '@/components/RoleIcon.astro'

import { translations } from '../_translations'

interface Props {
  time: Time
  num?: number
}

const ability = translations.prowlingGale
const damage = '40000'
const damageType = 'magical'

const { time, num = 4 }: Props = Astro.props
---

<EventSection time={time}>
  <Span variant="rose">塔×{num}</Span>
  <Span variant="rose" class="text-decimal">[伤害源BOSS]</Span>
  判定，对
  <RoleIcon role="all" tag="全员" />
  造成
  <Span variant="yellow">{ability}</Span>
  <DamageInfo damage={damage} type={damageType} />
  <Badge variant="yellow">踩塔</Badge>
</EventSection>
