---
import RoleIcon from '@/components/RoleIcon.astro'

import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import ToggleSwitch from '@/components/ToggleSwitch.astro'
import ImgGrid from '@/components/typography/ImgGrid.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import P from '@/components/typography/P.astro'
import Quote from '@/components/typography/Quote.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import type { Time } from '@/lib/utils'
import GleamingFang from '../_components/entities/GleamingFang.astro'
import HowlingBlade from '../_components/entities/HowlingBlade.astro'
import XfangCast from '../_components/XfangCast.astro'

import { translations } from '../_translations'

interface Props {
  start: Time
}

const stonefang = translations.stonefang
const windfang = translations.windfang

const { start }: Props = Astro.props
---

<XfangCast start={start} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <T class="gap-strat inline-flex">
      <Skill name={stonefang} variant="orange" />
      |
      <Skill name={windfang} variant="green" />
    </T>
    <P>
      根据读条不同，
      <HowlingBlade />
      会释放
      <Span variant="orange">钢铁</Span>
      +
      <Span variant="yellow">八方分散</Span>
      或
      <Span variant="green">月环</Span>
      +
      <Span variant="purple">四方二二分摊</Span>
      的组合技：
    </P>
    <Quote variant="yellow">
      <P>
        <Skill name={stonefang} variant="orange" />
        对应半径
        <Span variant="cyan">9m</Span>
        的圆形AoE + 点名
        <RoleIcon role="all" tag="全员" />
        的
        <Span variant="cyan">25°</Span>
        <Span variant="yellow">扇形分散</Span>
      </P>
      <P>
        <Skill name={windfang} variant="green" />
        对应内径
        <Span variant="cyan">8m</Span>
        的环形AoE + 点名
        <Span variant="default">4</Span><RoleIcon role="tank" /><RoleIcon role="healer" />
        或
        <Span variant="default">4</Span><RoleIcon role="dps" />
        的
        <Span variant="cyan">25°</Span>
        <Span variant="purple">扇形分摊</Span>
      </P>
    </Quote>
    <P>
      <Span variant="purple">扇形分摊</Span>
      会比
      <Span variant="yellow">扇形分散</Span>
      略疼一些
    </P>
    <P class="mt-8">
      除了
      <Span variant="orange">钢铁</Span>
      和
      <Span variant="green">月环</Span>
      ，
      <HowlingBlade />
      背后的
      <GleamingFang />
      也会进入攻击姿态，在正点/斜点方向形成十字/X字形AoE
    </P>
    <P>
      需要根据
      <GleamingFang />
      的展开位置来判断：
    </P>
    <ImgRow
      wrapperClass="max-w-100"
      borderVariant="cyan"
      imgs={[
        {
          src: 'imgs/07/m8s1/xfang/1.png',
          alt: '光牙: 十字形分布',
          title: '正点方向光牙',
        },
        {
          src: 'imgs/07/m8s1/xfang/2.png',
          alt: '光牙：X字形分布',
          title: '斜点方向光牙',
        },
      ]}
    />
    <P class="mt-8">
      <Skill name={stonefang} variant="orange" />
      |
      <Skill name={windfang} variant="green" />
      +
      <GleamingFang />
      最终形成如下的组合攻击：
      <ToggleSwitch id="xfang-mechanic-toggle" lVariant="yellow" rVariant="pink" lLabel="预兆" rLabel="判定" />
    </P>
    <ImgGrid
      id="xfang-mechanic-omen"
      cols={[{ title: '正点方向光牙' }, { title: '斜点方向光牙' }]}
      defaultImgWrapperStyle={{
        bordered: true,
        rounded: true,
        borderVariant: 'cyan',
      }}
      rows={[
        {
          title: stonefang,
          titleVariant: 'orange',
          cells: [
            {
              img: {
                src: 'imgs/07/m8s1/xfang/stonefang_1.png',
                alt: 'Stonefang: 1',
              },
            },
            {
              img: {
                src: 'imgs/07/m8s1/xfang/stonefang_2.png',
                alt: 'Stonefang: 2',
              },
            },
          ],
        },
        {
          title: windfang,
          titleVariant: 'green',
          cells: [
            {
              img: {
                src: 'imgs/07/m8s1/xfang/windfang_1.png',
                alt: 'Windfang: 1',
              },
            },
            {
              img: {
                src: 'imgs/07/m8s1/xfang/windfang_2.png',
                alt: 'Windfang: 2',
              },
            },
          ],
        },
      ]}
    />
    <ImgGrid
      id="xfang-mechanic-activate"
      cols={[{ title: '正点方向光牙' }, { title: '斜点方向光牙' }]}
      class="hidden"
      defaultImgWrapperStyle={{
        bordered: true,
        rounded: true,
        borderVariant: 'cyan',
      }}
      rows={[
        {
          title: stonefang,
          titleVariant: 'orange',
          cells: [
            {
              img: {
                src: 'imgs/07/m8s1/xfang/stonefang_3.png',
                alt: 'Stonefang: 3',
              },
            },
            {
              img: {
                src: 'imgs/07/m8s1/xfang/stonefang_4.png',
                alt: 'Stonefang: 4',
              },
            },
          ],
        },
        {
          title: windfang,
          titleVariant: 'green',
          cells: [
            {
              img: {
                src: 'imgs/07/m8s1/xfang/windfang_3.png',
                alt: 'Windfang: 3',
              },
            },
            {
              img: {
                src: 'imgs/07/m8s1/xfang/windfang_4.png',
                alt: 'Windfang: 4',
              },
            },
          ],
        },
      ]}
    />
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex flex-col gap-4">
    <Quote variant="lime" class="opacity-80">
      本解法采用类似中国服【光暗未来绝境战】的八方站位，而非日服的标准八方站位
    </Quote>
    <P class="mt-8">
      根据
      <HowlingBlade />
      读条和
      <GleamingFang />
      方位，按下表站位：
      <ToggleSwitch id="xfang-solution-toggle" lVariant="lime" rVariant="pink" lLabel="预兆" rLabel="判定" />
    </P>
    <P class="opacity-80">
      注：下表
      <Skill name={stonefang} variant="orange" />
      站位图中已将光牙的两种情况叠加
    </P>
    <ImgGrid
      id="xfang-solution-omen"
      cols={[{ title: '正点方向光牙' }, { title: '斜点方向光牙' }]}
      defaultImgWrapperStyle={{
        bordered: true,
        rounded: true,
        borderVariant: 'cyan',
      }}
      rows={[
        {
          title: stonefang,
          titleVariant: 'orange',
          cells: [
            {
              img: {
                src: 'imgs/07/m8s1/xfang/stonefang_5.png',
                alt: 'Stonefang: 5',
              },
              class: 'translate-x-[calc(50%)]',
            },
          ],
        },
        {
          title: windfang,
          titleVariant: 'green',
          cells: [
            {
              img: {
                src: 'imgs/07/m8s1/xfang/windfang_1.png',
                alt: 'Windfang: 1',
              },
            },
            {
              img: {
                src: 'imgs/07/m8s1/xfang/windfang_2.png',
                alt: 'Windfang: 2',
              },
            },
          ],
        },
      ]}
    />
    <ImgGrid
      id="xfang-solution-activate"
      cols={[{ title: '正点方向光牙' }, { title: '斜点方向光牙' }]}
      class="hidden"
      defaultImgWrapperStyle={{
        bordered: true,
        rounded: true,
        borderVariant: 'cyan',
      }}
      rows={[
        {
          title: stonefang,
          titleVariant: 'orange',
          cells: [
            {
              img: {
                src: 'imgs/07/m8s1/xfang/stonefang_6.png',
                alt: 'Stonefang: 6',
              },
              class: 'translate-x-[calc(50%)]',
            },
          ],
        },
        {
          title: windfang,
          titleVariant: 'green',
          cells: [
            {
              img: {
                src: 'imgs/07/m8s1/xfang/windfang_3.png',
                alt: 'Windfang: 3',
              },
            },
            {
              img: {
                src: 'imgs/07/m8s1/xfang/windfang_4.png',
                alt: 'Windfang: 4',
              },
            },
          ],
        },
      ]}
    />
    <P class="mt-8">
      若是
      <Skill name={stonefang} variant="orange" />
      ，可无视光牙方位，按图示固定站位（图示已将光牙的两种情况叠加，显然无影响）
    </P>
    <P>
      若是
      <Skill name={windfang} variant="green" />
      ，则两两分组找
      <Span variant="pink">同色标点</Span>
      ：
    </P>
    <Quote variant="lime">
      <P>
        <RoleIcon role="tank" tag="MT" />
        <RoleIcon role="ranged" tag="D3" />
        去
        <Span variant="red">红色</Span>
        标点，也就是
        <Span variant="red">A</Span>
        或
        <Span variant="red">1</Span>
        ；
        <RoleIcon role="tank" tag="ST" />
        <RoleIcon role="magic" tag="D4" />
        去
        <Span variant="yellow">黄色</Span>
        标点，也就是
        <Span variant="yellow">B</Span>
        或
        <Span variant="yellow">2</Span>
      </P>
      <P>
        <RoleIcon role="healer" tag="H2" />
        <RoleIcon role="melee" tag="D2" />
        去
        <Span variant="sky">蓝色</Span>
        标点，也就是
        <Span variant="sky">C</Span>
        或
        <Span variant="sky">3</Span>
        ；
        <RoleIcon role="healer" tag="H1" />
        <RoleIcon role="melee" tag="D1" />
        去
        <Span variant="purple">紫色</Span>
        标点，也就是
        <Span variant="purple">D</Span>
        或
        <Span variant="purple">4</Span>
      </P>
    </Quote>
  </div>
</SolutionSection>
<NoteSection>
  <div class="flex flex-col gap-4">
    <P>
      若是
      <Skill name={stonefang} variant="orange" />
      ，一个角落是可以站下三个人的，紧急情况时可以站到
      <Span variant="pink">标点位置</Span>
      ，这样不会影响他人
    </P>
  </div>
</NoteSection>

<script>
  function toggleTables(omenId: string, activateId: string, showActivate: boolean) {
    const omenTable = document.getElementById(omenId)
    const activateTable = document.getElementById(activateId)

    if (omenTable && activateTable) {
      if (showActivate) {
        omenTable.classList.toggle('grid', !omenTable.classList.toggle('hidden', true))
        activateTable.classList.toggle('grid', !activateTable.classList.toggle('hidden', false))
      } else {
        activateTable.classList.toggle('grid', !activateTable.classList.toggle('hidden', true))
        omenTable.classList.toggle('grid', !omenTable.classList.toggle('hidden', false))
      }
    }
  }

  document.addEventListener('change', (event) => {
    const target = event.target as HTMLInputElement

    if (target && target.id === 'xfang-mechanic-toggle') {
      toggleTables('xfang-mechanic-omen', 'xfang-mechanic-activate', target.checked)
    } else if (target && target.id === 'xfang-solution-toggle') {
      toggleTables('xfang-solution-omen', 'xfang-solution-activate', target.checked)
    }
  })
</script>
