---
import type { Time } from '@/lib/utils'

import { Image } from 'astro:assets'

import Boss from '@/components/Boss.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import DotInfo from '@/components/DotInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import Bleeding from '@/components/buff/Bleeding.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import EscelonsFallCast from '../_components/EscelonsFallCast.astro'

import img from '@/assets/07/zelenia/Tmp.png'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props
---

<EscelonsFallCast start={start} base={base} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      BOSS身上显示
      <Span variant="purple">远引导标记</Span>
      或
      <Span variant="pink">近引导标记</Span>
      <span></span>x4<span></span>次
    </div>
    <div class="paragraph">
      代表接下来每次需要<span></span>4<span></span>人进行
      <Span variant="purple">远引导</Span>
      或
      <Span variant="pink">近引导</Span>
    </div>
    <div class="flex gap-4">
      <div class="flex max-w-88 shrink grow flex-col items-center gap-2">
        <Image src={img} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />

        <div class="paragraph">
          <Span variant="purple">远引导</Span>
        </div>
      </div>
      <div class="flex max-w-88 shrink grow flex-col items-center gap-2">
        <Image src={img} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
        <div class="paragraph">
          <Span variant="pink">近引导</Span>
        </div>
      </div>
    </div>
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex gap-4">
    <div class="max-w-88 flex-1">
      <Image src={img} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
    </div>
    <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
      <div class="paragraph">按照图示位置进行初始站位，</div>
      <div class="paragraph">
        <RoleIcon role="tank" />
        <RoleIcon role="healer" />
        往<Span variant="pink">目标圈内</Span>一步，
        <RoleIcon role="dps" />
        往<Span variant="purple">目标圈外</Span>一步
      </div>
      <div class="paragraph">无论远或近引导，只有两种情况：</div>
      <div class="paragraph">
        <h4 class="text-xl">
          <Span variant="yellow">AABB：</Span>
        </h4>
        第一刀和第三刀后换位
      </div>
      <div class="paragraph">
        <h4 class="text-xl">
          <Span variant="yellow">ABBA：</Span>
        </h4>
        第二刀后换位
      </div>
    </div>
  </div>
</SolutionSection>
