---
import type { Time } from '@/lib/utils'

import { Image } from 'astro:assets'

import Boss from '@/components/Boss.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import DotInfo from '@/components/DotInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import Bleeding from '@/components/buff/Bleeding.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'

import RoseBloodBloomCast from '../_components/RoseBloodBloomCast.astro'

import img from '@/assets/07/zelenia/Tmp.png'
import Zelenia from '../_components/Zelenia.astro'

import ga from '@/assets/07/zelenia/P3-2/P3-2-ga.png'
import ya from '@/assets/07/zelenia/P3-2/P3-2-ya.png'
import ga2 from '@/assets/07/zelenia/P3-2/P3-2-ga-2.png'
import ya2 from '@/assets/07/zelenia/P3-2/P3-2-ya-2.png'
import j from '@/assets/07/zelenia/P3-2/P3-2-j.png'

---


<MechanicSection>
  <div class="flex gap-4">
    <div class="max-w-88 flex-1">
      <Image src={img} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
    </div>
    <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
        <div class="paragraph">
          <Zelenia/>读条钢铁+月环或月环＋钢铁，会引爆<Span variant="pink">红色地板</Span>
        </div>
        <div class="paragraph">
          <Zelenia/>同时按顺序施放扇形刀，不会引爆红色地板
        </div>
    </div>
  </div>
</MechanicSection>
<!-- <SolutionSection>
  <div class="flex flex-col gap-6"> 
    <div class="flex gap-4">
      <div class="max-w-88 flex-1">
        <Image src={ga} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div>
      <div class="max-w-88 flex-1">
        <Image src={ya} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div>
      <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
          <div class="paragraph">
            <Span variant="yellow">Step 1</Span>
            观察先钢铁/先月环
            
          </div>
          <div class="paragraph">
            <RoleIcon role="all" tag="全员" />在只有一块暗色地板处集合
          </div>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="max-w-88 flex-1">
        <Image src={ga2} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div>
      <div class="max-w-88 flex-1">
        <Image src={ya2} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div>
      <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
          <div class="paragraph">
            <Span variant="orange">Step 2</Span>
            钢铁/月环判定，穿内外，到第三刀区域
          </div>
          <div class="paragraph">
            <Span variant="green">Step 3</Span>
            第二刀判定，到第二刀区域
          </div>
      </div>
    </div>
  </div>
</SolutionSection> -->
<NoteSection>
  <div class="flex gap-4">
    <div class="max-w-88 flex-1">
      <Image src={j} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
    </div>
    <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
      <div class="paragraph">
        如图所示，因为各刀之间有先后顺序，所以使用1~6进行标注，此处的x刀不同于上文
      </div>
      <div class="paragraph">
        以钢铁+月环为例子，解释为何最好前往4外而不是3+5外
      </div>
      <div class="paragraph">
        首先，劈砍和钢铁月环的判定顺序如下：<Span variant="blue">1+钢铁</Span>→2→3→<Span variant="blue">4+月环</Span>→5→6
      </div>

      <div class="paragraph">
        <Span variant="yellow">4外起点</Span>
      </div>
      
      <div class="paragraph">
        躲避顺序：4外→<Span variant="blue">1钢铁判定</Span>→6内→<Span variant="blue">4刀+月环判定</Span>→4
      </div>
      <div class="paragraph">
        最后是从6区域穿到4区域，等4刀判定完就可穿，有两个间隔时间(2s)
      </div>

      <div class="paragraph">
        <Span variant="yellow">3&5外起点</Span>
      </div>
      
      <div class="paragraph">
        躲避顺序：3&5外→<Span variant="blue">1钢铁判定</Span>→5内→3刀判定→<Span variant="blue">4刀+月环判定</Span>→3
      </div>
      <div class="paragraph">
        最后是从5区域穿到3区域，等3刀判定后，还要等4刀+月环判定才可穿，只有一个间隔时间(1s)，高延迟选手慎选！
      </div>
    </div>
  </div>
</NoteSection>