---
import VueBuff from '@/components/Buff.vue'
import CosImage from '@/components/CosImage.astro'
import VueHoverBuff from '@/components/HoverBuff.vue'
import type { VariantType } from '@/lib/variant'

interface Props {
  icon: string
  name: string
  nameVariant?: VariantType
  description: string
  tag?: string
  hover?: boolean
  class?: string
}

const {
  icon,
  name,
  nameVariant = 'default',
  description,
  tag = '',
  hover = false,
  class: className = '',
}: Props = Astro.props
const iconUrl = new URL(icon, import.meta.env.PUBLIC_COS_BASE_URL)
iconUrl.searchParams.set('width', '48')
iconUrl.searchParams.set('height', '64')
const iconFullHref = iconUrl.href
---

{
  hover ? (
    <VueHoverBuff
      icon={iconFullHref}
      name={name}
      nameVariant={nameVariant}
      description={description}
      tag={tag}
      class={className}
      client:idle
    >
      <CosImage slot="icon" src={iconUrl} alt={description} />
      <slot>
        <p>{description}</p>
      </slot>
    </VueHoverBuff>
  ) : (
    <VueBuff icon={iconFullHref} name={name} description={description} tag={tag} class={className} client:idle>
      <CosImage src={iconUrl} alt={description} />
    </VueBuff>
  )
}
