---
import { Image } from 'astro:assets'

import DefaultAvatarSVG from '@/assets/svg/default-avatar.svg'
import { type Developer } from '@/data/developer'

import { cn } from '@/lib/utils'

interface Props {
  developer: Developer
  class?: string
}

const { developer, class: className = '' }: Props = Astro.props

function isValidURL(str: string): boolean {
  try {
    new URL(str)
    return true
  } catch (_) {
    return false
  }
}
---

<div
  class={cn(
    'group bg-card/50 hover:bg-card/80 border-border/50 relative flex max-w-sm flex-col items-center overflow-hidden rounded-xl p-4 text-center shadow-xl transition-all duration-500 hover:shadow-2xl',
    className,
  )}
>
  <div class="select-none">
    {
      developer.avatar && (
        <Image
          src={developer.avatar}
          alt={developer.name}
          draggable="false"
          class="w-24 rounded-full object-cover select-none"
        />
      )
    }
    {
      !developer.avatar && (
        <div class="mx-auto flex h-24 w-24 items-center justify-center rounded-full bg-zinc-300 p-5 text-zinc-600">
          <DefaultAvatarSVG />
        </div>
      )
    }
  </div>
  <div class="duration-500">
    <h1 class="mt-2 font-bold text-zinc-700 dark:text-zinc-300">{developer.name}</h1>
    <p class="text-sm text-zinc-700 opacity-80 dark:text-zinc-300">{developer.gameName}</p>
    {
      developer.link && (
        <a
          href={isValidURL(developer.link) ? developer.link : undefined}
          target="_blank"
          class="mt-4 text-zinc-500 hover:underline dark:text-zinc-400"
        >
          {developer.link}
        </a>
      )
    }
  </div>
</div>
