---
import type { ImageMetadata } from 'astro'
import { cn } from '@/lib/utils'

import { Image } from 'astro:assets'
import CosImage from '@/components/CosImage.astro'

interface Props {
  img: string | ImageMetadata
  alt: string
  tag?: string
  iconClass?: string
}

const { img, alt, tag = undefined, iconClass = '' }: Props = Astro.props
---

<span class="relative h-[calc(1em*30/18)] w-[calc(1em*30/18)]">
  {
    typeof img === 'string' ? (
      <CosImage
        src={img}
        alt={alt}
        class={cn('absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2', iconClass)}
      />
    ) : (
      <Image src={img} alt={alt} class={cn('absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2', iconClass)} />
    )
  }
  {
    tag && (
      <span class="absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 text-[calc(1em*12/18)] whitespace-nowrap text-white [text-shadow:0_0_2px_black,0_0_2px_black,0_0_2px_black,0_0_3px_black,0_0_3px_black,0_0_3px_black]">
        {tag}
      </span>
    )
  }
</span>
