---
import type { ImageMetadata } from 'astro'
import type { Role } from './role'
import { Image } from 'astro:assets'

interface Props {
  icon?: ImageMetadata
  role: Role
  recast: number
  duration: number
  physical: number
  magical: number
  special: number
}

const { icon = undefined, role, recast, duration, physical, magical, special }: Props = Astro.props
---

<ff14-action
  class="flex w-16 flex-col items-center -space-y-1"
  data-role={role}
  data-recast={recast}
  data-duration={duration}
  data-physical={physical}
  data-magical={magical}
  data-special={special}
>
  <div class="relative">
    <div class="relative aspect-[88/91] w-16">
      <slot>
        {icon && <Image src={icon} alt="" />}
      </slot>
    </div>
    <span
      class="absolute top-[calc(50%-2px)] left-1/2 -translate-x-1/2 -translate-y-1/2 text-4xl font-semibold opacity-0 text-shadow-lg/50"
      data-spantype="recast"
    >
      00
    </span>
  </div>
  <span class="text-3xl text-[#68FC64] opacity-0 text-shadow-[#3C8E3E] text-shadow-xs" data-spantype="duration">
    00
  </span>
</ff14-action>

<script>
  import { animate } from 'motion'

  import { timeToSeconds } from '@/lib/utils'

  import type { Role } from './role'

  import { $timer } from '../_stores/timer'
  import { mitigations } from '../_timeline/m5s'

  class FF14Action extends HTMLElement {
    connectedCallback() {
      const recastSpan = this.querySelector('[data-spantype="recast"]')!
      const durationSpan = this.querySelector('[data-spantype="duration"]')!
      const role = this.dataset.role as Role
      const recast = Number.parseInt(this.dataset.recast ?? '0')
      const duration = Number.parseInt(this.dataset.duration ?? '0')
      // const physical = Number.parseInt(this.dataset.physical ?? '0')
      // const magical = Number.parseInt(this.dataset.magical ?? '0')
      // const special = Number.parseInt(this.dataset.special ?? '0')
      const plan = mitigations[role].map((t) => timeToSeconds(t))
      $timer.subscribe((timer) => {
        const s = timer / 1000
        const t = plan.find((t) => s >= t)
        if (t === undefined) {
          // 隐藏
        } else {
          if (s - t < recast) {
            // recastSpan 展示
            animate(recastSpan, { opacity: 1 })
            recastSpan.textContent = `${Math.ceil(recast - (s - t))}`
          } else {
            // recastSpan 隐藏
            animate(recastSpan, { opacity: 0 })
          }
          if (s - t < duration) {
            // durationSpan 展示
            animate(durationSpan, { opacity: 1 })
            durationSpan.textContent = `${Math.ceil(duration - (s - t))}`
          } else {
            // durationSpan 隐藏
            animate(durationSpan, { opacity: 0 })
          }
        }
      })
    }
  }

  customElements.define('ff14-action', FF14Action)
</script>
