---
import EntityIcon from '@/components/EntityIcon.astro'
import EntityText from '@/components/EntityText.astro'
import Span from '@/components/Span.vue'

import bloomingAbominationIcon from '@/assets/07/m7s/entity_icons/blooming_abomination.png'

import { translations } from '../_translations'

interface Props {
  num: number
}

const { num }: Props = Astro.props
const bloomingAbomination = translations.bloomingAbomination
---

<EntityIcon icon={bloomingAbominationIcon} alt="BOSS" iconClass="scale-125 drop-shadow-xs drop-shadow-black">
  <Span variant="rose" class="ml-1">{bloomingAbomination}</Span>
  <Span variant="rose">×{num}</Span>
</EntityIcon>
<EntityText>{bloomingAbomination}×{num}</EntityText>
