---
import type { Time } from '@/lib/utils'

import EventSection from '@/components/section/EventSection.astro'
import Span from '@/components/Span.vue'
import { translations } from '../_translations'
import DamageInfo from '@/components/DamageInfo.astro'
import DamageDown from '@/components/buff/DamageDown.astro'
import Badge from '@/components/Badge.astro'

interface Props {
  time: Time
  base?: Time
  num?: Number
}

const { time, base = 0, num }: Props = Astro.props
const sporesplosion = translations.sporesplosion
---

<EventSection time={time} base={base} num={num} ability={sporesplosion}>
  第<Span variant="pink">{num}</Span>组孢子伤害判定
  <Badge variant="emerald">8m圆形</Badge>
</EventSection>
