---
import type { Time } from '@/lib/utils'

import Badge from '@/components/Badge.astro'
import EventSection from '@/components/section/EventSection.astro'
import Span from '@/components/Span.vue'
import DamageInfo from '@/components/DamageInfo.astro'
import Skill from '@/components/typography/Skill.astro'
import BruteAbombinator from './BruteAbombinator.astro'
import { translations } from '../_translations'

interface Props {
  time: Time
  base?: Time
  num: number
}

const { time, base = 0, num }: Props = Astro.props
const strangeseeds = translations.strangeSeeds

let colr = {
  1: 'pink',
  2: 'orange',
  3: 'cyan',
  4: 'indigo',
}
---

<EventSection time={time} base={base}>
  第<Span variant={colr[num]}>{num}</Span>轮
  <Skill name={strangeseeds} />
  预兆出现
  <Badge variant="emerald">6m圆形</Badge>
  <Badge variant="yellow">分散</Badge>
</EventSection>
