---
import { getEntry } from 'astro:content'
import AreaBox from '@/components/AreaBox.astro'
import CollapsibleBox from '@/components/CollapsibleBox.vue'
import CosImage from '@/components/CosImage.astro'
import Macro from '@/components/Macro.astro'
import ReferenceItem from '@/components/ReferenceItem.astro'
import ResizableImageDialog from '@/components/ResizableImageDialog.vue'
import Thanks from '@/components/thanks/Thanks.astro'
import DutyHomeLayout from '@/layouts/DutyHomeLayout.astro'
import BiliBiliSVG from '@/svg/bilibili.svg'
import DocsSVG from '@/svg/docs.svg'
import ScannerSVG from '@/svg/scanner.svg'

import { macro } from './_data/macro'
import { referenceList } from './_data/reference'
import { thanksList } from './_data/thanks'

const dutyId = '07/doomtrain'
const duty = (await getEntry('duties', dutyId))!.data
const navList = [
  { label: '小抄速览', id: 'cheatsheet' },
  { label: '场地标点', id: 'waymark' },
  { label: '战术板', id: 'board' },
  { label: '宏', id: 'macro' },
  { label: '简易时间轴', id: 'timeline' },
  { label: '参考资料', id: 'reference' },
  { label: '鸣谢', id: 'thanks' },
]
const docLink = duty.docLink ?? undefined
const videoLink = duty.videoLink ?? undefined
---

<DutyHomeLayout dutyId={dutyId} navList={navList}>
  <Fragment slot="operation">
    <a href="/07/doomtrain/p1">
      <button
        class="flex w-max cursor-pointer items-center justify-between rounded-lg border border-purple-400 bg-purple-500 p-2 px-4 align-middle text-white hover:bg-purple-700/60 dark:border-purple-500 dark:bg-purple-700/75"
      >
        <ScannerSVG class="mr-2 h-5 w-5" />
        查看正文
      </button>
    </a>
    {
      docLink && (
        <a href={docLink} target="_blank">
          <button
            class="flex w-max cursor-pointer items-center justify-between rounded-lg border border-blue-400 bg-blue-500 p-2 px-4 align-middle text-white hover:bg-blue-700/60 dark:border-blue-500 dark:bg-blue-700/75"
          >
            <DocsSVG class="mr-2 h-5 w-5" />
            跳转文档
          </button>
        </a>
      )
    }
    {
      videoLink && (
        <a href={videoLink} target="_blank">
          <button class="flex w-max cursor-pointer items-center justify-between rounded-lg border border-blue-400 bg-blue-500 p-2 px-4 align-middle text-white hover:bg-blue-700/60 dark:border-blue-500 dark:bg-blue-700/75">
            <BiliBiliSVG class="mr-2 h-5 w-5" />
            跳转视频攻略
          </button>
        </a>
      )
    }
  </Fragment>
  <CollapsibleBox id="cheatsheet" client:idle class="w-full">
    <Fragment slot="header">
      <span>小抄速览</span>
    </Fragment>
    <AreaBox>
      <ResizableImageDialog client:idle>
        <CosImage src="tmp.webp" alt="格莱杨拉波尔歼殛战·副本小抄" loading="lazy" class="h-full object-contain" />
      </ResizableImageDialog>
    </AreaBox>
  </CollapsibleBox>
  <CollapsibleBox id="waymark" client:idle class="w-full">
    <Fragment slot="header">
      <span>场地标点</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="board" client:idle class="w-full">
    <Macro text={macro} title="格莱杨拉波尔歼殛战·战术板" />
    <Fragment slot="header">
      <span>战术板</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="macro" client:idle class="w-full">
    <Macro text={macro} title="格莱杨拉波尔歼殛战·站位宏" />
    <Fragment slot="header">
      <span>宏</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="timeline" client:idle class="w-full">
    <AreaBox>
      <ResizableImageDialog client:idle>
        <CosImage src="tmp.webp" alt="格莱杨拉波尔歼殛战·简易时间轴" class="w-full object-contain" />
      </ResizableImageDialog>
    </AreaBox>
    <Fragment slot="header">
      <span>简易时间轴</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="reference" client:idle class="w-full">
    <ReferenceItem list={referenceList} />
    <Fragment slot="header">
      <span>参考资料</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox id="thanks" client:idle class="w-full">
    <Thanks devList={thanksList.devList} other={thanksList.other ?? []} groupList={thanksList.groupList} />
    <Fragment slot="header">
      <span>鸣谢</span>
    </Fragment>
  </CollapsibleBox>
</DutyHomeLayout>
