---
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

import DraftWarning from '@/components/draft-warning/DraftWarning.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import DownForTheCount from '@/components/buff/DownForTheCount.astro'
import EventSection from '@/components/section/EventSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import P from '@/components/typography/P.astro'

import QuakeIII from './_mechanics/QuakeIII.astro'
import UltraviolentRay from './_mechanics/UltraviolentRay.astro'
import Twinbite from './_mechanics/Twinbite.astro'
import HerosBlow from './_mechanics/HerosBlow.astro'
import ElementalPurge from './_mechanics/ElementalPurge.astro'
import ProwlingGale from './_mechanics/ProwlingGale.astro'

import MooncleaverCast from './_components/MooncleaverCast.astro'

import { translations } from './_translations'
import ImgRow from '@/components/typography/ImgRow.astro'

import floor_img from '@/assets/07/m8s2/floor.png'
import HowlingBlade from './_components/entities/HowlingBlade.astro'
import Span from '@/components/Span.vue'
import ImmobileSuitDebuff from './_components/ImmobileSuitDebuff.astro'
import T from '@/components/typography/T.astro'
import Skill from '@/components/typography/Skill.astro'
import TerrestrialChains from './_components/buff/TerrestrialChains.astro'

const dutyId = '07/m8s2'

const base = '07:33.729'

const quakeIII = translations.quakeIII
const ultraviolentRay = translations.ultraviolentRay
const twinbite = translations.twinbite
const herosBlow = translations.herosBlow
const mooncleaver = translations.mooncleaver
const elementalPurge = translations.elementalPurge
const prowlingGale = translations.prowlingGale
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <SeparatorSection />
  <DraftWarning />
  <SeparatorSection />
  <NoteSection>前半阶段攻略的快慢会影响本阶段的时间节点，本页时间轴以前半攻略速度较慢为基准</NoteSection>
  <SeparatorSection />

  <EventSection time={base}>
    <RoleIcon role="all" tag="全员" />
    身上的
    <DownForTheCount hover />消失，
    <HowlingBlade />可选中，场地变为五个平台，进入战斗的后半阶段
  </EventSection>

  <NoteSection>
    <div class="flex flex-col gap-4">
      <P>
        后半全程对
        <RoleIcon role="any" tag="一仇" />
        和
        <RoleIcon role="any" tag="二仇" />
        平A，请
        <RoleIcon role="tank" tag="ST" />
        也开启盾姿
      </P>
      <P>后半场地如下图所示，分为五个半径<Span variant="pink">8m</Span>的圆形平台，玩家初始位于南平台：</P>
      <ImgRow
        class="-mt-3 mb-3 ml-3"
        wrapperClass="max-w-100 scale-110"
        bordered={false}
        imgs={[{ src: floor_img, alt: '后半场地' }]}
      />
      <P>每个平台上都有两个传送装置，玩家可借此移动至其它平台</P>
      <P>
        每次传送会给玩家附加
        <ImmobileSuitDebuff hover />
        ，倒计时根据不同时间段有
        <Span variant="pink">2s</Span>
        和
        <Span variant="pink">7s</Span>
        两种可能，短时间内不能连续传送
      </P>
      <P>此外，进入后半阶段后，玩家全程持有<TerrestrialChains hover />，无法跳跃</P>
      <T variant="cyan" text="传送Tips" class="mt-8" />
      <P>
        显然，从任一平台出发到任意其它平台，一次性最多也只需传送
        <Span variant="cyan">2</Span>
        次
      </P>
      <P>
        如果传送
        <Span variant="cyan">≥3</Span>
        次，则必然是选错了传送方向；这一点在之后的
        <Skill name={ultraviolentRay} />
        机制中比较重要，还请注意
      </P>
    </div>
  </NoteSection>

  <SeparatorSection id="quake-iii" title=`${quakeIII}` />
  <QuakeIII start="07:40.930" />

  <SeparatorSection id="ultraviolent-ray" title=`${ultraviolentRay}` />
  <UltraviolentRay start="07:52.096" />

  <SeparatorSection id="twinbite" title=`${twinbite}` />
  <Twinbite start="08:02.234" />

  <SeparatorSection id="heros-blow" title=`${herosBlow}` />
  <HerosBlow start="08:14.462" />

  <NoteSection> 以上四个机制会在整场战斗重复多次。 </NoteSection>

  <UltraviolentRay start="08:25.583" />
  <QuakeIII start="08:37.727" />

  <SeparatorSection id="mooncleaver" title=`${mooncleaver}` />
  <MooncleaverCast start="08:50.987" />

  <SeparatorSection id="elemental-purge" title=`${elementalPurge}` />
  <ElementalPurge start="08:58.105" />

  <SeparatorSection id="prowling-gale" title=`${prowlingGale}` />
  <ProwlingGale start="09:10.384" />
</DutyStratLayout>
