---
import DraftWarning from '@/components/draft-warning/DraftWarning.astro'
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'
import EventSection from '@/components/section/EventSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import P from '@/components/typography/P.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import StratLink from '@/components/StratLink.astro'
import Badge from '@/components/Badge.astro'

import ImmobileSuitDebuff from './_components/ImmobileSuitDebuff.astro'
import QuakeIIICast from './_components/QuakeIIICast.astro'
import RiseOfTheHowlingWind from './_mechanics/RiseOfTheHowlingWind.astro'
import TwinbiteCast from './_components/TwinbiteCast.astro'
import UltraviolentRayCast from './_components/UltraviolentRayCast.astro'

import ChampionsCircuit from './_mechanics/ChampionsCircuit.astro'
import ProwlingGale from './_mechanics/ProwlingGale.astro'

import { translations } from './_translations'

const dutyId = '07/m8s2'

const base = '09:10.384'

const prowlingGale = translations.prowlingGale
const riseOfTheHowlingWind = translations.riseOfTheHowlingWind
const twofoldTempest = translations.twofoldTempest
const bareFangs = translations.bareFangs
const championsCircuit = translations.championsCircuit
const quakeIII = translations.quakeIII
const ultraviolentRay = translations.ultraviolentRay
const twinbite = translations.twinbite
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <SeparatorSection />
  <DraftWarning />

  <SeparatorSection id="prowling-gale" title=`${prowlingGale}` />
  <ProwlingGale />
  <SeparatorSection id="rise-of-the-howling-wind" title=`${riseOfTheHowlingWind}` />
  <RiseOfTheHowlingWind />

  <SeparatorSection id="champions-circuit" title=`${bareFangs} + ${championsCircuit}` />
  <ChampionsCircuit
    start="10:03.132"
    activateTimes={['10:19.279', '10:23.683', '10:28.038', '10:32.395', '10:36.755']}
  />

  <EventSection time="10:40.0">
    传送冷却时长恢复至<ImmobileSuitDebuff tag="2" />
    <Badge variant="emerald">传送间隔-</Badge>
  </EventSection>
  <QuakeIIICast start="10:41.608" />
  <UltraviolentRayCast start="10:54.772" />
  <TwinbiteCast start="11:04.913" />
  <NoteSection>
    <div class="flex flex-col gap-4">
      <P>
        请参考P1的
        <StratLink variant="cyan" href="/07/m8s2/p1#quake-iii">{quakeIII}</StratLink>
        ,
        <StratLink variant="cyan" href="/07/m8s2/p1#ultraviolent-ray">{ultraviolentRay}</StratLink>
        和
        <StratLink variant="cyan" href="/07/m8s2/p1#twinbite">{twinbite}</StratLink>
      </P>
    </div>
  </NoteSection>
</DutyStratLayout>
