---
import DraftWarning from '@/components/draft-warning/DraftWarning.astro'
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'
import EventSection from '@/components/section/EventSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import P from '@/components/typography/P.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import StratLink from '@/components/StratLink.astro'
import Badge from '@/components/Badge.astro'

import ImmobileSuitDebuff from './_components/ImmobileSuitDebuff.astro'
import QuakeIIICast from './_components/QuakeIIICast.astro'
import RiseOfTheHowlingWind from './_mechanics/RiseOfTheHowlingWind.astro'
import TwinbiteCast from './_components/TwinbiteCast.astro'
import UltraviolentRayCast from './_components/UltraviolentRayCast.astro'

import ChampionsCircuit from './_mechanics/ChampionsCircuit.astro'
import ProwlingGale from './_mechanics/ProwlingGale.astro'

import { translations } from './_translations'
import SolutionSection from '@/components/section/SolutionSection.astro'
import HowlingBlade from './_components/entities/HowlingBlade.astro'
import Span from '@/components/Span.vue'

const dutyId = '07/m8s2'

const base = '09:10.384'

const prowlingGale = translations.prowlingGale
const riseOfTheHowlingWind = translations.riseOfTheHowlingWind
const twofoldTempest = translations.twofoldTempest
const bareFangs = translations.bareFangs
const championsCircuit = translations.championsCircuit
const quakeIII = translations.quakeIII
const ultraviolentRay = translations.ultraviolentRay
const twinbite = translations.twinbite
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <SeparatorSection />
  <DraftWarning />

  <SeparatorSection id="prowling-gale" title=`${prowlingGale}` />
  <ProwlingGale />
  <SeparatorSection id="rise-of-the-howling-wind" title=`${riseOfTheHowlingWind}` />
  <RiseOfTheHowlingWind />

  <SeparatorSection id="bare-fangs-champions-circuit" title=`${bareFangs} + ${championsCircuit}` />
  <ChampionsCircuit
    start="10:03.132"
    activateTimes={['10:19.279', '10:23.683', '10:28.038', '10:32.395', '10:36.755']}
  />

  <SeparatorSection id="QURT" title=`${quakeIII} + ${ultraviolentRay} + ${twinbite}` />
  <QuakeIIICast start="10:41.608" />
  <UltraviolentRayCast start="10:54.772" />
  <TwinbiteCast start="11:04.913" />
  <SolutionSection>
    <div class="flex flex-col gap-4">
      <P>
        参考P1阶段
        <StratLink variant="yellow" href="/07/m8s2/p1#quake-iii">{quakeIII}</StratLink>
        、
        <StratLink variant="yellow" href="/07/m8s2/p1#ultraviolent-ray">{ultraviolentRay}</StratLink>
        、
        <StratLink variant="yellow" href="/07/m8s2/p1#twinbite">{twinbite}</StratLink>
        的处理方法
      </P>
      <P>
        注意：此时
        <HowlingBlade />
        面向
        <Span variant="cyan">不一定指向初始平台（即之前被破坏又恢复的平台），请以初始平台为南作为基准</Span>
      </P>
    </div>
  </SolutionSection>
</DutyStratLayout>
