---
import Badge from '@/components/Badge.astro'
import ListDot from '@/components/ListDot.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import StratLink from '@/components/StratLink.astro'
import EventSection from '@/components/section/EventSection.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import P from '@/components/typography/P.astro'
import Quote from '@/components/typography/Quote.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'
import BossAttackSection from './_components/BossAttackSection.astro'
import LamentOfTheClose from './_components/buff/LamentOfTheClose.astro'
import LamentOfTheDistant from './_components/buff/LamentOfTheDistant.astro'
import HowlingBlade from './_components/entities/HowlingBlade.astro'
import HerosBlowCast from './_components/HerosBlowCast.astro'
import LoneWolfsLamentCast from './_components/LoneWolfsLamentCast.astro'
import ProwlingGaleCast from './_components/ProwlingGaleCast.astro'
import ProwlingGaleEvent from './_components/ProwlingGaleEvent.astro'
import RiseOfTheEffect from './_components/RiseOfTheEffect.astro'
import RiseOfTheHuntersBladeCast from './_components/RiseOfTheHuntersBladeCast.astro'
import UltraviolentRayCast from './_components/UltraviolentRayCast.astro'
import { translations } from './_translations'

const dutyId = '07/m8s2'

const base = '11:20.127'

const riseOfTheHuntersBlade = translations.riseOfTheHuntersBlade
const championsCircuit = translations.championsCircuit
const loneWolfsLament = translations.loneWolfsLament
const prowlingGale = translations.prowlingGale
const herosBlow = translations.herosBlow
const ultraviolentRay = translations.ultraviolentRay
const quakeIII = translations.quakeIII
const twinbite = translations.twinbite
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <SeparatorSection id="rise-of-the-howling-wind" title={`${riseOfTheHuntersBlade}`} />
  <RiseOfTheHuntersBladeCast start="11:20.127" />

  <BossAttackSection time="11:28.667" damage="60000" damageType="physical" />

  <LoneWolfsLamentCast start="11:29.245" />

  <BossAttackSection time="11:34.711" damage="60000" damageType="physical" />
  <BossAttackSection time="11:37.732" damage="60000" damageType="physical" />

  <ProwlingGaleCast start="11:39.379" />

  <BossAttackSection time="11:43.785" damage="60000" damageType="physical" />
  <BossAttackSection time="11:46.810" damage="60000" damageType="physical" />
  <BossAttackSection time="11:49.829" damage="60000" damageType="physical" />

  <ProwlingGaleEvent time="11:51.116" num={5} />

  <BossAttackSection time="11:52.848" damage="60000" damageType="physical" />

  <MechanicSection>
    <div class="flex flex-col gap-4">
      <T variant="yellow" text={riseOfTheHuntersBlade} />
      <RiseOfTheEffect />

      <T variant="yellow" text={loneWolfsLament} class="mt-8" />
      <P>
        <RoleIcon role="tank|healer" />
        会和
        <RoleIcon role="dps" />
        两两连线，有近线和远线两种，
        <RoleIcon role="tank" tag="双T" />
        和
        <RoleIcon role="healer" tag="双奶" />
        都各会有一近一远连接
        <RoleIcon role="dps" />
        ，如下图：
      </P>
      <ImgRow
        bordered={false}
        wrapperClass="max-w-150"
        imgClass="shadowbringer"
        imgs={[
          {
            src: '07/m8s2/p3/lone_wolfs_lament_tether.webp',
            alt: '孤狼连线',
          },
        ]}
      />
      <P>
        连近线的人会被赋予
        <LamentOfTheClose tag="21" hover />
        ，相互不可远离；连远线的人则会被赋予
        <LamentOfTheDistant tag="21" hover />
        ，相互不可靠近
      </P>

      <T variant="yellow" text={prowlingGale} class="mt-8" />
      <P>生成三座单人塔，一座两人塔，一座三人塔，分布模式仅有如下两种：</P>
      <ImgRow
        bordered={false}
        wrapperClass="max-w-120"
        imgClass="shadowbringer"
        imgs={[
          {
            src: '07/m8s2/p3/lone_wolfs_lament_tower1.webp',
            alt: '孤狼塔模式一',
          },
          {
            src: '07/m8s2/p3/lone_wolfs_lament_tower2.webp',
            alt: '孤狼塔模式二',
          },
        ]}
      />
    </div>
  </MechanicSection>
  <SolutionSection title="解法：日野主流（Alice）">
    <div class="flex flex-col gap-4">
      <Quote variant="lime" class="gap-1 pl-2.5 opacity-80">
        <P>注意：</P>
        <P>
          <ListDot />
          从前面最后一轮
          <Skill name={championsCircuit} />
          后，
          <HowlingBlade />
          的面向都会保持不变，这里以面朝右上平台为例
        </P>
        <P>
          <ListDot />
          以下站位都是
          <Span variant="cyan">以初始平台作为正南基准</Span>
        </P>
      </Quote>

      <P class="mt-8">
        处理完之前的
        <Skill name={[quakeIII, ultraviolentRay, twinbite]}>
          <Fragment slot="separator">+</Fragment>
        </Skill>
        后，
        <RoleIcon role="all" tag="全员" />
        按下图预站位，待连线出现后观察自身连线情况：
      </P>
      <ImgRow
        bordered={false}
        wrapperClass="max-w-150"
        imgClass="shadowbringer"
        imgs={[
          {
            src: '07/m8s2/p3/lone_wolfs_lament_preposition.webp',
            alt: '孤狼预站位',
          },
        ]}
      />

      <P>
        看好线后，在塔出现前，
        <RoleIcon role="all" tag="全员" />
        按下图转移到对应平台，并将线拉成下图所示情况：
      </P>
      <ImgRow
        bordered={false}
        wrapperClass="max-w-150"
        imgClass="shadowbringer"
        imgs={[
          {
            src: '07/m8s2/p3/lone_wolfs_lament_tower_preposition.webp',
            alt: '孤狼踩塔预站位',
          },
        ]}
      />
      <P>具体来说：</P>
      <Quote variant="lime" class="pl-2.5">
        <P>
          <ListDot />
          远线
          <RoleIcon role="tank" />
          传到左下平台，与远线
          <RoleIcon role="tank" />
          相连的
          <RoleIcon role="dps" />
          不动
        </P>
        <P>
          <ListDot />
          近线
          <RoleIcon role="tank" />
          和与之相连的
          <RoleIcon role="dps" />
          传到右上平台汇合
        </P>
        <P>
          <ListDot />
          <RoleIcon role="healer" tag="双奶" />
          始终在初始平台不动，与
          <RoleIcon role="healer" />
          相连的远线
          <RoleIcon role="dps" />
          传到右上平台，近线
          <RoleIcon role="dps" />
          则传到正下平台
        </P>
      </Quote>
      <P class="mt-4">乍一看有点复杂，但其实各个职能只关注自己就非常简单：</P>
      <Quote variant="lime" class="pl-2.5">
        <P>
          <ListDot />
          <RoleIcon role="healer" tag="双奶" />
          ：不用动，无脑站在初始平台
        </P>
        <P>
          <ListDot />
          <RoleIcon role="tank" tag="双T" />
          ：自己是远线就往右（面向场中）移动一个平台，是近线就往左（面向场中）移动一个平台
        </P>
        <P>
          <ListDot />
          <RoleIcon role="dps" />
          ：自己是近线就靠近另一端；自己是远线且足够远（连
          <RoleIcon role="tank" />
          ）就不动，太近（连
          <RoleIcon role="healer" />
          ）就远离
        </P>
      </Quote>

      <P class="mt-8">
        <HowlingBlade />
        读条
        <Skill name={prowlingGale} />
        ，塔出现，左上/右上平台的三人根据塔的刷新模式调整位置踩塔，机制就处理完了：
      </P>
      <ImgRow
        bordered={false}
        wrapperClass="max-w-120"
        imgClass="shadowbringer"
        imgs={[
          {
            src: '07/m8s2/p3/lone_wolfs_lament_solution1.webp',
            alt: '孤狼踩塔一',
          },
          {
            src: '07/m8s2/p3/lone_wolfs_lament_solution2.webp',
            alt: '孤狼踩塔二',
          },
        ]}
      />
    </div>
  </SolutionSection>

  <SeparatorSection id="heros-blow-ultraviolent-ray" title={`${herosBlow} + ${ultraviolentRay}`} />
  <HerosBlowCast start="11:53.603" />

  <BossAttackSection time="12:01.908" damage="60000" damageType="physical" />

  <EventSection time="12:02.603">
    传送装置恢复正常
    <Badge variant="emerald">传送间隔-</Badge>
  </EventSection>

  <BossAttackSection time="12:04.929" damage="60000" damageType="physical" />

  <UltraviolentRayCast start="12:06.753" />

  <BossAttackSection time="12:13.952" damage="60000" damageType="physical" />
  <BossAttackSection time="12:16.973" damage="60000" damageType="physical" />

  <SolutionSection>
    <div class="flex flex-col gap-4">
      <P>
        在处理完
        <Skill name={loneWolfsLament} />
        后，
        <HowlingBlade />
        会立刻面向随机玩家所在平台中心，读条
        <Skill name={herosBlow} />
      </P>
      <P>由于此时传送装置尚未恢复，我们有且仅有一次传送到其它平台躲避的机会，因此一定要看好了再传</P>
      <P>
        以
        <HowlingBlade />
        面向右下平台，劈左边为例，踩完塔后，
        <RoleIcon role="all" tag="全员" />
        刚开始的站位如下图：
      </P>
      <ImgRow
        bordered={false}
        wrapperClass="max-w-150"
        imgClass="shadowbringer"
        imgs={[
          {
            src: '07/m8s2/p3/herosBlow1.webp',
            alt: '',
          },
        ]}
      />
      <P>
        显然
        <HowlingBlade />
        正面平台一定会有安全区，因此在正面平台的人可以不用传送
      </P>
      <P>
        在
        <HowlingBlade />
        两侧平台（能看到侧身位标志）的人可以无脑往
        <HowlingBlade />
        正面平台传送
      </P>
      <P>
        而在
        <HowlingBlade />
        身后两平台的人则必须先看好半场刀，已在安全侧的人不用动，危险侧的人则要传送到安全侧
      </P>
      <P>
        最终，
        <RoleIcon role="all" tag="全员" />
        传送后的站位如下图：
      </P>
      <ImgRow
        bordered={false}
        wrapperClass="max-w-150"
        imgClass="shadowbringer"
        imgs={[
          {
            src: '07/m8s2/p3/herosBlow2.webp',
            alt: '',
          },
        ]}
      />

      <P>
        接下来要马上排队处理
        <Skill name={ultraviolentRay} />
        ，由于实战里已经过多次传送，此时基本是不知道初始平台在哪的
      </P>
      <P>
        因此，我们
        <Span variant="cyan">以</Span>
        <HowlingBlade />
        <Span variant="cyan">此时面对的平台作为正南基准</Span>
        ，分两组排队预站位
      </P>
      <P>
        以上图为例，显然
        <RoleIcon role="tank" tag="MT" />
        组的
        <Span variant="default">4</Span>
        人要去正下平台，
        <RoleIcon role="tank" tag="ST" />
        组的
        <Span variant="default">4</Span>
        人则要去右上平台
      </P>
      <P>
        此时在
        <HowlingBlade />
        正面平台的人很简单，看好方向往左或右传送一次即可
      </P>
      <P>
        而在
        <HowlingBlade />
        背面平台的人则务必看准方向，以上图为例：
      </P>
      <Quote variant="lime">
        <P>
          显然
          <RoleIcon role="tank" tag="MT" />
          <RoleIcon role="melee" tag="D1" />
          应该逆时针传送一次，而
          <RoleIcon role="tank" tag="ST" />
          则需要
          <Span variant="cyan">顺时针传送两次</Span>
        </P>
      </Quote>
      <P>
        这里需要注意，
        <Skill name={herosBlow} />
        <Span variant="cyan">判定后不要马上传送，务必等传送装置恢复正常再传送</Span>
      </P>
      <P>
        最终
        <RoleIcon role="all" tag="全员" />
        排队预站位如下：
      </P>
      <ImgRow
        bordered={false}
        wrapperClass="max-w-150"
        imgClass="shadowbringer"
        imgs={[
          {
            src: '07/m8s2/p3/ultraviolentRay.webp',
            alt: '',
          },
        ]}
      />

      <P>
        之后就正常处理
        <Skill name={ultraviolentRay} />
        即可，忘了怎么处理的话可以
        <StratLink variant="lime" href="/07/m8s2/p1#ultraviolent-ray">点击此处回P1复习</StratLink>
      </P>
    </div>
  </SolutionSection>
  <NoteSection>
    <div class="flex flex-col gap-4">
      <P>
        最后这次
        <Skill name={ultraviolentRay} />
        有非常多的处理方法，但没有什么方法可以同时满足：
      </P>
      <Quote variant="cyan" class="gap-2 pl-2.5">
        <P>1. 逻辑简单</P>
        <P>2. 最坏情况下只需传送<Span variant="default">≤2</Span>次（从<Skill name={herosBlow} />判定后开始算起）</P>
      </Quote>
      <P>因此这里建议就用最朴素的思路即可，只需要牢记：</P>
      <P>不管要去哪（一次性，多次不算），最多只需要传送两次，如果走的路线是3次，说明一定选错了方向</P>
    </div>
  </NoteSection>
</DutyStratLayout>
