---

import DutyStratLayout from '@/layouts/DutyStratLayout.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'

import EventSection from '@/components/section/EventSection.astro'
import SBGR from './_mechanics/SBGR.astro'
import Sporesplosion from './_mechanics/Sporesplosion.astro'
import DDAB from './_mechanics/DDAB.astro'
import StrangeSeeds from './_mechanics/StrangeSeeds.astro'
import PowerSlamCast from './_components/PowerSlamCast.astro'
import AttackSection from './_components/BossAttackSection.astro'
import BruteAbombinator from './_components/BruteAbombinator.astro'
import GrapplingIvy from './_components/GrapplingIvy.astro'

import AbominableBlinkCast from './_components/AbominableBlinkCast.astro'
import AbominableBlinkActivate from './_components/AbominableBlinkActivate.astro'
import ThornyDeathmatchCast from './_components/ThornyDeathmatchCast.astro'
import TDAB from './_mechanics/TDAB.astro'
import StoneringerCast from './_components/StoneringerCast.astro'

import GlowerPowerCast from './_components/GlowerPowerCast.astro'
import ElectrogeneticForceActivate from './_components/ElectrogeneticForceActivate.astro'
import RevengeOfTheVinesCast from './_components/RevengeOfTheVinesCast.astro'
import { translations } from './_translations'
import PowerSlam from './_mechanics/PowerSlam.astro'
import P from '@/components/typography/P.astro'
import StratLink from '@/components/StratLink.astro'
import BrutishSwingCast from './_components/BrutishSwingCast.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

const dutyId = '07/m7s'

const base = '02:38.206'
const stoneringer = translations.stoneringer
const brutishSwing = translations.brutishSwing
const thornyDeathmatch = translations.thornyDeathmatch
const sporesplosion = translations.sporesplosion
const strangeSeeds = translations.strangeSeeds
const powerslam = translations.powerslam
const demolitionDeathmatch = translations.demolitionDeathmatch
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <GrapplingIvy time="02:38.206" />
  <EventSection time="02:42.841">
    <BruteAbombinator />挂墙完毕，可选中
  </EventSection>
  <AttackSection time="02:42.841" damage="57000" damageType="magical" />
  <AttackSection time="02:45.868" damage="57000" damageType="magical" />

  <SeparatorSection id="SBGR" title={`${stoneringer} + ${brutishSwing}`} />
  <SBGR />

  <SeparatorSection id="TDAB" title={`${thornyDeathmatch}`} />
  <ThornyDeathmatchCast start="03:22.806" />
  <StoneringerCast start="03:27.928" />
  <AbominableBlinkCast start="03:35.780" />
  <AbominableBlinkActivate time="03:42.064" />
  <AttackSection time="03:43.089" damage="57000" damageType="magical" />
  <AttackSection time="03:46.120" damage="57000" damageType="magical" />
  <TDAB />

  <SeparatorSection id="sporesplosion" title={sporesplosion} />
  <Sporesplosion start="03:47.190" />

  <SeparatorSection id="DDAB" title={`${demolitionDeathmatch}`} />
  <DDAB />

  <SeparatorSection id="strange-seeds" title={strangeSeeds} />
  <StrangeSeeds />

  <SeparatorSection id="SBGR2" title={`${stoneringer} + ${brutishSwing}`} />
  <BrutishSwingCast start="05:20.887" />
  <ElectrogeneticForceActivate time="05:33.672" />
  <GlowerPowerCast start="05:29.839" />
  <RevengeOfTheVinesCast start="05:34.653" />
  <AttackSection time="05:41.688" damage="57000" damageType="magical" />
  <AttackSection time="05:44.719" damage="57000" damageType="magical" />
  <SolutionSection>
    <div class="flex flex-col gap-4">
      <P>
        <StratLink variant="yellow" href="#SBGR">
          {`${stoneringer} + ${translations.brutishSwing}`}
        </StratLink>
        组合技，处理方式与之前相同
      </P>
    </div>
  </SolutionSection>

  <SeparatorSection id="powerslam" title={powerslam} />
  <PowerSlamCast time="05:45.833" />
  <PowerSlam />
</DutyStratLayout>
