---
import { getEntry } from 'astro:content'

import Layout from '@/layouts/Layout.astro'

import StratHeader from '@/components/StratHeader.astro'

interface Props {
  dutyId: string
}

const { dutyId }: Props = Astro.props
const duty = (await getEntry('duties', dutyId))!.data
const href = (() => {
  if (duty.status === 'upcoming') return undefined
  if (duty.indexAvailable) return duty.href
  return undefined
})()
---

<Layout lang="zh-CN" title={duty.title} description={duty.description}>
  <div class="min-w-strat-min relative min-h-dvh">
    <StratHeader baseUrl={href} name={duty.name} phases={duty.phases} />
    <slot />
  </div>
</Layout>
