---
import { getEntry } from 'astro:content'
import StratHeader from '@/components/StratHeader.astro'
import Layout from '@/layouts/Layout.astro'

interface Props {
  dutyId: string
}

const { dutyId }: Props = Astro.props
const duty = (await getEntry('duties', dutyId))!.data
const href = (() => {
  if (duty.status === 'upcoming') return undefined
  if (duty.indexAvailable) return duty.href
  return undefined
})()
const phaseIndex = (() => {
  const pathname = Astro.url.pathname?.trim() ?? ''
  const dutyPhases = duty.phases
  return dutyPhases.findIndex((item) => pathname.includes(item.href?.trim())) + 1
})()
const phaseTitle = phaseIndex > 0 ? ` - P${phaseIndex}` : ` - 首页`
---

<Layout lang="zh-CN" title={duty.title + phaseTitle} description={duty.description}>
  <div class="min-w-strat-min relative min-h-dvh">
    <StratHeader baseUrl={href} name={duty.name} phases={duty.phases} videoLink={duty.videoLink} />
    <slot />
  </div>
</Layout>
