---
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

import CollapseSection from '@/components/section/CollapseSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import EventSection from '@/components/section/EventSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import Span from '@/components/Span.vue'
import DraftWarning from '@/components/DraftWarning.astro'

import BruteAbombinator from './_components/BruteAbombinator.astro'
import BrutalImpactCast from './_components/BrutalImpactCast.astro'
import BrutalImpactActivate from './_components/BrutalImpactActivate.astro'
import BrutalImpact from './_mechanics/BrutalImpact.astro'

import Stoneringer from './_mechanics/Stoneringer.astro'
import SinisterSeeds from './_mechanics/SinisterSeeds.astro'
import Explosion from './_mechanics/Explosion.astro'
import StoneringerCast from './_components/StoneringerCast.astro'
import SmashHereCast from './_components/SmashHereCast.astro'
import PulpSmash from './_mechanics/PulpSmash.astro'
import NeoBombarianSpecial from './_mechanics/NeoBombarianSpecial.astro'
import AttackSection from './_components/BruteAbombinatorAttackSection.astro'
import ExplosionCast from './_components/ExplosionCast.astro'
import ExplosionActivate from './_components/ExplosionActivate.astro'
import SmashActivate from './_components/SmashActivate.astro'
import BrutishSwingActivate from './_components/BrutishSwingActivate.astro'
import { translations } from './_translations'

const dutyId = '07/m7s'
const base = 0
const brutalImpact = translations.brutalImpact
const stoneringer = translations.stoneringer
const sinisterSeeds = translations.sinisterSeeds
const explosion = translations.explosion
const pulpSmash = translations.pulpSmash
const neoBombarianSpecial = translations.neoBombarianSpecial
---

<DutyStratLayout dutyId={dutyId}>
  <SeparatorSection />
  <DraftWarning />
  <SeparatorSection />
  <EventSection>
    <RoleIcon role="tank" tag="MT" />
    开怪，将
    <BruteAbombinator />
    固定在场中偏南一点的位置
  </EventSection>
  <AttackSection time="00:03.832" base={base} damage="57000" damageType="physical" />
  <SeparatorSection id="BrutalImpact" title={brutalImpact} />
  <BrutalImpactCast start="00:05.165" base={base} toln={6} />
  <CollapseSection>
    <Fragment slot="summary">
      <BruteAbombinator />
      连续释放<Span variant="pink">6</Span>次AoE，每轮伤害
      <DamageInfo damage="57000" type="physical" />
    </Fragment>
    <Fragment slot="details">
      <BrutalImpactActivate time="00:10.381" base={base} num={1} />
      <BrutalImpactActivate time="00:11.451" base={base} num={2} />
      <BrutalImpactActivate time="00:12.521" base={base} num={3} />
      <BrutalImpactActivate time="00:13.589" base={base} num={4} />
      <BrutalImpactActivate time="00:14.657" base={base} num={5} />
      <BrutalImpactActivate time="00:15.727" base={base} num={6} /></Fragment
    >
  </CollapseSection>

  <BrutalImpact base={base} />
  <AttackSection time="00:18.577" base={base} damage="57000" damageType="physical" />

  <SeparatorSection id="stoneringer" title={stoneringer} />
  <Stoneringer base={base} />
  <AttackSection time="00:35.910" base={base} damage="57000" damageType="physical" />
  <AttackSection time="00:39.740" base={base} damage="57000" damageType="physical" />

  <SeparatorSection id="sinister-seeds" title={sinisterSeeds} />
  <SinisterSeeds base={base} />

  <SeparatorSection id="explosion" title={explosion} />

  <ExplosionCast time="01:36.275" base={base} num={1} />
  <ExplosionCast time="01:38.818" base={base} num={2} />
  <ExplosionCast time="01:41.314" base={base} num={3} />
  <ExplosionActivate time="01:45.234" base={base} num={1} />
  <StoneringerCast start="01:46.61" base={base} />
  <ExplosionActivate time="01:47.815" base={base} num={2} />
  <ExplosionActivate time="01:50.309" base={base} num={3} />
  <SmashHereCast start="01:54.42" base={base} />
  <BrutishSwingActivate time="01:58.147" base={base} />
  <SmashActivate time="01:59.304" base={base} />

  <Explosion base={base} />

  <AttackSection time="02:02.160" base={base} damage="57000" damageType="physical" />

  <SeparatorSection id="pulp-smash" title={pulpSmash} />
  <PulpSmash base={base} />
  <AttackSection time="02:11.071" base={base} damage="57000" damageType="physical" />
  <AttackSection time="02:14.104" base={base} damage="57000" damageType="physical" />
  <AttackSection time="02:17.136" base={base} damage="57000" damageType="physical" />

  <SeparatorSection id="neo-bombarian-special" title={neoBombarianSpecial} />
  <NeoBombarianSpecial base={base} />
</DutyStratLayout>
