---
import CollapseSection from '@/components/section/CollapseSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'
import EventSection from '@/components/section/EventSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import Span from '@/components/Span.vue'
import DraftWarning from '@/components/DraftWarning.astro'

import BruteAbombinator from './_components/BruteAbombinator.astro'
import BrutalImpactCast from './_components/BrutalImpactCast.astro'
import BrutalImpactActivate from './_components/BrutalImpactActivate.astro'
import AttackSection from './_components/BruteAbombinatorAttackSection.astro'
import SpecialBombarianSpecial from './_mechanics/SpecialBombarianSpecial.astro'
import { translations } from './_translations'
import Stoneringer2First from './_mechanics/Stoneringer2First.astro'
import Stoneringer2Second from './_mechanics/Stoneringer2Second.astro'

import SinisterSeedsP3 from './_mechanics/SinisterSeedsP3.astro'
import StoneringerCast from './_components/StoneringerCast.astro'
import SmashHereCast from './_components/SmashHereCast.astro'

import BrutishSwingActivate from './_components/BrutishSwingActivate.astro'
import SmashActivate from './_components/SmashActivate.astro'
import DebrisDeathmatch from './_mechanics/DebrisDeathmatch.astro'

import MoveToCenterEvent from './_components/MoveToCenterEvent.astro'

const dutyId = '07/m7s'
const phase = 3
const base = '06:16.310'
const sinisterSeeds = translations.sinisterSeeds
const specialBombarianSpecial = translations.specialBombarianSpecial
const stoneringer2Stoneringers = translations.stoneringer2Stoneringers
const revengeOfTheVines = translations.revengeOfTheVines
const glowerPower = translations.glowerPower
const brutalImpact = translations.brutalImpact
const stoneringer = translations.stoneringer
const debrisDeathmatch = translations.debrisDeathmatch
const strangeSeeds = translations.strangeSeeds
const sporeSac = translations.sporeSac
---

<DutyStratLayout dutyId={dutyId} phase={phase}>
  <SeparatorSection />
  <DraftWarning />
  <SeparatorSection />
  <EventSection time="06:09.273">
    <BruteAbombinator />可选中
  </EventSection>
  <AttackSection time="06:09.986" base={base} damage="57000" damageType="physical" />
  <AttackSection time="06:13.014" base={base} damage="57000" damageType="physical" />
  <AttackSection time="06:16.042" base={base} damage="57000" damageType="physical" />

  <BrutalImpactCast start="06:16.310" base={base} toln={7} />
  <CollapseSection>
    <Fragment slot="summary">
      <BruteAbombinator />
      连续释放<Span variant="pink">7</Span>次AoE，每轮伤害
      <DamageInfo damage="55000" type="physical" />
    </Fragment>
    <Fragment slot="details">
      <BrutalImpactActivate time="06:21.518" base={base} num={1} />
      <BrutalImpactActivate time="06:22.587" base={base} num={2} />
      <BrutalImpactActivate time="06:23.658" base={base} num={3} />
      <BrutalImpactActivate time="06:24.727" base={base} num={4} />
      <BrutalImpactActivate time="06:25.797" base={base} num={5} />
      <BrutalImpactActivate time="06:26.867" base={base} num={6} />
      <BrutalImpactActivate time="06:27.935" base={base} num={7} />
    </Fragment>
  </CollapseSection>
  <AttackSection time="06:30.789" base={base} damage="57000" damageType="physical" />

  <SeparatorSection id="S2RG" title=`${stoneringer2Stoneringers} + ${revengeOfTheVines} + ${glowerPower}` />
  <MoveToCenterEvent time="06:31.100" base={base} />
  <Stoneringer2First time="06:33.194" base={base} />

  <SeparatorSection title={brutalImpact} />
  <AttackSection time="07:15.515" base={base} damage="57000" damageType="physical" />
  <BrutalImpactCast start="07:16.318" base={base} toln={8} />
  <CollapseSection>
    <Fragment slot="summary">
      <BruteAbombinator />
      连续释放<Span variant="pink">8</Span>次AoE，每轮伤害
      <DamageInfo damage="55000" type="physical" />
    </Fragment>
    <Fragment slot="details">
      <BrutalImpactActivate time="07:21.535" base={base} num={1} />
      <BrutalImpactActivate time="07:22.606" base={base} num={2} />
      <BrutalImpactActivate time="07:23.678" base={base} num={3} />
      <BrutalImpactActivate time="07:24.749" base={base} num={4} />
      <BrutalImpactActivate time="07:25.819" base={base} num={5} />
      <BrutalImpactActivate time="07:26.887" base={base} num={6} />
      <BrutalImpactActivate time="07:27.956" base={base} num={7} />
      <BrutalImpactActivate time="07:29.028" base={base} num={8} />
    </Fragment>
  </CollapseSection>
  <SeparatorSection title={stoneringer} />
  <StoneringerCast start="07:32.145" base={base} />
  <SmashHereCast start="07:39.990" base={base} />
  <BrutishSwingActivate time="07:43.955" base={base} />
  <SmashActivate time="07:45.113" base={base} />

  <AttackSection time="07:47.962" base={base} damage="57000" damageType="physical" />
  <AttackSection time="07:50.993" base={base} damage="57000" damageType="physical" />

  <SeparatorSection id="debris-deathmatch-sporesac" title={`${debrisDeathmatch} + {$sporeSac}`} />
  <DebrisDeathmatch base={base} />

  <SeparatorSection id="sinister-seeds" title={sinisterSeeds} />
  <SinisterSeedsP3 base={base} />

  <SeparatorSection title={brutalImpact} />
  <BrutalImpactCast start="09:05.357" base={base} toln={8} />
  <CollapseSection>
    <Fragment slot="summary">
      <BruteAbombinator />
      连续释放<Span variant="pink">8</Span>次AoE，每轮伤害
      <DamageInfo damage="55000" type="physical" />
    </Fragment>
    <Fragment slot="details">
      <BrutalImpactActivate time="09:10.574" base={base} num={1} />
      <BrutalImpactActivate time="09:11.643" base={base} num={2} />
      <BrutalImpactActivate time="09:12.713" base={base} num={3} />
      <BrutalImpactActivate time="09:13.782" base={base} num={4} />
      <BrutalImpactActivate time="09:14.851" base={base} num={5} />
      <BrutalImpactActivate time="09:15.921" base={base} num={6} />
      <BrutalImpactActivate time="09:16.988" base={base} num={7} />
      <BrutalImpactActivate time="09:18.056" base={base} num={8} />
    </Fragment>
  </CollapseSection>
  <AttackSection time="09:20.907" base={base} damage="57000" damageType="physical" />
  <AttackSection time="09:23.935" base={base} damage="57000" damageType="physical" />

  <SeparatorSection id="S2S" title=`${stoneringer2Stoneringers} + ${strangeSeeds}` />
  <Stoneringer2Second time="09:26.252" base={base} />

  <AttackSection time="10:14.526" base={base} damage="57000" damageType="physical" />
  <SeparatorSection title={stoneringer} />
  <StoneringerCast start="10:16.130" base={base} />
  <SmashHereCast start="10:23.968" base={base} />
  <BrutishSwingActivate time="10:27.935" base={base} />
  <SmashActivate time="10:29.098" base={base} />
  <AttackSection time="10:31.948" base={base} damage="57000" damageType="physical" />

  <SeparatorSection title={brutalImpact} />
  <BrutalImpactCast start="10:33.242" base={base} toln={8} />
  <CollapseSection>
    <Fragment slot="summary">
      <BruteAbombinator />
      连续释放<Span variant="pink">8</Span>次AoE，每轮伤害
      <DamageInfo damage="55000" type="physical" />
    </Fragment>
    <Fragment slot="details">
      <BrutalImpactActivate time="10:38.459" base={base} num={1} />
      <BrutalImpactActivate time="10:39.528" base={base} num={2} />
      <BrutalImpactActivate time="10:40.599" base={base} num={3} />
      <BrutalImpactActivate time="10:41.669" base={base} num={4} />
      <BrutalImpactActivate time="10:42.738" base={base} num={5} />
      <BrutalImpactActivate time="10:43.805" base={base} num={6} />
      <BrutalImpactActivate time="10:44.872" base={base} num={7} />
      <BrutalImpactActivate time="10:45.944" base={base} num={8} />
    </Fragment>
  </CollapseSection>
  <AttackSection time="10:48.792" base={base} damage="57000" damageType="physical" />
  <AttackSection time="10:51.819" base={base} damage="57000" damageType="physical" />
  <AttackSection time="10:54.850" base={base} damage="57000" damageType="physical" />
  <SeparatorSection id="special-bombarian-special" title={specialBombarianSpecial} />
  <MoveToCenterEvent time="10:55.164" base={base} />
  <SpecialBombarianSpecial base={base} />
</DutyStratLayout>
