---
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'
import EventSection from '@/components/section/EventSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import DraftWarning from '@/components/draft-warning/DraftWarning.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import DamageDown from '@/components/buff/DamageDown.astro'
import P from '@/components/typography/P.astro'

import BruteAbombinator from './_components/BruteAbombinator.astro'
import BrutalImpactCast from './_components/BrutalImpactCast.astro'
import AttackSection from './_components/BruteAbombinatorAttackSection.astro'
import StoneringerCast from './_components/StoneringerCast.astro'
import SmashHereThereCast from './_components/SmashHereThereCast.astro'
import BrutishSwingActivate from './_components/BrutishSwingActivate.astro'
import MoveToCenterEvent from './_components/MoveToCenterEvent.astro'

import SpecialBombarianSpecial from './_mechanics/SpecialBombarianSpecial.astro'
import Stoneringer2First from './_mechanics/Stoneringer2First.astro'
import Stoneringer2Second from './_mechanics/Stoneringer2Second.astro'
import SinisterSeedsP3 from './_mechanics/SinisterSeedsP3.astro'
import DebrisDeathmatch from './_mechanics/DebrisDeathmatch.astro'

import { translations } from './_translations'

const dutyId = '07/m7s'

const base = '06:09.273'

const sinisterSeeds = translations.sinisterSeeds
const specialBombarianSpecial = translations.specialBombarianSpecial
const stoneringer2Stoneringers = translations.stoneringer2Stoneringers
const revengeOfTheVines = translations.revengeOfTheVines
const glowerPower = translations.glowerPower
const brutalImpact = translations.brutalImpact
const stoneringer = translations.stoneringer
const debrisDeathmatch = translations.debrisDeathmatch
const strangeSeeds = translations.strangeSeeds
const sporesac = translations.sporeSac
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <SeparatorSection />
  <DraftWarning />
  <SeparatorSection />
  <NoteSection>
    <div class="flex flex-col gap-4">
      <P>P3机制多为前2P已出现的相同机制、少数机制效果稍微修改后的重新组合，因此许多机制下面不再详述</P>
      <P>本P机制速度较快，场地较大，容易吃<DamageDown hover />和打不到<BruteAbombinator /></P>
    </div>
  </NoteSection>
  <EventSection time="06:09.273">
    <BruteAbombinator />可选中
  </EventSection>
  <AttackSection time="06:09.986" damage="57000" damageType="physical" />
  <AttackSection time="06:13.014" damage="57000" damageType="physical" />
  <AttackSection time="06:16.042" damage="57000" damageType="physical" />

  <BrutalImpactCast
    start="06:16.310"
    activateTimes={['06:21.518', '06:22.587', '06:23.658', '06:24.727', '06:25.797', '06:26.867', '06:27.935']}
  />
  <AttackSection time="06:30.789" damage="57000" damageType="physical" />

  <SeparatorSection id="S2RG" title=`${stoneringer2Stoneringers} + ${revengeOfTheVines} + ${glowerPower}` />
  <MoveToCenterEvent time="06:31.100" />
  <Stoneringer2First time="06:33.194" />

  <SeparatorSection title={brutalImpact} />
  <AttackSection time="07:15.515" damage="57000" damageType="physical" />
  <BrutalImpactCast
    start="07:16.318"
    activateTimes={[
      '07:21.535',
      '07:22.606',
      '07:23.678',
      '07:24.749',
      '07:25.819',
      '07:26.887',
      '07:27.956',
      '07:29.028',
    ]}
  />
  <SeparatorSection title={stoneringer} />
  <StoneringerCast start="07:32.145" />
  <SmashHereThereCast start="07:39.990" />
  <BrutishSwingActivate time="07:43.955" />

  <AttackSection time="07:47.962" damage="57000" damageType="physical" />
  <AttackSection time="07:50.993" damage="57000" damageType="physical" />

  <SeparatorSection id="debris-deathmatch-sporesac" title=`${debrisDeathmatch} + ${sporesac}` />
  <DebrisDeathmatch />

  <SeparatorSection id="sinister-seeds" title={sinisterSeeds} />
  <SinisterSeedsP3 />

  <SeparatorSection title={brutalImpact} />
  <BrutalImpactCast
    start="09:05.357"
    activateTimes={[
      '09:10.574',
      '09:11.643',
      '09:12.713',
      '09:13.782',
      '09:14.851',
      '09:15.921',
      '09:16.988',
      '09:18.056',
    ]}
  />
  <AttackSection time="09:20.907" damage="57000" damageType="physical" />
  <AttackSection time="09:23.935" damage="57000" damageType="physical" />

  <SeparatorSection id="S2S" title=`${stoneringer2Stoneringers} + ${strangeSeeds}` />
  <Stoneringer2Second time="09:26.252" />

  <AttackSection time="10:14.526" damage="57000" damageType="physical" />
  <SeparatorSection title={stoneringer} />
  <StoneringerCast start="10:16.130" />
  <SmashHereThereCast start="10:23.968" />
  <BrutishSwingActivate time="10:27.935" />
  <AttackSection time="10:31.948" damage="57000" damageType="physical" />

  <SeparatorSection title={brutalImpact} />
  <BrutalImpactCast
    start="10:33.242"
    activateTimes={[
      '10:38.459',
      '10:39.528',
      '10:40.599',
      '10:41.669',
      '10:42.738',
      '10:43.805',
      '10:44.872',
      '10:45.944',
    ]}
  />
  <AttackSection time="10:48.792" damage="57000" damageType="physical" />
  <AttackSection time="10:51.819" damage="57000" damageType="physical" />
  <AttackSection time="10:54.850" damage="57000" damageType="physical" />
  <SeparatorSection id="special-bombarian-special" title={specialBombarianSpecial} />
  <MoveToCenterEvent time="10:55.164" />
  <SpecialBombarianSpecial />
</DutyStratLayout>
