---
import { Image } from 'astro:assets'

import type { Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import DamageDown from '@/components/buff/DamageDown.astro'
import SustainedDamage from '@/components/buff/SustainedDamage.astro'

import P from '@/components/typography/P.astro'
import T from '@/components/typography/T.astro'
import Skill from '@/components/typography/Skill.astro'
import Quote from '@/components/typography/Quote.astro'
import ImgRow from '@/components/typography/ImgRow.astro'

import MillennialDecayCast from '../_components/MillennialDecayCast.astro'
import BreathOfDecayCast from '../_components/BreathOfDecayCast.astro'
import AeroIIICast from '../_components/AeroIIICast.astro'
import GustEvent from '../_components/GustEvent.astro'
import PowerlingGaleEvent from '../_components/ProwlingGaleEvent.astro'
import WindsOfDecayEvent from '../_components/WindsOfDecayEvent.astro'

import HowlingBlade from '../_components/entities/HowlingBlade.astro'
import WolfOfWind from '../_components/entities/WolfOfWind.astro'
import GustEffect from '../_components/GustEffect.astro'
import BreathOfDecayEffect from '../_components/BreathOfDecayEffect.astro'

import { translations } from '../_translations'

import img from '@/assets/07/m8s1/tmp.png'
import breath_of_decay from '@/assets/07/m8s1/millennial_decay/breath_of_decay.png'

interface Props {
  time: Time
  base?: Time
}

const millennialDecay = translations.millennialDecay
const aeroIII = translations.aeroIII
const breathOfDecay = translations.breathOfDecay
const gust = translations.gust
const prowlingGale = translations.prowlingGale
const windsOfDecay = translations.windsOfDecay
const greatWhirlwind = translations.greatWhirlwind

const { time, base = 0 }: Props = Astro.props
---

<MillennialDecayCast start={time} base={base} />
<AeroIIICast start="01:12.135" base={base} />
<BreathOfDecayCast start="01:10.623" base={base} order={1} />
<GustEvent time="01:19.081" base={base} />
<BreathOfDecayCast start="01:12.625" base={base} order={2} />
<BreathOfDecayCast start="01:14.628" base={base} order={3} />
<GustEvent time="01:24.065" reverse base={base} />
<BreathOfDecayCast start="01:16.630" base={base} order={4} />
<BreathOfDecayCast start="01:18.635" base={base} order={5} />
<AeroIIICast start="01:27.802" base={base} />
<PowerlingGaleEvent time="01:35.055" base={base} />
<WindsOfDecayEvent time="01:35.233" base={base} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <T>
      <Skill name={aeroIII} />
    </T>
    <P>源自场地中心的全屏径向击退，防击退有效</P>

    <T class="mt-12">
      <Skill name={breathOfDecay} />
    </T>
    <P>
      <HowlingBlade />
      读条
      <Skill name={millennialDecay} />
      后，会从场地北侧或南侧开始，按顺时针或逆时针先后刷新
      <Span variant="pink">5</Span>
      只
      <WolfOfWind />
    </P>
    <P>
      <WolfOfWind />
      间隔
      <Span variant="pink">36°</Span>
      ，刷新后会读条
      <Span variant="yellow">{breathOfDecay}</Span>
      ，宽度
      <Span variant="pink">8m</Span>
      的直线AoE，可造成
      <BreathOfDecayEffect />
    </P>
    <ImgRow
      borderVariant="cyan"
      rounded
      imgs={[
        {
          src: breath_of_decay,
          alt: '千年风啸',
        },
      ]}
    />

    <T class="mt-12">
      <Skill name={gust} />
    </T>
    <P>
      点名<Span variant="pink">4</Span>
      <RoleIcon role="tank|healer" />或<Span variant="pink">4</Span>
      <RoleIcon role="dps" />
      的半径
      <Span variant="pink">5m</Span>
      的圆形分散，可造成
      <GustEffect />
    </P>
    <P>
      共有
      <Span variant="pink">2</Span>
      轮，每轮点名不同的职能组
    </P>

    <T class="mt-12">
      <Skill name={prowlingGale} />
    </T>
    <P> TODO </P>

    <T class="mt-12">
      <Skill name={windsOfDecay} />
    </T>
    <P> TODO </P>
  </div>
</MechanicSection>

<SolutionSection title="解法：IQ6000【改】">
  <div class="flex flex-col gap-4">
    <Quote variant="lime" class="opacity-80">
      <P>
        注意：本解法互换了原版解法中，
        <RoleIcon role="tank|healer" />
        先风圈时，初始
        <RoleIcon role="tank" tag="ST" />
        和
        <RoleIcon role="healer" tag="H2" />
        的站位，以适配开场的八方站位
      </P>
    </Quote>
    <div class="paragraph">
      首先第一个<WolfOfWind />必定是刷新在北侧或者南侧，将场地分割为左半场和右半场。
    </div>

    <div class="paragraph">
      此时全员需要观察<WolfOfWind />是顺时针还是逆时针。
    </div>

    <div class="paragraph">以场地正北为基准，我们让MT组(MT, H1, D1, D3)去左半场，ST组(ST, H2, D2, D4)去右半场。</div>

    <div class="paragraph">
      第一轮点名出现，我们让四个点名去数字点，MT/D3去<Span variant="red">1</Span>， ST/D4去
      <Span variant="yellow">2</Span>，
    </div>

    <div class="paragraph">
      H1/D1去
      <Span variant="purple">4</Span>， H2/D2去
      <Span variant="sky">3</Span>。近战可以稍微靠近<HowlingBlade />在最远近战距离输出。无点名的安全区在<HowlingBlade
      />的侧面。
    </div>

    <div class="grid grid-cols-4 gap-x-2 gap-y-4">
      <div class="flex flex-col items-center gap-1">
        <Image src={img} alt="shadowchase_case1" class="border-2 border-amber-800/75 dark:border-amber-100" />
        <div>这里应该是support组点名</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <Image src={img} alt="shadowchase_case1" class="border-2 border-amber-800/75 dark:border-amber-100" />
        <div>这里应该是dps组点名</div>
      </div>
    </div>

    <div class="paragraph">
      场地击退效果出现，全员防击退。等待第一轮点名判定后，<WolfOfWind />开始旋转。
    </div>

    <div class="paragraph">
      这里第一轮没有被点到的可以根据<WolfOfWind />是顺时针还是逆时针确定放圈的位置。
    </div>

    <div class="paragraph">如果是顺时针，MT组的远程就会在A点，近战在2点，ST组的远程在C点，近战在4点。</div>

    <div class="paragraph">如果是逆时针，MT组的远程就会在C点，近战在3点，ST组的远程在A点，近战在1点。</div>

    <div class="paragraph">
      这里也可以直接看第二只<WolfOfWind />出现的位置，如果出现在2/4点就是顺时针的规则，否则就是逆时针。
    </div>

    <div class="paragraph">
      以H1为例，观察<WolfOfWind />是顺时针，第一轮没有被点名，那就可以在第一次AoE判定之后去A点等待自己的点名。
    </div>

    <div class="grid grid-cols-4 gap-x-2 gap-y-4">
      <div class="flex flex-col items-center gap-1">
        <Image src={img} alt="shadowchase_case1" class="border-2 border-amber-800/75 dark:border-amber-100" />
        <div>这里应该是顺时针的站位，假设dps先被点名</div>
      </div>

      <div class="flex flex-col items-center gap-1">
        <Image src={img} alt="shadowchase_case1" class="border-2 border-amber-800/75 dark:border-amber-100" />
        <div>这里应该是逆时针的站位，假设dps先被点名</div>
      </div>
    </div>

    <div class="paragraph">
      两次点名结束后，继续躲避直到<WolfOfWind />消失。 随后场上出现四个<WolfOfWind />，观察自己是否有连线。
    </div>

    <div class="paragraph">如果有连线，去连线龙头相反的地方等待被击退将连线拉长。</div>

    <div class="paragraph">
      如果没有连线，则去自己的塔准备踩塔。由于塔会刷新在正点或者斜点，这里我们还是根据颜色分组。
    </div>

    <div class="paragraph">
      <RoleIcon role="tank" tag="MT" />
      或
      <RoleIcon role="ranged" tag="D3" />
      去
      <Span variant="red">红色</Span>
      标点，也就是
      <Span variant="red">A</Span>
      或者
      <Span variant="red">1</Span>
      。
      <RoleIcon role="tank" tag="ST" />
      或
      <RoleIcon role="magic" tag="D4" />
      去
      <Span variant="yellow">黄色</Span>
      标点，也就是
      <Span variant="yellow">B</Span>
      或者
      <Span variant="yellow">2</Span>
      。
    </div>

    <div class="paragraph">
      <RoleIcon role="healer" tag="H2" />
      和
      <RoleIcon role="melee" tag="D2" />
      去
      <Span variant="sky">蓝色</Span>
      标点，也就是
      <Span variant="sky">C</Span>
      或者
      <Span variant="sky">3</Span>
      。
      <RoleIcon role="healer" tag="H1" />
      和
      <RoleIcon role="melee" tag="D1" />
      去
      <Span variant="purple">紫色</Span>
      标点，也就是
      <Span variant="purple">D</Span>
      或者
      <Span variant="purple">4</Span>
      。
    </div>

    <div class="paragraph">
      塔判定，<WolfOfWind />伤害判定，该机制结束。
    </div>
  </div>
</SolutionSection>

<NoteSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      <WolfOfWind />释放的直线AoE伤害约为
      <DamageInfo damage="90000" type="magical" />
      <DamageDown tag="30" />
      如果有人不小心吃到了能稍微抢救一下。
    </div>

    <div class="paragraph">
      如果最后的塔没有踩到，每个会对全团造成
      <Span variant="yellow">{greatWhirlwind}</Span>
      <DamageInfo damage="100000" type="magical" />
      并赋予
      <SustainedDamage tag="15" layer={1} />
      每跳伤害
      <DamageInfo damage="30000" type="special" />
    </div>

    <div class="paragraph">紧接着后面会有多段分摊AoE，一层DoT勉强可以奶得起来，两层基本团灭。</div>
  </div>
</NoteSection>
