---
import type { Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import EventSection from '@/components/section/EventSection.astro'
import CollapseSection from '@/components/section/CollapseSection.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import P from '@/components/typography/P.astro'

import WolfOfWind from '../_components/entities/WolfOfWind.astro'
import WolfOfStone from '../_components/entities/WolfOfStone.astro'
import TacticalPackCast from '../_components/TacticalPackCast.astro'
import WolvesAppearEvent from '../_components/WolvesAppearEvent.astro'
import UntargetbaleEvent from '../_components/UntargetableEvent.astro'
import HowlingHavocCast from '../_components/HowlingHavocCast.astro'
import PackPredationCast from '../_components/PackPredationCast.astro'
import ClearBorneEndEvent from '../_components/ClearBorneEndEvent.astro'
import FontOfWindAether from '../_components/entities/FontOfWindAether.astro'
import FontOfEarthAether from '../_components/entities/FontOfEarthAether.astro'
import ForlornCast from '../_components/ForlornCast.astro'
import WindborneEnd from '../_components/buff/WindborneEnd.astro'
import EarthborneEnd from '../_components/buff/EarthborneEnd.astro'

import { translations } from '../_translations'

interface Props {
  base?: Time
}

const tacticalPack = translations.tacticalPack
const howlingHoavoc = translations.howlingHavoc
const packPredation = translations.packPredation

const { base = 0 }: Props = Astro.props
---

<TacticalPackCast start="02:56.110" base={base} />
<UntargetbaleEvent time="03:01.224" base={base} />
<EventSection time="03:03.400">
  场中出现半径
  <Span variant="pink">8m</Span>
  的圆形范围提示
</EventSection>
<WolvesAppearEvent time="03:03.400" base={base} />
<HowlingHavocCast start="03:03.400" base={base} />
<EventSection time="03:09.002">
  场中半径
  <Span variant="pink">8m</Span>
  的圆形区域变为即死区
</EventSection>

<CollapseSection wider>
  <Fragment slot="summary">
    <WolfOfWind />
    <WolfOfStone />
    读条
    <Skill name={packPredation} />
    ，
    <RoleIcon role="healer|dps" />
    触碰
    <FontOfWindAether />
    /
    <FontOfEarthAether />
    以消除
    <WindborneEnd hover />
    /
    <EarthborneEnd hover />
    ，重复3轮
  </Fragment>
  <Fragment slot="details">
    <PackPredationCast start="03:13.586" base={base} />
    <ClearBorneEndEvent time="03:21.086" base={base} buffTime="21" type="wind" />
    <ClearBorneEndEvent time="03:26.086" base={base} buffTime="21" type="stone" />

    <PackPredationCast start="03:27.703" base={base} />
    <ClearBorneEndEvent time="03:35.203" base={base} buffTime="37" type="wind" />
    <ClearBorneEndEvent time="03:40.203" base={base} buffTime="37" type="stone" />

    <PackPredationCast start="03:41.842" base={base} />
    <ClearBorneEndEvent time="03:49.342" base={base} buffTime="54" type="wind" />
    <ClearBorneEndEvent time="03:54.342" base={base} buffTime="54" type="stone" />
  </Fragment>
</CollapseSection>

<ForlornCast start="04:01.992" base={base} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <T variant="yellow" text={tacticalPack} />
    <P>TODO</P>

    <T class="mt-8" variant="yellow" text={howlingHoavoc} />
    <P>TODO</P>

    <T class="mt-8" variant="yellow" text={packPredation} />
    <P>TODO</P>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <P>TODO</P>
  </div>
</SolutionSection>
