---
import type { Time } from '@/lib/utils'

import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import DamageDown from '@/components/buff/DamageDown.astro'

import T from '@/components/typography/T.astro'
import Skill from '@/components/typography/Skill.astro'
import P from '@/components/typography/P.astro'

import TerrestrialTitansCast from '../_components/TerrestrialTitansCast.astro'
import TitanicPursuitCast from '../_components/TitanicPursuitCast.astro'
import BareFangsEvent from '../_components/BareFangsEvent.astro'
import TowerfallActivate from '../_components/TowerfallActivate.astro'
import HowlingBlade from '../_components/entities/HowlingBlade.astro'
import FangedCrossingCast from '../_components/FangedCrossingCast.astro'

import { translations } from '../_translations'

interface Props {
  base?: Time
}

const {
  terrestrialTitans, // 召唤柱子 5m半径，离场中7m
  titanicPursuit, // 切断柱子+全屏aoe
  fangedCrossing,
} = translations

const { base = 0 }: Props = Astro.props
---

<TerrestrialTitansCast start="02:14.825" base={base} />
<TitanicPursuitCast start="02:21.940" base={base} />
<BareFangsEvent time="02:26.654" base={base} />
<TowerfallActivate time="02:33.543" base={base} />
<FangedCrossingCast start="02:29.940" base={base} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <T>
      <Skill name={terrestrialTitans} />
    </T>
    <P>
      <HowlingBlade />
      读条后，场地一组相对的正点会隆起两根石柱，站进范围内会受到
      <DamageInfo damage="160000" type="magical" />
      <DamageDown tag="30" hover percent={50} />
    </P>

    <T class="mt-8">
      <Skill name={titanicPursuit} />
    </T>
    <P>TODO</P>

    <T class="mt-8">
      <Skill name={fangedCrossing} />
    </T>
    <P>TODO</P>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">TODO</div>
</SolutionSection>
