---
import { Image } from 'astro:assets'

import type { Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import ToggleSwitch from '@/components/ToggleSwitch.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Separator from '@/components/Separator.astro'

import P from '@/components/typography/P.astro'
import T from '@/components/typography/T.astro'
import ImageRow from '@/components/typography/ImageRow.astro'

import XfangCast from '../_components/XfangCast.astro'
import GleamingFang from '../_components/GleamingFang.astro'
import HowlingBlade from '../_components/HowlingBlade.astro'

import xfang_1 from '@/assets/07/m8s1/xfang/1.png'
import xfang_2 from '@/assets/07/m8s1/xfang/2.png'
import stonefang_1 from '@/assets/07/m8s1/xfang/stonefang_1.png'
import stonefang_2 from '@/assets/07/m8s1/xfang/stonefang_2.png'
import stonefang_3 from '@/assets/07/m8s1/xfang/stonefang_3.png'
import stonefang_4 from '@/assets/07/m8s1/xfang/stonefang_4.png'
import stonefang_5 from '@/assets/07/m8s1/xfang/stonefang_5.png'
import stonefang_6 from '@/assets/07/m8s1/xfang/stonefang_6.png'
import windfang_1 from '@/assets/07/m8s1/xfang/windfang_1.png'
import windfang_2 from '@/assets/07/m8s1/xfang/windfang_2.png'
import windfang_3 from '@/assets/07/m8s1/xfang/windfang_3.png'
import windfang_4 from '@/assets/07/m8s1/xfang/windfang_4.png'

import { translations } from '../_translations'

interface Props {
  start: Time
  base?: Time
}

const stonefang = translations.stonefang
const windfang = translations.windfang

const { start, base = 0 }: Props = Astro.props
---

<XfangCast start={start} base={base} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <T>
      <Span variant="orange">{stonefang}</Span>
      |
      <Span variant="green">{windfang}</Span>
    </T>
    <P>
      根据读条不同，
      <HowlingBlade />
      会释放
      <Span variant="orange">钢铁</Span>
      +
      <Span variant="yellow">八方分散</Span>
      或
      <Span variant="green">月环</Span>
      +
      <Span variant="purple">四方二二分摊</Span>
      的组合技：
    </P>
    <div class="flex flex-col gap-4 border-l-2 border-yellow-500 pl-2">
      <P>
        <Span variant="orange">{stonefang}</Span>
        对应半径
        <Span variant="cyan">9m</Span>
        的圆形AoE + 点名
        <RoleIcon role="all" tag="全员" />
        的
        <Span variant="cyan">25°</Span>
        <Span variant="yellow">扇形分散</Span>
      </P>
      <P>
        <Span variant="green">{windfang}</Span>
        对应内径
        <Span variant="cyan">8m</Span>
        的环形AoE + 点名
        <Span variant="default">4</Span><RoleIcon role="tank" /><RoleIcon role="healer" />
        或
        <Span variant="default">4</Span><RoleIcon role="dps" />
        的
        <Span variant="cyan">25°</Span>
        <Span variant="purple">扇形分摊</Span>
      </P>
    </div>
    <P>
      <Span variant="purple">扇形分摊</Span>
      会比
      <Span variant="yellow">扇形分散</Span>
      略疼一些
    </P>
    <P class="mt-8">
      除了
      <Span variant="orange">钢铁</Span>
      和
      <Span variant="green">月环</Span>
      ，
      <HowlingBlade />
      背后的
      <GleamingFang />
      也会进入攻击姿态，在正点/斜点方向形成十字/X字形AoE
    </P>
    <P>
      需要根据
      <GleamingFang />
      的展开位置来判断：
    </P>
    <ImageRow
      wrapperClass="max-w-100"
      borderVariant="cyan"
      imgs={[
        {
          src: xfang_1,
          alt: '光牙: 十字形分布',
          title: '正点方向光牙',
        },
        {
          src: xfang_2,
          alt: '光牙：X字形分布',
          title: '斜点方向光牙',
        },
      ]}
    />
    <P class="mt-8">
      <Span variant="orange">{stonefang}</Span>
      |
      <Span variant="green">{windfang}</Span>
      +
      <GleamingFang />
      最终形成如下的组合攻击：
      <ToggleSwitch id="xfang-mechanic-toggle" lVariant="yellow" rVariant="pink" lLabel="预兆" rLabel="判定" />
    </P>
    <div
      id="xfang-mechanic-grid"
      class="grid grid-cols-[min-content_1px_minmax(0,24rem)_1px_minmax(0,24rem)] grid-rows-[min-content_1px_1fr_1px_1fr]"
    >
      <Separator class="col-start-2" orientation="vertical" />
      <div class="flex justify-center pb-2 text-lg font-bold">正点方向光牙</div>
      <Separator orientation="vertical" />
      <div class="flex justify-center pb-2 text-lg font-bold">斜点方向光牙</div>
      <Separator class="col-span-full" />
      <div
        class="flex justify-center pr-2 text-lg font-bold tracking-wider [text-orientation:mixed] [writing-mode:vertical-lr]"
      >
        <Span variant="orange">{stonefang}</Span>
      </div>
      <Separator orientation="vertical" />
      <div class="px-3 py-2">
        <Image
          src={stonefang_1}
          alt="Stonefang: 1"
          class="omen-img rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
        <Image
          src={stonefang_3}
          alt="Stonefang: 3"
          class="activate-img hidden rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
      </div>
      <Separator orientation="vertical" />
      <div class="px-3 py-2">
        <Image
          src={stonefang_2}
          alt="Stonefang: 2"
          class="omen-img rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
        <Image
          src={stonefang_4}
          alt="Stonefang: 4"
          class="activate-img hidden rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
      </div>
      <Separator class="col-span-full" />
      <div
        class="flex justify-center pr-2 text-lg font-bold tracking-wider [text-orientation:mixed] [writing-mode:vertical-lr]"
      >
        <Span variant="green">{windfang}</Span>
      </div>
      <Separator orientation="vertical" />
      <div class="px-3 py-2">
        <Image
          src={windfang_1}
          alt="Windfang: 1"
          class="omen-img rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
        <Image
          src={windfang_3}
          alt="Windfang: 3"
          class="activate-img hidden rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
      </div>
      <Separator orientation="vertical" />
      <div class="px-3 py-2">
        <Image
          src={windfang_2}
          alt="Windfang: 2"
          class="omen-img rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
        <Image
          src={windfang_4}
          alt="Windfang: 4"
          class="activate-img hidden rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
      </div>
    </div>
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex flex-col gap-4">
    <P class="border-l-2 border-lime-500 pl-2 opacity-80">
      本解法采用类似中国服【光暗未来绝境战】的八方站位，而非日服的标准八方站位
    </P>
    <P class="mt-8">
      根据
      <HowlingBlade />
      读条和
      <GleamingFang />
      方位，按下表站位：
      <ToggleSwitch id="xfang-solution-toggle" lVariant="lime" rVariant="pink" lLabel="预兆" rLabel="判定" />
    </P>
    <P class="opacity-80">
      注：下表
      <Span variant="orange">{stonefang}</Span>
      站位图中已将光牙的两种情况叠加
    </P>
    <div
      id="xfang-solution-grid"
      class="grid grid-cols-[min-content_1px_minmax(0,24rem)_1px_minmax(0,24rem)] grid-rows-[min-content_1px_1fr_1px_1fr]"
    >
      <Separator class="col-start-2" orientation="vertical" />
      <div class="flex justify-center pb-2 text-lg font-bold">正点方向光牙</div>
      <Separator orientation="vertical" />
      <div class="flex justify-center pb-2 text-lg font-bold">斜点方向光牙</div>
      <Separator class="col-span-full" />
      <div
        class="flex justify-center pr-2 text-lg font-bold tracking-wider [text-orientation:mixed] [writing-mode:vertical-lr]"
      >
        <Span variant="orange">{stonefang}</Span>
      </div>
      <Separator orientation="vertical" />
      <div class="translate-x-[calc(50%)] px-3 py-2">
        <Image
          src={stonefang_5}
          alt="Stonefang: 5"
          class="omen-img rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
        <Image
          src={stonefang_6}
          alt="Stonefang: 6"
          class="activate-img hidden rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
      </div>
      <Separator class="col-span-full" />
      <div
        class="flex justify-center pr-2 text-lg font-bold tracking-wider [text-orientation:mixed] [writing-mode:vertical-lr]"
      >
        <Span variant="green">{windfang}</Span>
      </div>
      <Separator orientation="vertical" />
      <div class="px-3 py-2">
        <Image
          src={windfang_1}
          alt="Windfang: 1"
          class="omen-img rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
        <Image
          src={windfang_3}
          alt="Windfang: 3"
          class="activate-img hidden rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
      </div>
      <Separator orientation="vertical" />
      <div class="px-3 py-2">
        <Image
          src={windfang_2}
          alt="Windfang: 2"
          class="omen-img rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
        <Image
          src={windfang_4}
          alt="Windfang: 4"
          class="activate-img hidden rounded-full border-2 border-cyan-700 dark:border-cyan-100"
        />
      </div>
    </div>
    <P class="mt-8">
      若是
      <Span variant="orange">{stonefang}</Span>
      ，可无视光牙方位，按图示固定站位（图示已将光牙的两种情况叠加，显然无影响）
    </P>
    <P>
      若是
      <Span variant="green">{windfang}</Span>
      ，则两两分组找
      <Span variant="pink">同色标点</Span>
      ：
    </P>
    <div class="flex flex-col gap-4 border-l-2 border-lime-500 pl-2">
      <P>
        <RoleIcon role="tank" tag="MT" />
        <RoleIcon role="ranged" tag="D3" />
        去
        <Span variant="red">红色</Span>
        标点，也就是
        <Span variant="red">A</Span>
        或
        <Span variant="red">1</Span>
        ；
        <RoleIcon role="tank" tag="ST" />
        <RoleIcon role="magic" tag="D4" />
        去
        <Span variant="yellow">黄色</Span>
        标点，也就是
        <Span variant="yellow">B</Span>
        或
        <Span variant="yellow">2</Span>
      </P>
      <P>
        <RoleIcon role="healer" tag="H2" />
        <RoleIcon role="melee" tag="D2" />
        去
        <Span variant="sky">蓝色</Span>
        标点，也就是
        <Span variant="sky">C</Span>
        或
        <Span variant="sky">3</Span>
        ；
        <RoleIcon role="healer" tag="H1" />
        <RoleIcon role="melee" tag="D1" />
        去
        <Span variant="purple">紫色</Span>
        标点，也就是
        <Span variant="purple">D</Span>
        或
        <Span variant="purple">4</Span>
      </P>
    </div>
  </div>
</SolutionSection>
<NoteSection>
  <div class="flex flex-col gap-4">
    <P>
      若是
      <Span variant="orange">{stonefang}</Span>
      ，一个角落是可以站下三个人的，紧急情况时可以站到
      <Span variant="pink">标点位置</Span>
      ，这样不会影响他人
    </P>
  </div>
</NoteSection>

<script>
  const mechanicToggle = document.getElementById('xfang-mechanic-toggle') as HTMLInputElement
  const solutionToggle = document.getElementById('xfang-solution-toggle') as HTMLInputElement

  function toggleImages(id: string, activate: boolean) {
    const section = document.getElementById(id)

    if (section) {
      const omenImgs = section.querySelectorAll('.omen-img')
      const activateImgs = section.querySelectorAll('.activate-img')

      if (activate) {
        omenImgs.forEach((img) => img.classList.add('hidden'))
        activateImgs.forEach((img) => img.classList.remove('hidden'))
      } else {
        activateImgs.forEach((img) => img.classList.add('hidden'))
        omenImgs.forEach((img) => img.classList.remove('hidden'))
      }
    }
  }

  if (mechanicToggle) {
    mechanicToggle.addEventListener('change', function () {
      toggleImages('xfang-mechanic-grid', this.checked)
    })
  }

  if (solutionToggle) {
    solutionToggle.addEventListener('change', function () {
      toggleImages('xfang-solution-grid', this.checked)
    })
  }
</script>
