---
import { Image } from 'astro:assets'

import type { Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'

import XfangCast from '../_components/XfangCast.astro'
import LaserIcon from '../_components/LaserIcon.astro'
import HowlingBladeIcon from '../_components/HowlingBladeIcon.astro'

import intercardWindfang from '@/assets/07/m8s1/intercardWindfang.png'
import intercardStonefang from '@/assets/07/m8s1/intercardStonefang.png'
import cardWindfang from '@/assets/07/m8s1/cardWindfang.png'
import cardStonefang from '@/assets/07/m8s1/cardStonefang.png'
import intercardWindfangSol from '@/assets/07/m8s1/intercardWindfangSol.png'
import intercardStonefangSol from '@/assets/07/m8s1/intercardStonefangSol.png'
import cardWindfangSol from '@/assets/07/m8s1/cardWindfangSol.png'
import cardStonefangSol from '@/assets/07/m8s1/cardStonefangSol.png'

interface Props {
  time: Time
  base?: Time
}

const stonefang = '土の魔技'
const windfang = '风の魔技'

const { time, base = 0 }: Props = Astro.props
---

<XfangCast time={time} base={base} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="text-2xl">
      <Span variant="yellow">{stonefang} | {windfang} </Span>
    </div>
    <div class="gap-strat flex items-center">
      根据读条不同，
      <HowlingBladeIcon />
      会释放
      <Span variant="yellow"> 钢铁 </Span>
      +
      <Span variant="pink"> 八方分散 </Span>
      或者
      <Span variant="yellow"> 月环 </Span>
      +
      <Span variant="pink"> 二二分摊 </Span>
      的扇形点名。
    </div>
    <div class="gap-strat flex items-center">
      同时，
      <HowlingBladeIcon />
      还会在正点或者斜点释放四台
      <LaserIcon />
      使用
      <Span variant="yellow"> 直线AoE </Span>
      。
    </div>
    <div class="grid grid-cols-4 gap-x-2 gap-y-4">
      <div class="flex flex-col items-center gap-1">
        <Image
          src={cardWindfang}
          alt="Cardinal + Windfang"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div>正点激光 + {windfang}</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <Image
          src={intercardWindfang}
          alt="Intercardinal + Windfang"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div>斜点激光 + {windfang}</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <Image
          src={cardStonefang}
          alt="Cardinal + Stonefang"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div>正点激光 + {stonefang}</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <Image
          src={intercardStonefang}
          alt="Intercardinal + Stonefang"
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div>斜点激光 + {stonefang}</div>
      </div>
    </div>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">不难看出，安全区在四个正点或者四个斜点。</div>

    <div class="gap-strat flex items-center">
      如果是
      <Span variant="yellow">{windfang}</Span>
      ，我们就按图示分组：
    </div>

    <div class="gap-strat flex items-center">
      <RoleIcon role="tank" tag="MT" />
      和
      <RoleIcon role="ranged" tag="D3" />
      去
      <Span variant="red">红色</Span>
      标点，也就是
      <Span variant="red">A</Span>
      或者
      <Span variant="red">1</Span>
      。
      <RoleIcon role="tank" tag="ST" />
      和
      <RoleIcon role="magic" tag="D4" />
      去
      <Span variant="yellow">黄色</Span>
      标点，也就是
      <Span variant="yellow">B</Span>
      或者
      <Span variant="yellow">2</Span>
      。
    </div>

    <div class="gap-strat flex items-center">
      <RoleIcon role="healer" tag="H2" />
      和
      <RoleIcon role="melee" tag="D2" />
      去
      <Span variant="sky">蓝色</Span>
      标点，也就是
      <Span variant="sky">C</Span>
      或者
      <Span variant="sky">3</Span>
      。
      <RoleIcon role="healer" tag="H1" />
      和
      <RoleIcon role="melee" tag="D1" />
      去
      <Span variant="purple">紫色</Span>
      标点，也就是
      <Span variant="purple">D</Span>
      或者
      <Span variant="purple">4</Span>
      。
    </div>

    <div class="gap-strat flex items-center">
      如果是
      <Span variant="yellow">{stonefang}</Span>
      ，我们就按图示固定八方站位，此时可以无视十字激光。
    </div>

    <div class="gap-strat flex items-center"></div>
  </div>
  <div class="grid grid-cols-4 gap-x-2 gap-y-4">
    <div class="flex flex-col items-center gap-1">
      <Image
        src={cardWindfangSol}
        alt="Cardinal + Windfang"
        class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
      />
      <div>正点激光 + {windfang}</div>
    </div>
    <div class="flex flex-col items-center gap-1">
      <Image
        src={intercardWindfangSol}
        alt="Intercardinal + Windfang"
        class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
      />
      <div>斜点激光 + {windfang}</div>
    </div>
    <div class="flex flex-col items-center gap-1">
      <Image
        src={cardStonefangSol}
        alt="Cardinal + Stonefang"
        class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
      />
      <div>正点激光 + {stonefang}</div>
    </div>
    <div class="flex flex-col items-center gap-1">
      <Image
        src={intercardStonefangSol}
        alt="Intercardinal + Stonefang"
        class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
      />
      <div>斜点激光 + {stonefang}</div>
    </div>
  </div>
</SolutionSection>

<NoteSection>
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">
      如果是
      <Span variant="yellow">{stonefang}</Span>
      ，挤一挤一个角落可以站三个人，不推荐，但是紧急情况可以灵性。
    </div>
    <div class="gap-strat flex items-center">
      如果是
      <Span variant="yellow">{windfang}</Span>
      并且有减员，优先保证有人和奶一起分摊。
    </div>
  </div>
</NoteSection>
