---
import type { Time } from '@/lib/utils'

import DamageDown from '@/components/buff/DamageDown.astro'
import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import ToggleSwitch from '@/components/ToggleSwitch.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import PhysicalVulnerabilityUp from '@/components/buff/PhysicalVulnerabilityUp.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import StratLink from '@/components/StratLink.astro'

import ImgRow from '@/components/typography/ImgRow.astro'
import P from '@/components/typography/P.astro'
import Quote from '@/components/typography/Quote.astro'
import T from '@/components/typography/T.astro'
import Skill from '@/components/typography/Skill.astro'

import XReignCast from '../_components/XReignCast.astro'
import HowlingBlade from '../_components/HowlingBlade.astro'

import { translations } from '../_translations'

import xreign_game_1 from '@/assets/07/m8s1/xreign/game_1.png'
import xreign_game_2 from '@/assets/07/m8s1/xreign/game_2.png'
import xreign_1 from '@/assets/07/m8s1/xreign/1.png'
import xreign_2 from '@/assets/07/m8s1/xreign/2.png'
import xreign_3 from '@/assets/07/m8s1/xreign/3.png'
import xreign_4 from '@/assets/07/m8s1/xreign/4.png'
import xreign_5 from '@/assets/07/m8s1/xreign/5.png'
import xreign_6 from '@/assets/07/m8s1/xreign/6.png'
import xreign_7 from '@/assets/07/m8s1/xreign/7.png'
import xreign_8 from '@/assets/07/m8s1/xreign/8.png'
import xreign_9 from '@/assets/07/m8s1/xreign/9.png'
import xreign_10 from '@/assets/07/m8s1/xreign/10.png'
import xreign_11 from '@/assets/07/m8s1/xreign/11.png'
import xreign_12 from '@/assets/07/m8s1/xreign/12.png'
import xreign_13 from '@/assets/07/m8s1/xreign/13.png'
import solution_1 from '@/assets/07/m8s1/xreign/solution/1.png'
import solution_2 from '@/assets/07/m8s1/xreign/solution/2.png'
import solution_3 from '@/assets/07/m8s1/xreign/solution/3.png'
import solution_4 from '@/assets/07/m8s1/xreign/solution/4.png'
import solution_5 from '@/assets/07/m8s1/xreign/solution/5.png'
import solution_6 from '@/assets/07/m8s1/xreign/solution/6.png'
import solution_7 from '@/assets/07/m8s1/xreign/solution/7.png'
import solution_8 from '@/assets/07/m8s1/xreign/solution/8.png'

interface Props {
  start: Time
  base?: Time
}

const revolutionaryReign = translations.revolutionaryReign
const eminentReign = translations.eminentReign
const wolvesReign = translations.wolvesReign

const { start, base = 0 }: Props = Astro.props
---

<XReignCast start={start} base={base} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <T>
      <Skill name={[revolutionaryReign, eminentReign]} />
    </T>
    <P>
      <HowlingBlade />
      读条期间，场地中心出现一个半径
      <Span variant="pink">6m</Span>
      的圆形范围伤害预兆，同时
      <HowlingBlade />
      周围浮现三个冲锋幻影
    </P>
    <P>
      幻影的冲锋方向呈等边三角形分布，有正三角和倒三角两种情况，如下图：
      <ToggleSwitch
        id="xreign-game-strat-toggle"
        lVariant="yellow"
        rVariant="pink"
        lLabel="游戏截图"
        rLabel="战术视图"
      />
    </P>
    <div id="xreign-game-strat-toggle-div">
      <ImgRow
        class="game-img"
        wrapperClass="max-w-100"
        borderVariant="cyan"
        imgs={[
          {
            src: xreign_game_1,
            alt: '群狼剑：正三角 游戏截图',
            title: '正三角',
          },
          {
            src: xreign_game_2,
            alt: '群狼剑：倒三角 游戏截图',
            title: '倒三角',
          },
        ]}
      />
      <ImgRow
        class="strat-img hidden"
        wrapperClass="max-w-90"
        borderVariant="cyan"
        rounded
        imgs={[
          {
            src: xreign_1,
            alt: '群狼剑：正三角 战术视图',
            title: '正三角',
          },
          {
            src: xreign_2,
            alt: '群狼剑：倒三角 战术视图',
            title: '倒三角',
          },
        ]}
      />
    </div>
    <P>
      读条结束后，
      <HowlingBlade />
      随机移动至某一幻象处，同时三个幻象的方位均出现半径
      <Span variant="pink">6m</Span>
      的圆形范围伤害预兆：
    </P>
    <ImgRow
      borderVariant="cyan"
      rounded
      imgs={[
        {
          src: xreign_3,
          alt: '群狼剑：正三角 BOSS移动至左下',
        },
        {
          src: xreign_4,
          alt: '群狼剑：倒三角 BOSS移动至正下',
        },
      ]}
    />
    <P>
      接着，四个圆形预兆间隔
      <Span variant="pink">0.1s</Span>
      依次判定，场中的最早判定，
      <HowlingBlade />
      所在方向的则最晚判定
    </P>
    <P>因此，若近战在场中黄圈消失时就立刻突进，是有概率吃到最后一个黄圈的</P>
    <P>
      随后，
      <HowlingBlade />
      转身读条
      <Skill name={wolvesReign} />
      ，释放宽度
      <Span variant="pink">10m</Span>
      （恰为目标圈直径）的直线冲锋：
      <ToggleSwitch
        id="xreign-wolves-reign-omen-activate-toggle"
        lVariant="yellow"
        rVariant="pink"
        lLabel="预兆"
        rLabel="判定"
      />
    </P>
    <div id="xreign-wolves-reign-omen-activate-toggle-div">
      <ImgRow
        class="omen-img"
        borderVariant="cyan"
        rounded
        imgs={[
          {
            src: xreign_5,
            alt: '群狼剑：正三角 预兆 BOSS读条从左下往右上冲锋',
          },
          {
            src: xreign_6,
            alt: '群狼剑：倒三角 预兆 BOSS读条从正下往正上冲锋',
          },
        ]}
      />
      <ImgRow
        class="activate-img hidden"
        borderVariant="cyan"
        rounded
        imgs={[
          {
            src: xreign_7,
            alt: '群狼剑：正三角 判定 BOSS读条从左下往右上冲锋',
          },
          {
            src: xreign_8,
            alt: '群狼剑：倒三角 判定 BOSS读条从正下往正上冲锋',
          },
        ]}
      />
    </div>
    <P>
      冲锋到场地对侧后，
      <HowlingBlade />
      再次转身读条
      <Skill name={wolvesReign} />
      ，释放大范围的圆形或扇形伤害：
    </P>
    <ImgRow
      borderVariant="cyan"
      rounded
      imgs={[
        {
          src: xreign_9,
          alt: '群狼剑：BOSS冲锋至右上读条释放钢铁',
        },
        {
          src: xreign_10,
          alt: '群狼剑：BOSS冲锋至正上读条释放扇形',
        },
      ]}
    />
    <Quote variant="yellow">
      <P>
        若先前读条为
        <Skill name={revolutionaryReign} />
        ，则释放半径
        <Span variant="pink">14m</Span>
        的圆形范围伤害
        <DamageInfo damage="150000" type="physical" />
        <DamageDown tag="30" hover />
        <Span variant="rose" class="text-decimal">30%↓</Span>
      </P>
      <P>
        若先前读条为
        <Skill name={eminentReign} />
        ，则释放角度
        <Span variant="pink">120°</Span>
        的扇形范围伤害
        <DamageInfo damage="150000" type="physical" />
        <DamageDown tag="30" hover />
        <Span variant="rose" class="text-decimal">30%↓</Span>
      </P>
    </Quote>
    <P>无论是圆形还是扇形，都附带击退效果，防击退有效</P>
    <P>
      圆形和扇形判定的同时，
      <HowlingBlade />
      还会对
      <RoleIcon role="all" tag="一仇" />
      <RoleIcon role="all" tag="二仇" />
      释放
      <Span variant="pink">60°</Span>
      的扇形死刑，对
      <RoleIcon role="healer" tag="H1" />
      <RoleIcon role="healer" tag="H2" />
      释放
      <Span variant="pink">30°</Span>
      的扇形分摊：
    </P>
    <ImgRow
      borderVariant="cyan"
      rounded
      imgs={[
        {
          src: xreign_11,
          alt: '群狼剑：BOSS冲锋至右上读条释放钢铁，并对玩家释放死刑和分摊',
        },
        {
          src: xreign_12,
          alt: '群狼剑：BOSS冲锋至正上读条释放扇形，并对玩家释放死刑和分摊',
        },
      ]}
    />
    <P>
      死刑对
      <Span variant="blue">防护职业</Span>
      造成
      <DamageInfo damage="360000" type="physical" />
      <PhysicalVulnerabilityUp tag="1" hover />
      ，分摊则对
      <Span variant="red">输出</Span>
      /
      <Span variant="green">治疗</Span>
      造成
      <DamageInfo damage="170000" type="physical" />
      <PhysicalVulnerabilityUp tag="1" hover />
      （三人分摊时人均）
    </P>
    <T id="xreign-bug" text="Bug" variant="yellow" class="mt-12 scroll-mt-[calc(5rem+1px)]" />
    <P>
      眼尖的同学可能已经发现，以下两张图，
      <HowlingBlade />
      与场地中心的距离有细微差别：
    </P>
    <ImgRow
      borderVariant="cyan"
      rounded
      imgs={[
        {
          src: xreign_9,
          alt: '群狼剑：BOSS冲锋至右上读条释放钢铁',
        },
        {
          src: xreign_10,
          alt: '群狼剑：BOSS冲锋至正上读条释放扇形',
        },
      ]}
    />
    <P>
      从目标环的缺口与电网的距离可以较容易看出：左图
      <HowlingBlade />
      与场地中心的距离更近，右图更远
    </P>
    <P>这并非我们作图错误，而是该机制的bug，具体来说：</P>
    <Quote variant="yellow">
      <P>
        <HowlingBlade />
        在东北、东南两个方向释放圆形/扇形时，距离场中约
        <Span variant="pink">7m</Span>
      </P>
      <P>
        <HowlingBlade />
        在西北、正北、西南、正南四个方向释放圆形/扇形时，距离场中约
        <Span variant="pink">7.5m</Span>
      </P>
    </Quote>
    <P>前者会让我们更难躲避圆形范围伤害，但影响不是很大，如下图：</P>
    <ImgRow
      wrapperClass="max-w-90"
      borderVariant="cyan"
      rounded
      imgs={[
        {
          src: xreign_13,
          alt: '群狼剑：西北和东北方向的圆形范围对比',
        },
      ]}
    />
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex flex-col gap-4">
    <P>
      首先躲避初始黄圈，近战注意不要场中黄圈一消失就立刻突进，否则有概率吃到
      <HowlingBlade />
      脚下黄圈
    </P>
    <P>
      接着在两侧躲避
      <HowlingBlade />
      的直线冲锋，以
      <HowlingBlade />
      冲锋的
      <Span variant="pink">终点方向</Span>
      为12点准备引导扇形
    </P>
    <T text={eminentReign} variant="lime" class="mt-12" />
    <P>
      首先是比较简单的<Skill name={eminentReign} />，按下图“1331”站位：
    </P>
    <ImgRow borderVariant="cyan" rounded imgs={[{ src: solution_1, alt: '扫击群狼剑：站位图' }]} />
    <Quote variant="lime">
      <P>
        <RoleIcon role="tank" />
        一左一右站目标圈的<Span variant="pink">两个缺口处</Span>并开好个人减伤，
        <RoleIcon role="tank" tag="MT" />左，<RoleIcon role="tank" tag="ST" />右
      </P>
      <P>
        <RoleIcon role="healer" />
        一左一右站目标圈的<Span variant="pink">身位指示器和扇形预兆之间</Span>，
        <RoleIcon role="healer" tag="H1" />左，<RoleIcon role="healer" tag="H2" />右
      </P>
      <P>
        <RoleIcon role="melee" tag="D1" /><RoleIcon role="ranged" tag="D3" />
        找<RoleIcon role="healer" tag="H1" />分摊，
        <RoleIcon role="dps" tag="D2" /><RoleIcon role="magic" tag="D4" />
        找<RoleIcon role="healer" tag="H2" />分摊
      </P>
    </Quote>
    <P>
      由于<RoleIcon role="tank" /><RoleIcon role="healer" />的最小安全夹角是45°，
      <RoleIcon role="healer" />注意不要超过目标圈的身位指示器
    </P>
    <P>
      并且由于分摊扇形的角度较窄，<RoleIcon role="dps" />注意不要偏离<RoleIcon role="healer" />太多
    </P>
    <T text={revolutionaryReign} variant="lime" class="mt-12" />
    <P>
      其次是比较复杂的<Skill name={revolutionaryReign} />，按下图“1331”站位：
    </P>
    <ImgRow borderVariant="cyan" rounded imgs={[{ src: solution_2, alt: '旋击群狼剑：站位图' }]} />
    <T text="1. 治疗和输出职业找安全点的方法" variant="lime" class="mt-4 text-xl" />
    <P>这里我们把前一轮冲锋的范围和扇形引导点一并画出来，如下图：</P>
    <ImgRow
      borderVariant="cyan"
      rounded
      imgs={[
        { src: solution_3, alt: '旋击群狼剑：治疗/输出安全点找法1' },
        { src: solution_4, alt: '旋击群狼剑：治疗/输出安全点找法2' },
      ]}
    />
    <P>
      由此可见，
      <RoleIcon role="healer" />
      <RoleIcon role="dps" />
      只需要在躲完直线冲锋后，往冲锋范围内挪一步即可
    </P>
    <T text="2. 防护职业找安全点的方法" variant="lime" class="mt-4 text-xl" />
    <T text="2.1 情形一：A/C冲锋" variant="lime" class="text-lg" />
    <P>
      以
      <Span variant="sky">C</Span>往<Span variant="red">A</Span>
      冲为例，沿
      <Span variant="yellow">B</Span>/<Span variant="purple">D</Span>
      点的上下边缘作两条水平参考线，如下图：
    </P>
    <ImgRow
      borderVariant="cyan"
      rounded
      imgs={[
        { src: solution_5, alt: '旋击群狼剑：A/C冲锋 防护职业找安全点的方法1' },
        { src: solution_6, alt: '旋击群狼剑：A/C冲锋 防护职业找安全点的方法2' },
      ]}
    />
    <P>由此可见，先找水平参考线与电网的交点，沿着参考线往场内挪一步，即是备选的极限安全点</P>
    <P>
      <RoleIcon role="tank" />
      只需要在备选安全点里，选择离
      <HowlingBlade />
      更远的那组（图示<Span variant="blue">蓝色圆点</Span>）即可
    </P>
    <T text="2.2 情形二：斜向冲锋" variant="lime" class="text-lg" />
    <P>原本斜向冲锋的4种情况（左上->右下、右上->左下、左下->右上、右下->左上）应该是对称的</P>
    <P>
      但由于前文提及的
      <StratLink variant="yellow" href="#xreign-bug">Bug</StratLink>
      ，【左上->右下】【左下->右上】这两种情况会更危险
    </P>
    <P>
      以【左下->右上】为例，找到
      <Span variant="pink">冲锋两侧</Span>
      的数字标点，沿标点的左右边缘作两条
      <Span variant="pink">竖直</Span>
      参考线，如下图：
    </P>
    <ImgRow
      borderVariant="cyan"
      rounded
      imgs={[
        { src: solution_7, alt: '旋击群狼剑：斜向冲锋 防护职业找安全点的方法1' },
        { src: solution_8, alt: '旋击群狼剑：斜向冲锋 防护职业找安全点的方法2' },
      ]}
    />
    <P>由此可见，先找竖直参考线与电网的交点，沿着参考线往场内挪一步，即是备选的极限安全点</P>
    <P>
      <RoleIcon role="tank" />
      只需要在备选安全点里，选择离
      <HowlingBlade />
      更远的那组（图示<Span variant="blue">蓝色圆点</Span>）即可
    </P>
    <P>实战里可以这样记：</P>
    <Quote variant="lime">
      <P>1. 找冲锋两侧的数字标点</P>
      <P>2. 沿数字标点离BOSS更远的<Span variant="pink">竖直边</Span>走到场边</P>
    </Quote>
    <P>总之，极限安全点的通用找法已经告诉大家，如何记忆可以自行思考</P>
  </div>
</SolutionSection>

<script>
  function toggleImages(id: string, checked: boolean, class1: string, class2: string) {
    const div = document.getElementById(id)

    if (div) {
      const imgs1 = div.querySelectorAll(class1)
      const imgs2 = div.querySelectorAll(class2)

      if (checked) {
        imgs1.forEach((img) => {
          img.classList.toggle('flex', !img.classList.toggle('hidden', true))
        })
        imgs2.forEach((img) => {
          img.classList.toggle('flex', !img.classList.toggle('hidden', false))
        })
      } else {
        imgs2.forEach((img) => {
          img.classList.toggle('flex', !img.classList.toggle('hidden', true))
        })
        imgs1.forEach((img) => {
          img.classList.toggle('flex', !img.classList.toggle('hidden', false))
        })
      }
    }
  }

  const gameStratToggle = document.getElementById('xreign-game-strat-toggle') as HTMLInputElement
  if (gameStratToggle) {
    gameStratToggle.addEventListener('change', function () {
      toggleImages('xreign-game-strat-toggle-div', this.checked, '.game-img', '.strat-img')
    })
  }

  const wolvesReignLineToggle = document.getElementById('xreign-wolves-reign-omen-activate-toggle') as HTMLInputElement
  if (wolvesReignLineToggle) {
    wolvesReignLineToggle.addEventListener('change', function () {
      toggleImages('xreign-wolves-reign-omen-activate-toggle-div', this.checked, '.omen-img', '.activate-img')
    })
  }
</script>
