---
import { Image } from 'astro:assets'

import type { Time } from '@/lib/utils'
import { timeToSeconds } from '@/lib/utils'

import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import XReginCast from '../_components/XReignCast.astro'
import WolvesReignEndCast from '../_components/WolvesReignEndCast.astro'
import WolvesReignLineCast from '../_components/WolvesReignLineCast.astro'

import LaserIcon from '../_components/LaserIcon.astro'
import HowlingBladeIcon from '../_components/HowlingBladeIcon.astro'

import img from '@/assets/07/m8s1/tmp.png'

interface Props {
  time: Time
  base?: Time
}

const revolutionaryReign = "Revolutionary Reign"
const eminentReign = "Eminent Reign"

const { time, base = 0}: Props = Astro.props

const reign1Time = 
  time !== undefined ?
    timeToSeconds(time) + 8
  : undefined

const reign2Time = 
  time !== undefined ?
    timeToSeconds(time) + 11
  : undefined

---

<XReginCast time={time}/>
<WolvesReignLineCast time={reign1Time}/>
<WolvesReignEndCast time={reign2Time}/>

<MechanicSection>

  <div class="flex flex-col gap-4">
    <div class="text-2xl">
      <Span variant="yellow" >{revolutionaryReign} </Span>
      <Span variant="violet">|</Span>
      <Span variant="yellow">{eminentReign}</Span>
    </div>
  </div>
</MechanicSection>
<SolutionSection>
</SolutionSection>
