---
import type { Time } from '@/lib/utils'
import { timeToSeconds } from '@/lib/utils'

import { Image } from 'astro:assets'

import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import PhysicalVulnerabilityUp from '@/components/buff/PhysicalVulnerabilityUp.astro'
import DamageInfo from '@/components/DamageInfo.astro'

import XReginCast from '../_components/XReignCast.astro'
import WolvesReignEndCast from '../_components/WolvesReignEndCast.astro'
import WolvesReignLineCast from '../_components/WolvesReignLineCast.astro'

import HowlingBlade from '../_components/HowlingBlade.astro'

import tmp from '@/assets/07/m8s1/Tmp.png'

interface Props {
  time: Time
  base?: Time
  dragon?: boolean
}

const revolutionaryReign = '廻の郡狼剣'
const wolvesReign = '群狼劍'
const eminentReign = '薙の郡狼剣'

const { time, base = 0 }: Props = Astro.props

const reign1Time = time !== undefined ? timeToSeconds(time) + 8 : undefined

const reign2Time = time !== undefined ? timeToSeconds(time) + 11 : undefined
---

<XReginCast time={time} base={base} />
<WolvesReignLineCast time={reign1Time} base={base} />
<WolvesReignEndCast time={reign2Time} base={base} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="text-2xl">
      <Span variant="yellow">{revolutionaryReign} </Span>
      <Span variant="violet">|</Span>
      <Span variant="yellow">{eminentReign}</Span>
    </div>

    <div class="gap-strat flex items-center">
      <HowlingBlade />
      在读条
      <Span variant="yellow">{revolutionaryReign} </Span>
      <Span variant="violet">|</Span>
      <Span variant="yellow">{eminentReign}</Span>
      后会进入一段组合技。
    </div>

    <div class="gap-strat flex items-center">
      <HowlingBlade />
      会先在身边召唤三个分身冲向三个不同的方向，并且在自身脚下以及分身落点出释放直径为6m的钢铁。
    </div>

    <div class="flex max-w-90 shrink grow flex-col items-center gap-2">
      <Image src={tmp} alt="shadowchase_case1" class="border-2 border-amber-800/75 dark:border-amber-100" />
    </div>

    <div class="gap-strat flex items-center">
      之后，
      <HowlingBlade />
      随机选择一个分身的方向，跳到场边，读条
      <Span variant="yellow">{wolvesReign}</Span> ，
    </div>

    <div class="gap-strat flex items-center">
      对正前方释放宽为5m的直线AoE，并且跳到对面。随后，
      <HowlingBlade />
      读条
      <Span variant="yellow">
        {wolvesReign}
      </Span>
      释放刚刚储存的技能，
    </div>

    <div class="flex max-w-90 shrink grow flex-col items-center gap-2">
      <Image src={tmp} alt="shadowchase_case1" class="border-2 border-amber-800/75 dark:border-amber-100" />
    </div>

    <div class="gap-strat flex items-center">
      <Span variant="yellow">{eminentReign}</Span>
      是
      <HowlingBlade />
      <Span variant="yellow">{revolutionaryReign}</Span>
      是以
      <HowlingBlade />
      为中心直径14m的钢铁，扇形和钢铁均带有击退效果。
    </div>

    <div class="grid grid-cols-4 gap-x-2 gap-y-4">
      <div class="flex flex-col items-center gap-1">
        <Image src={tmp} alt="shadowchase_case1" class="border-2 border-amber-800/75 dark:border-amber-100" />
        <div>{revolutionaryReign}</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <Image src={tmp} alt="shadowchase_case1" class="border-2 border-amber-800/75 dark:border-amber-100" />
        <div>{eminentReign}</div>
      </div>
    </div>

    <div class="gap-strat flex items-center">
      与此同时，
      <HowlingBlade />
      还会对
      <RoleIcon role="tank" tag="双T" />
      释放60°扇形AoE
      <DamageInfo damage="360000" type="physical" />
      <PhysicalVulnerabilityUp tag="1" hover />
      ，
    </div>
    <div class="gap-strat flex items-center">
      对
      <RoleIcon role="healer" tag="双奶" />
      释放30°扇形分摊，三人分摊是人均
      <DamageInfo damage="180000" type="physical" />
      <PhysicalVulnerabilityUp tag="1" hover />
      。两者均带有物理易伤，重叠即死。
    </div>
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">
      如图所示，我们永远以面向
      <HowlingBlade />
      为基准，MT组在左侧，ST组在右侧。
    </div>

    <div class="gap-strat flex items-center">
      如果是{revolutionaryReign}，就是1331的站位，T在两侧开好减伤吃死刑，双奶在中间分摊。
    </div>

    <div class="flex max-w-90 shrink grow flex-col items-center gap-2">
      <Image src={tmp} alt="shadowchase_case1" class="border-2 border-amber-800/75 dark:border-amber-100" />
    </div>

    <div class="gap-strat flex items-center">
      如果是{eminentReign}，就是3113的站位，T在靠近
      <HowlingBlade />
      的内测开好减伤吃死刑，双奶在两侧分摊。
    </div>

    <div class="flex max-w-90 shrink grow flex-col items-center gap-2">
      <Image src={tmp} alt="shadowchase_case1" class="border-2 border-amber-800/75 dark:border-amber-100" />
    </div>
  </div>
</SolutionSection>
