---
import type { Time } from '@/lib/utils'

import { Image } from 'astro:assets'

import RoleIcon from '@/components/RoleIcon.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import ImgRow from '@/components/typography/ImgRow.astro'

import BruteAbombinator from '../_components/BruteAbombinator.astro'
import PulpSmashCast from '../_components/PulpSmashCast.astro'
import TheUnpottedActivate from '../_components/TheUnpottedActivate.astro'

import pulp_smash from '@/assets/07/m7s/pulp_smash/pulp_smash.png'
import pulp_smash_arena_base from '@/assets/07/m7s/pulp_smash/pulp_smash_arena_base.png'
import PulpSmashActivate from '../_components/PulpSmashActivate.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import ListDot from '@/components/ListDot.astro'
import ICftDActivate from '../_components/ICftDActivate.astro'
import T from '@/components/typography/T.astro'
import Skill from '@/components/typography/Skill.astro'
import { translations } from '../_translations'
import Span from '@/components/Span.vue'
import P from '@/components/typography/P.astro'

interface Props {
  base: Time
}

const { base = 0 }: Props = Astro.props
const pulpSmash = translations.pulpSmash
const ITCD = translations.itCameFromTheDirt
const theUnpotted = translations.theUnpotted
---

<PulpSmashCast start="02:01.981" base={base} />
<PulpSmashActivate time="02:07.019" base={base} />
<ICftDActivate time="02:08.978" base={base} />
<TheUnpottedActivate time="02:09.025" base={base} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <T>
        <Skill name={pulpSmash} />
      </T>
      <div class="paragraph">
        <BruteAbombinator />跳向<RoleIcon role="healer" />释放可分摊伤害,总伤害约
        <DamageInfo damage="880000" type="physical" />，8人分摊时每人受到<DamageInfo damage="110000" type="physical" />
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <T class="gap-strat mt-8 inline-flex">
        <Skill name={ITCD} />
      </T>
      <P>
        <Skill name={pulpSmash} />对全员伤害生效<Span variant="pink">1.5秒</Span>后，<BruteAbombinator
        />脚底释放半径<Span variant="pink">6m</Span>的钢铁（<RoleIcon role="boss" tag="boss" /><Span variant="pink"
          >目标圈内环</Span
        >），
      </P>
      <P>对范围内的玩家造成<DamageInfo damage="123000" type="magical" /></P>
    </div>
    <div class="flex flex-col gap-4">
      <T class="gap-strat mt-8 inline-flex">
        <Skill name={theUnpotted} />
      </T>
      <P>
        <Skill name={ITCD} />几乎同时，释放以8人为目标的<Span variant="pink">25°</Span>扇形AOE，造成
        <DamageInfo damage="78000" type="magical" />
        <MagicVulnerabilityUp tag="2" hover />，<Span variant="pink">重合即死</Span>
      </P>
    </div>
  </div>
</MechanicSection>
<SolutionSection title="解法">
  <div class="flex flex-col gap-4">
    <div class="paragraph">分摊预兆出现后，<RoleIcon role="all" tag="所有人" />前往场中等待分摊</div>
    <div class="paragraph">
      在<BruteAbombinator />跳向<RoleIcon role="healer" />分摊后：
    </div>
    <div class="paragraph">
      <ListDot />可以以<RoleIcon role="boss" tag="boss" /><Span variant="pink">面向</Span>为基准，<Span variant="pink"
        >八方分散</Span
      >
    </div>
    <div class="paragraph">
      <ListDot />也可以以<Span variant="pink">场地</Span>为基准，<Span variant="pink">八方分散</Span>
    </div>
    <div class="paragraph">
      分摊伤害生效后，扇形AOE的判定时间约为出动画时间的一半，故请在<BruteAbombinator />
      跳完后<Span variant="pink">立刻离开原地</Span>并<Span variant="pink">分散</Span>
    </div>
    <div class="paragraph">分散示意图如下：</div>
    <ImgRow
      wrapperClass="max-w-100"
      bordered={false}
      imgs={[
        {
          src: pulp_smash,
          alt: '以BOSS面向为准',
          title: '面基',
        },
        {
          src: pulp_smash_arena_base,
          alt: '以场地方向为准',
          title: '场基',
        },
      ]}
    />
  </div>
</SolutionSection>
