---
import Span from '@/components/Span.vue'

import circle from '@/assets/07/m7s/british_swing/stoneringer_p2_circle.png'
import ring from '@/assets/07/m7s/british_swing/stoneringer_p2_ring.png'
import glowerPowerVertical from '@/assets/07/m7s/british_swing/glower_power_vertical.png'
import glowerPowerHorizontal from '@/assets/07/m7s/british_swing/glower_power_horizontal.png'
import glowerPowerVertical35 from '@/assets/07/m7s/british_swing/glower_power_vertical_35.png'
import glower_power_tank_1 from '@/assets/07/m7s/british_swing/glower_power_tank_1.png'
import glower_power_tank_2 from '@/assets/07/m7s/british_swing/glower_power_tank_2.png'
import StoneringerCast from '../_components/StoneringerCast.astro'
import BrutishSwingCast from '../_components/BrutishSwingCast.astro'
import GlowerPowerCast from '../_components/GlowerPowerCast.astro'
import ElectrogeneticForceActivate from '../_components/ElectrogeneticForceActivate.astro'
import RevengeOfTheVinesCast from '../_components/RevengeOfTheVinesCast.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import StratLink from '@/components/StratLink.astro'
import BruteAbombinator from '../_components/BruteAbombinator.astro'
import P from '@/components/typography/P.astro'
import T from '@/components/typography/T.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import Skill from '@/components/typography/Skill.astro'

import { translations } from '../_translations'
import DamageInfo from '@/components/DamageInfo.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import MultiSolutionSection from '@/components/section/MultiSolutionSection.vue'

const stoneringer = translations.stoneringer
const brutishswing = translations.brutishSwing
const glowerPower = translations.glowerPower
const RvOftVines = translations.revengeOfTheVines
const electrogeneticForce = translations.electrogeneticForce
const revengeOfTheVines = translations.revengeOfTheVines

const solutions = [
  {
    id: 'SBGR-35',
    title: '解法：本站',
  },
  {
    id: 'SBGR-game8',
    title: '解法：日野主流',
  },
]
const defaultSolution = '解法：本站'
---

<StoneringerCast start="02:48.01" />
<BrutishSwingCast start="02:55.84" />
<ElectrogeneticForceActivate time="03:08.635" />
<GlowerPowerCast start="03:04.80" />
<RevengeOfTheVinesCast start="03:09.61" />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <P>P2场地共有三面墙，除了击飞过来的方向（也就是P1场地方向），每侧各有一面</P>
    <P>场地长边的两面墙位置中心对称，<BruteAbombinator />落地后先伸出藤蔓，吸附在P1场地对面的墙上</P>
    <div class="flex flex-col gap-4">
      <T class="mt-8 scroll-mt-[calc(5rem+1px)]" id="stoneringerP2">
        <Skill name={stoneringer} />
      </T>
      <P>
        <BruteAbombinator />读条<Span variant="yellow">{stoneringer}</Span>，拔出武器
      </P>
      <P>
        然后读条<Span variant="yellow">{brutishswing}</Span>，连线所在墙<Span variant="pink">除外</Span
        >的墙壁，同时武器<Span variant="pink">发光</Span>
      </P>
      <P>随后<Span variant="pink">移动至连线墙壁</Span>，读条结束后发动对应<Span variant="yellow">钢铁/月环</Span></P>
      <P>
        武器的情况与<StratLink variant="yellow" href="./p1#stoneringer-smash-here-there">P1 {stoneringer}</StratLink
        >相同，但钢铁月环的<Span variant="pink">攻击范围</Span>不同，如下所示：
      </P>
      <ImgRow
        class="game-img"
        wrapperClass="max-w-150"
        bordered={false}
        imgs={[
          {
            src: circle,
            alt: '连线墙钢铁',
            title: '钢铁，范围大于最大近战距离',
          },
          {
            src: ring,
            alt: '连线墙月环',
            title: '月环',
          },
        ]}
      />
    </div>

    <div class="flex flex-col gap-4">
      <T class="mt-8 scroll-mt-[calc(5rem+1px)]" id="gP">
        <Skill name={glowerPower} />
      </T>
      <P>
        读条结束后，<BruteAbombinator />对正前方发动宽<Span variant="pink">14m</Span>的<Span variant="purple"
          >魔法直线AoE</Span
        >
      </P>
    </div>
    <div class="flex flex-col gap-4">
      <T
        class="mt-8 scroll-mt-[calc(5rem+1px)]"
        id="electrogenetic-force"
        text={electrogeneticForce}
        variant="yellow"
      />
      <P>
        <BruteAbombinator />点名8人释放半径为<Span variant="pink">6m</Span>的圆形AoE，造成<DamageInfo
          damage="125000"
          type="magical"
        /><MagicVulnerabilityUp tag="2" hover />
      </P>
    </div>
    <div class="flex flex-col gap-4">
      <P>
        由于<Skill name={glowerPower} />的判定时间略晚于分散点名，所以如果分散点名扣血再吃到直线AoE<Span variant="pink"
          >必定死亡</Span
        >
      </P>
    </div>
    <div class="flex flex-col gap-4">
      <T class="mt-8 scroll-mt-[calc(5rem+1px)]" id="revengeofvines" text={revengeOfTheVines} variant="yellow" />
      <P>全屏AoE，造成<DamageInfo damage="190000" type="magical" /></P>
    </div>
  </div>
</MechanicSection>
<MultiSolutionSection solutions={solutions} defaultSolution={defaultSolution} client:idle>
  <div slot="解法：本站">
    <div class="flex flex-col gap-4">
      <P>
        先观察<BruteAbombinator />掏出的<Span variant="pink">武器</Span>，判断接下来是躲钢铁还是月环
      </P>
      <P>
        再观察<BruteAbombinator />连线的<Span variant="pink">墙壁</Span>，<RoleIcon role="all" tag="全员" />在<Span
          variant="pink">读条结束前</Span
        >前往对应安全区躲避钢铁月环
      </P>
      <P>之后全员按照图示站位，躲避直线AoE并分散</P>
      <P><Skill name={RvOftVines} />读条时<Span variant="pink">集合</Span>刷血</P>
      <P>
        直线范围与
        <RoleIcon role="all" tag="全员" />
        站位如下所示，
        <Span variant="pink">面向</Span>
        <BruteAbombinator />
        <Span variant="pink">分左右</Span>，
        <BruteAbombinator />
        在长边时
        <RoleIcon role="ranged" tag="D3" />
        <RoleIcon role="magic" tag="D4" />
        去大空地给其他人腾位置：
      </P>
      <ImgRow
        class="game-img"
        wrapperClass="max-w-120"
        bordered={false}
        imgs={[
          {
            src: glowerPowerVertical35,
            alt: 'Boss跳长边',
            title: 'Boss跳长边',
          },
          {
            src: glowerPowerHorizontal,
            alt: 'Boss跳短边',
            title: 'Boss跳短边',
          },
        ]}
      />
      <P>
        左图这种情况
        <RoleIcon role="ranged" tag="D3" />
        <RoleIcon role="magic" tag="D4" />
        站位比较随意，别炸到别人就行，右图这种情况可以多往后退一些
      </P>
      <P><RoleIcon role="tank" />参考点如下：</P>
      <ImgRow
        class="game-img"
        wrapperClass="max-w-120"
        bordered={false}
        imgs={[
          {
            src: glower_power_tank_1,
            alt: 'Boss跳长边时坦克参考点',
            title: 'Boss跳长边时坦克参考点',
          },
          {
            src: glower_power_tank_2,
            alt: 'Boss跳短边时坦克参考点',
            title: 'Boss跳短边时坦克参考点',
          },
        ]}
      />
    </div>
  </div>
  <div slot="解法：日野主流">
    <div class="flex flex-col gap-4">
      <P
        >与<StratLink variant="lime" href="#SBGR-35">解法：本站</StratLink>相比仅仅只是<BruteAbombinator />在<Span
          variant="pink">场地长边</Span
        >时的分散站位不同，如图所示：</P
      >
      <ImgRow
        class="game-img"
        wrapperClass="max-w-120"
        bordered={false}
        imgs={[
          {
            src: glowerPowerVertical,
            alt: 'Boss跳长边',
            title: 'Boss跳长边',
          },
          {
            src: glowerPowerHorizontal,
            alt: 'Boss跳短边',
            title: 'Boss跳短边',
          },
        ]}
      />
    </div>
  </div>
</MultiSolutionSection>
