---
import type { Time } from '@/lib/utils'

import img from '@/assets/07/m7s/Tmp.png'
import move_1 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_move_1.png'
import move_2 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_move_2.png'
import safezone_1 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_safezone_1.png'
import safezone_2 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_safezone_2.png'
import share_1 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_share_1.png'
import share_2 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_share_2.png'
import spread_1 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_spread_1.png'
import spread_2 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_spread_2.png'

import ImgRow from '@/components/typography/ImgRow.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import Skill from '@/components/typography/Skill.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import T from '@/components/typography/T.astro'

import SinisterSeedsCast from '../_components/SinisterSeedsCast.astro'
import { translations } from '../_translations'

interface Props {
  time: Time
  base: Time
}

const { time, base = 0 }: Props = Astro.props
const sinisterSeeds = translations.sinisterSeeds
const pulpSmash = translations.pulpSmash
const theUnpotted = translations.theUnpotted
---

<SinisterSeedsCast start={time} base={base} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      <Skill name={sinisterSeeds} />
      与之前的机制相同
    </div>
    <div class="paragraph">
      冰花结束后紧接着是集合分摊
      <Skill name={pulpSmash} />
      和 八方分散
      <Skill name={theUnpotted} />
    </div>
  </div>
</MechanicSection>

<SolutionSection title="解法：Game8">
  <div class="flex flex-col gap-4">
    <T class="mt-8" variant="lime" text="近战组放冰花" />
    <ImgRow
      wrapperClass="max-w-100"
      borderVariant="fuchsia"
      imgs={[
        {
          src: move_1,
          alt: 'm7sp3: 站位与路线',
          title: '站位与路线',
        },
        {
          src: safezone_1,
          alt: 'm7sp3: 安全区',
          title: '安全区',
        },
        {
          src: share_1,
          alt: 'm7sp3: 分摊',
          title: '分摊',
        },
        {
          src: spread_1,
          alt: 'm7sp3: 分散',
          title: '分散',
        },
      ]}
    />
    <T class="mt-8" variant="lime" text="远程组放冰花" />
    <ImgRow
      wrapperClass="max-w-100"
      borderVariant="fuchsia"
      imgs={[
        {
          src: move_2,
          alt: 'm7sp3: 站位与路线',
          title: '站位与路线',
        },
        {
          src: safezone_2,
          alt: 'm7sp3: 安全区',
          title: '安全区',
        },
        {
          src: share_2,
          alt: 'm7sp3: 分摊',
          title: '分摊',
        },
        {
          src: spread_2,
          alt: 'm7sp3: 分散',
          title: '分散',
        },
      ]}
    />
  </div>
</SolutionSection>
