---
import type { Time } from '@/lib/utils'

import img from '@/assets/07/m7s/Tmp.png'
import move_1 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_move_1.png'
import move_2 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_move_2.png'
import safezone_1 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_safezone_1.png'
import safezone_2 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_safezone_2.png'
import share_1 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_share_1.png'
import share_2 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_share_2.png'
import spread_1 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_spread_1.png'
import spread_2 from '@/assets/07/m7s/sinister_seeds_p3/p3_sinister_seeds_spread_2.png'

import ImgRow from '@/components/typography/ImgRow.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import Skill from '@/components/typography/Skill.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import T from '@/components/typography/T.astro'

import SinisterSeedsCast from '../_components/SinisterSeedsCast.astro'
import AttackSection from '../_components/BruteAbombinatorAttackSection.astro'
import { translations } from '../_translations'
import RoleIcon from '@/components/RoleIcon.astro'
import SinisterSeedsMode1Cast from '../_components/SinisterSeedsMode1Cast.astro'
import SinisterSeedsMode2Activate from '../_components/SinisterSeedsMode2Activate.astro'
import PulpSmashCast from '../_components/PulpSmashCast.astro'
import TheUnpottedActivate from '../_components/TheUnpottedActivate.astro'
import Span from '@/components/Span.vue'
import ListDot from '@/components/ListDot.astro'
import TendrilsofTerrorAppear2 from '../_components/TendrilsofTerrorAppear2.astro'
import RootsofEvilActivate from '../_components/RootsofEvilActivate.astro'
import PulpSmashActivate from '../_components/PulpSmashActivate.astro'
import ICftDActivate from '../_components/ICftDActivate.astro'
import StratLink from '@/components/StratLink.astro'
import P from '@/components/typography/P.astro'
import Quote from '@/components/typography/Quote.astro'
import ToggleSwitch from '@/components/ToggleSwitch.astro'
import EventSection from '@/components/section/EventSection.astro'
import ThornsOfDeathDebuff from '../_components/ThornsOfDeathDebuff.astro'
import NoteSection from '@/components/section/NoteSection.astro'

interface Props {
  time?: Time
}

const { time }: Props = Astro.props
const sinisterSeeds = translations.sinisterSeeds
const pulpSmash = translations.pulpSmash
const tendrilsofTerror = translations.tendrilsOfTerror
const rootsofEvil = translations.rootsOfEvil
---

<SinisterSeedsCast start="08:39.830" />
<SinisterSeedsMode1Cast start="08:44.953" />
<AttackSection time="08:46.643" damage="57000" damageType="physical" />
<SinisterSeedsMode1Cast start="08:46.956" />
<SinisterSeedsMode1Cast start="08:48.963" />
<AttackSection time="08:49.674" damage="57000" damageType="physical" />
<SinisterSeedsMode1Cast start="08:50.965" />
<SinisterSeedsMode2Activate time="08:51.948" />
<AttackSection time="08:52.703" damage="57000" damageType="physical" />
<EventSection time="08:52.392">
  墙与<RoleIcon role="any" />
  连线
  <ThornsOfDeathDebuff hover />消失
</EventSection>
<TendrilsofTerrorAppear2 time="08:55.643" />
<AttackSection time="08:55.732" damage="57000" damageType="physical" />
<PulpSmashCast start="08:56.980" />
<RootsofEvilActivate time="08:58.764" />
<PulpSmashActivate time="09:02.016" />
<ICftDActivate time="09:03.975" />
<TheUnpottedActivate time="09:04.019" />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <T><Skill name={sinisterSeeds} /></T>
      <P>
        与<StratLink variant="yellow" href="./p1/#sismc">P1：{sinisterSeeds}</StratLink>的机制效果相同，但在此处点名
        <Span variant="pink">4</Span><RoleIcon role="tank|dps" tag="近战" />
        或<Span variant="pink">4</Span>
        <RoleIcon role="healer|dps" tag="远程" />放置冰花，另外4人黄圈追踪AoE
      </P>
      <P class="mt-4"
        ><StratLink variant="yellow" href="./p1/#rootsofEvil">{rootsofEvil}</StratLink>、<StratLink
          variant="yellow"
          href="./p1/#tendrilsofTerror">{tendrilsofTerror}</StratLink
        >、<StratLink variant="yellow" href="./p1/#pulp-smash">{pulpSmash}组合技</StratLink>与之前相同</P
      >
    </div>
  </div>
</MechanicSection>

<SolutionSection title="解法：Game8">
  <div class="flex flex-col gap-4">
    <P>
      首先，<Quote variant="rose"
        ><P
          ><RoleIcon role="tank|dps" tag="近战" />在场地<Span variant="pink">西北</Span>侧<Span variant="pink"
            >最大近战距离</Span
          >处</P
        >
        <P><RoleIcon role="healer|dps" tag="远程" />在各自连线墙所在的<Span variant="pink">场边</Span></P>
      </Quote>，等待点名
    </P>
    <P> 根据点名情况，有两种排圈放花方式，对应的分摊位置也不同 </P>
  </div>
  <div class="flex flex-col gap-4">
    <T text="放置冰花并躲避" variant="lime" class="mt-8 text-2xl" />
    <Quote variant="rose">
      <P
        >如果<RoleIcon role="tank|dps" tag="近战" />被点冰花：<Quote variant="rose">
          <P>
            <RoleIcon role="tank|dps" tag="近战" />按照图示，以<Span variant="pink">标点A</Span
            >为场地北，将冰花放置在数字标点中心连线的中点上
          </P>
          <P>
            <RoleIcon role="healer|dps" tag="远程" />在场边依次引导自己的黄圈
          </P>
        </Quote></P
      >
      <P
        >如果<RoleIcon role="healer|dps" tag="远程" />被点冰花：<Quote variant="rose">
          <P>
            <RoleIcon role="tank|dps" tag="近战" />以集合点为始，如图所示，<Span variant="pink">顺时针</Span
            >引导黄圈，<Span variant="pink">空出</Span>西南角落
          </P>
          <P>
            <RoleIcon role="healer|dps" tag="远程" />在<Span variant="pink">场边中点</Span>放置冰花
          </P>
        </Quote></P
      ></Quote
    >
    <P>放花点名伤害判定后：</P>
    <Quote variant="rose">
      <P
        >如果<RoleIcon role="tank|dps" tag="近战" />被点冰花：

        <RoleIcon role="all" tag="全员" />向中央靠近自己的内场安全区集合</P
      >

      <P>
        如果<RoleIcon role="healer|dps" tag="远程" />被点冰花：<RoleIcon role="all" tag="全员" />向西南外侧安全区集合
      </P>
    </Quote>
    <P class="mt-4">
      两种情况如下所示：<ToggleSwitch
        id="sinisterseedsp3-1-toggle"
        lVariant="yellow"
        rVariant="rose"
        lLabel="近战冰花"
        rLabel="远程冰花"
      />
    </P>
    <div id="sinisterseedsp3-1-toggle-div">
      <ImgRow
        class="melee-strat"
        wrapperClass="max-w-100"
        borderVariant="yellow"
        imgs={[
          {
            src: move_1,
            alt: '初始近战-放置冰花',
            title: '放置冰花',
          },
          {
            src: safezone_1,
            alt: '初始近战-躲避冰花',
            title: '躲避冰花',
          },
        ]}
      />
      <ImgRow
        class="ranged-strat hidden"
        wrapperClass="max-w-100"
        borderVariant="yellow"
        imgs={[
          {
            src: move_2,
            alt: '初始远程-放置冰花',
            title: '放置冰花',
          },
          {
            src: safezone_2,
            alt: '初始远程-躲避冰花',
            title: '躲避冰花',
          },
        ]}
      />
    </div>

    <div class="flex flex-col gap-4">
      <T text="集合分摊并分散" variant="lime" class="mt-8 text-2xl" />
      <P>
        <Skill name={rootsofEvil} />伤害判定后，<RoleIcon role="healer" tag="点名" />靠近场中，<RoleIcon
          role="all"
          tag="其他人"
        />与<RoleIcon role="healer" tag="点名" />集合处理分摊
      </P>
      <P>之后以<RoleIcon role="boss" tag="boss" /><Span variant="pink">面向</Span>为基准，立刻离开钢铁范围并分散</P>
      <P>根据冰花安全区的不同，分摊的位置有些差异</P>
      <P
        >但无论何种情况，<RoleIcon role="healer" tag="点名" />需要注意引导<RoleIcon
          role="boss"
          tag="boss"
        />的位置，给离开钢铁并分散留出足够的空间</P
      >
      <P class="mt-4">
        两种情况如下所示：<ToggleSwitch
          id="sinisterseedsp3-2-toggle"
          lVariant="yellow"
          rVariant="rose"
          lLabel="近战冰花"
          rLabel="远程冰花"
        />
      </P>
      <div id="sinisterseedsp3-2-toggle-div">
        <ImgRow
          class="melee-strat"
          wrapperClass="max-w-100"
          borderVariant="yellow"
          imgs={[
            {
              src: share_1,
              alt: '初始近战-分摊',
              title: '分摊',
            },
            {
              src: spread_1,
              alt: '初始近战-分散',
              title: '分散',
            },
          ]}
        />
        <ImgRow
          class="ranged-strat hidden"
          wrapperClass="max-w-100"
          borderVariant="yellow"
          imgs={[
            {
              src: share_2,
              alt: '初始远程-分摊',
              title: '分摊',
            },
            {
              src: spread_2,
              alt: '初始远程-分散',
              title: '分散',
            },
          ]}
        />
      </div>
    </div>
  </div>
</SolutionSection>

<NoteSection>
  <div class="flex flex-col gap-4">
    <P>分摊和放大黄圈AoE判定存在3s的时间差，请优先躲避冰花AoE和黄圈，再处理分摊</P>
    <P
      >当<RoleIcon role="healer|dps" tag="远程" />放花时，安全区离<RoleIcon role="healer" tag="H2" /><RoleIcon
        role="ranged"
        tag="D3"
      />较远，请这两个位置的玩家尽早起跑，必要时开疾跑到位</P
    >
  </div>
</NoteSection>

<script>
  function toggleImages(id: string, checked: boolean, class1: string, class2: string) {
    const div = document.getElementById(id)

    if (div) {
      const imgs1 = div.querySelectorAll(class1)
      const imgs2 = div.querySelectorAll(class2)

      if (checked) {
        imgs1.forEach((img) => {
          img.classList.toggle('flex', !img.classList.toggle('hidden', true))
        })
        imgs2.forEach((img) => {
          img.classList.toggle('flex', !img.classList.toggle('hidden', false))
        })
      } else {
        imgs2.forEach((img) => {
          img.classList.toggle('flex', !img.classList.toggle('hidden', true))
        })
        imgs1.forEach((img) => {
          img.classList.toggle('flex', !img.classList.toggle('hidden', false))
        })
      }
    }
  }

  document.addEventListener('change', (event) => {
    const target = event.target as HTMLInputElement

    if (target && target.id === 'sinisterseedsp3-1-toggle') {
      toggleImages('sinisterseedsp3-1-toggle-div', target.checked, '.melee-strat', '.ranged-strat')
    } else if (target && target.id === 'sinisterseedsp3-2-toggle') {
      toggleImages('sinisterseedsp3-2-toggle-div', target.checked, '.melee-strat', '.ranged-strat')
    }
  })
</script>
