---
import type { Time } from '@/lib/utils'

import { Image } from 'astro:assets'

import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import EventSection from '@/components/section/EventSection.astro'
import DamageDown from '@/components/buff/DamageDown.astro'
import Separator from '@/components/Separator.astro'
import ListDot from '@/components/ListDot.astro'
import Badge from '@/components/Badge.astro'
import P from '@/components/typography/P.astro'
import Quote from '@/components/typography/Quote.astro'
import T from '@/components/typography/T.astro'

import spore_case_1 from '@/assets/07/m7s/sinister_seeds/spore_case_1.png'
import spore_case_2 from '@/assets/07/m7s/sinister_seeds/spore_case_2.png'
import pollen_case_1 from '@/assets/07/m7s/sinister_seeds/spore-sac_1-2.png'
import pollen_case_2 from '@/assets/07/m7s/sinister_seeds/spore-sac_2-2.png'
import pollen_case_3 from '@/assets/07/m7s/sinister_seeds/spore-sac_3-2.png'
import pollen_case_4 from '@/assets/07/m7s/sinister_seeds/spore-sac_4-2.png'
import pollen_safe_zone_1 from '@/assets/07/m7s/sinister_seeds/pollen_safe_zone_1.png'
import pollen_safe_zone_2 from '@/assets/07/m7s/sinister_seeds/pollen_safe_zone_2.png'
import pollen_solution_case_1 from '@/assets/07/m7s/sinister_seeds/pollen_solution_case_1.png'
import pollen_solution_case_2 from '@/assets/07/m7s/sinister_seeds/pollen_solution_case_2.png'
import sinister_solution_preparation from '@/assets/07/m7s/sinister_seeds/sinister_seeds_preparation.png'
import sinister_solution_place_1 from '@/assets/07/m7s/sinister_seeds/place_solution_case_1.png'
import sinister_solution_place_2 from '@/assets/07/m7s/sinister_seeds/place_solution_case_2.png'
import sinister_solution_place_3 from '@/assets/07/m7s/sinister_seeds/place_solution_case_3.png'
import sinister_solution_place_4 from '@/assets/07/m7s/sinister_seeds/place_solution_case_4.png'
import impact_solution from '@/assets/07/m7s/sinister_seeds/impact_solution.png'
import winding_wildwinds from '@/assets/07/m7s/sinister_seeds/winding_wildwinds.png'
import crossing_crosswinds from '@/assets/07/m7s/sinister_seeds/crossing_crosswinds.png'
import roots_of_evil_1 from '@/assets/07/m7s/sinister_seeds/roots_of_evil_1.png'
import roots_of_evil_2 from '@/assets/07/m7s/sinister_seeds/roots_of_evil_2.png'
import g8g_roots_of_evil from '@/assets/07/m7s/sinister_seeds/g8g_roots_of_evil.png'
import g8g_place_solution_1 from '@/assets/07/m7s/sinister_seeds/g8g_place_solution_case_1.png'
import g8g_place_solution_2 from '@/assets/07/m7s/sinister_seeds/g8g_place_solution_case_2.png'
import bloomings from '@/assets/07/m7s/sinister_seeds/bloomings.png'
import quarry_swamp from '@/assets/07/m7s/sinister_seeds/quarry_swamp.png'

import CrossingCrosswindsCast from '../_components/CrossingCrosswindsCast.astro'
import SinisterSeedsCast from '../_components/SinisterSeedsCast.astro'
import SporeSacCast from '../_components/SporeSacCast.astro'
import WindingWildwindsCast from '../_components/WindingWildwindsCast.astro'
import PollenCast from '../_components/PollenCast.astro'
import QuarrySwampCast from '../_components/QuarrySwampCast.astro'
import HurricaneForceCast from '../_components/HurricaneForceCast.astro'
import BloomingAbomination from '../_components/BloomingAbomination.astro'
import BloomingAbominationSimplified from '../_components/BloomingAbominationSimplified.astro'
import BruteAbombinator from '../_components/BruteAbombinator.astro'
import AttackSection from '../_components/BruteAbombinatorAttackSection.astro'
import { translations } from '../_translations'
import { TvMinimalPlay } from 'lucide-vue-next'
import StratLink from '@/components/StratLink.astro'
import MultiSolutionSection from '@/components/section/MultiSolutionSection.vue'
import NoteSection from '@/components/section/NoteSection.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import Skill from '@/components/typography/Skill.astro'
import ImgGrid from '@/components/typography/ImgGrid.astro'
import PollenActivate from '../_components/PollenActivate.astro'
import SinisterSeedsMode2Activate from '../_components/SinisterSeedsMode2Activate.astro'
import SinisterSeedsMode1Cast from '../_components/SinisterSeedsMode1Cast.astro'
import TendrilsofTerrorAppear2 from '../_components/TendrilsofTerrorAppear2.astro'
import TendrilsofTerrorActivate2 from '../_components/TendrilsofTerrorActivate2.astro'

interface Props {
  base: Time
}

const { base = 0 }: Props = Astro.props
const impact = translations.impact
const sinisterSeeds = translations.sinisterSeeds
const windingWildwinds = translations.windingWildwinds
const crossingCrosswinds = translations.crossingCrosswinds
const hurricaneForce = translations.hurricaneForce
const quarrySwamp = translations.quarrySwamp
const bloomingAbomination = translations.bloomingAbomination
const sporeSac = translations.sporeSac
const pollen = translations.pollen
const rootsOfEvil = translations.rootsOfEvil
---

<SporeSacCast start="00:40.052" end="00:43.039" base={base} />
<SinisterSeedsCast start="00:48.384" base={base} />
<PollenCast start="00:49.812" />
<PollenActivate time="00:53.780" base={base} />
<SinisterSeedsMode1Cast start="00:53.511" base={base} />
<SinisterSeedsMode1Cast start="00:55.515" base={base} />
<EventSection time="00:55.917">
  <BloomingAbomination num={4} />可选中
</EventSection>
<SinisterSeedsMode1Cast start="00:57.521" base={base} />
<SinisterSeedsMode1Cast start="00:59.527" base={base} />
<SinisterSeedsMode2Activate time="01:01.133" base={base} />
<TendrilsofTerrorAppear2 time="01:02.155" base={base} />
<EventSection time="01:05.052">
  <Span variant="yellow">{impact}</Span>
  判定
  <DamageInfo damage="150000" type="magical" />
  <MagicVulnerabilityUp tag="2" hover />
  <Badge variant="emerald">6m圆形</Badge>
  <Badge variant="yellow">四四分摊</Badge>
</EventSection>
<TendrilsofTerrorActivate2 time="01:05.142" base={base} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <T class="gap-strat inline-flex">
      <Skill name={sporeSac} variant="yellow" />
    </T>
    <P>
      读条后，场上出现4个
      <Badge variant="emerald">8m圆形</Badge>
      范围提示
    </P>
    <P>
      随后在范围提示内落下
      <Span variant="green">种子</Span>
      ，对范围内的玩家造成
      <DamageInfo damage="110000" type="magical" />
      <DamageDown tag="30" hover />
    </P>
    <P>
      <Span variant="green">种子</Span>
      的范围仅有以下两种情况：
    </P>
    <ImgRow
      wrapperClass="max-w-96"
      bordered={false}
      imgs={[
        { src: spore_case_1, alt: '' },
        { src: spore_case_2, alt: '' },
      ]}
    />
  </div>

  <div class="flex flex-col gap-4">
    <T class="gap-strat mt-8 inline-flex">
      <Skill name={sinisterSeeds} variant="yellow" />
    </T>
    <P> 共有两种模式： </P>
    <Quote variant="teal">
      <P>
        模式一：<BruteAbombinator />赋予距离自己
        <Span variant="orange">最近</Span>的4名玩家
        <Span variant="purple">分散点名</Span>
        <Badge variant="emerald">6m圆形</Badge>
        ，并点名其余4人四连<Span variant="yellow">追踪AoE</Span>
        <Badge variant="emerald">7m圆形</Badge>
      </P>
      <P>
        模式二：<BruteAbombinator />赋予距离自己
        <Span variant="blue">最远</Span>的4名玩家
        <Span variant="purple">分散点名</Span>
        <Badge variant="emerald">6m圆形</Badge>
        ，并点名其余4人四连<Span variant="yellow">追踪AoE</Span>
        <Badge variant="emerald">7m圆形</Badge>
      </P>
    </Quote>
    <div class="paragraph">同时，这两个点名都有特殊效果：</div>
    <div class="paragraph">
      <ListDot />
      <Span variant="purple">分散点名</Span>
      在判定时，会根据判定的位置生成
      <Span variant="pink">米字形AoE</Span>
      提示，也就是我们俗称的
      <Span variant="pink">“冰花”</Span>
    </div>
    <div class="paragraph">
      <ListDot />
      四连<Span variant="yellow">追踪AoE</Span>
      在判定时，会记录每次判定的位置，之后会扩大范围再统一判定一次
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">{pollen}</Span>
    </h4>
    <div class="paragraph">
      <Span variant="green">种子</Span>
      向两个正点方向分别长出两根藤蔓
    </div>
    <div class="paragraph">
      随后以<Span variant="green">种子</Span>和藤蔓的终点为中心释放圆形AoE，造成
      <DamageInfo damage="130000" type="magical" />
      <DamageDown tag="30" hover />
      <Badge variant="emerald">8m圆形</Badge>
    </div>
    <div class="paragraph">藤蔓的生长方向和最终的钢铁是有规律的，共有以下四种情况：</div>
    <ImgRow
      wrapperClass="max-w-60"
      bordered={false}
      imgs={[
        { src: pollen_case_1, alt: '', title: '' },
        { src: pollen_case_2, alt: '', title: '' },
        { src: pollen_case_3, alt: '', title: '' },
        { src: pollen_case_4, alt: '', title: '' },
      ]}
    />
    <div class="paragraph">如果我们只看AoE的范围，则仅有以下两种情况：</div>
    <ImgRow
      wrapperClass="max-w-96"
      bordered={false}
      imgs={[
        { src: pollen_safe_zone_1, alt: '内场左下安全区' },
        { src: pollen_safe_zone_2, alt: '内场右下安全区' },
      ]}
    />
    <div class="paragraph">即一定会有四个安全区，其中两个在内场的对角方向，两个在相对的角落</div>
    <div class="paragraph">
      <Span variant="yellow">{pollen}</Span>伤害判定后，在
      <Span variant="green">种子</Span>
      落下的地方会生成<BloomingAbominationSimplified />
    </div>
    <div class="paragraph">
      <BloomingAbominationSimplified />在生成后，会每3秒1次释放对
      <RoleIcon role="all" tag="一仇" />的普通攻击， 对<RoleIcon role="tank" />造成<DamageInfo
        damage="28000"
        type="physical"
      />， 对<RoleIcon role="healer|dps" />造成<DamageInfo damage="45000" type="physical" />
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">{impact}</Span>
    </h4>
    <div class="paragraph">
      点名 2<RoleIcon role="healer" />释放
      <Span variant="pink">直径6m的圆形分摊</Span>
      <DamageInfo damage="600000" type="magical" />
      <MagicVulnerabilityUp tag="2" hover />
    </div>
    <div class="paragraph">
      4人分摊时，每人
      <DamageInfo damage="150000" type="magical" />
      <MagicVulnerabilityUp tag="2" hover />
    </div>
    <div class="paragraph">
      3人分摊时，每人
      <DamageInfo damage="200000" type="magical" />
      <MagicVulnerabilityUp tag="2" hover />
    </div>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <h4 class="text-2xl">
      <Span variant="lime">初始站位</Span>
    </h4>
    <div class="shrink-0 grow space-y-4">
      <div class="paragraph">
        在<Span variant="green">种子</Span>落下后，
        <RoleIcon role="all" tag="所有人" />根据职能与位置，如下图所示进行预站位：
      </div>
    </div>
    <div class="flex gap-4">
      <div class="max-w-90 shrink">
        <Image src={sinister_solution_preparation} alt="" class="w-96" />
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <h4 class="mt-8 text-2xl">
      <Span variant="lime">躲避藤蔓</Span>
    </h4>
    <div class="paragraph">藤蔓开始生长后，我们规定：</div>
    <div class="paragraph">
      <ListDot />
      近战组（即
      <RoleIcon role="tank" tag="MT" /><RoleIcon role="tank" tag="ST" />
      <RoleIcon role="melee" tag="D1" /><RoleIcon role="dps" tag="D2" />） 在
      <Span variant="cyan">内场南边</Span>的安全区集合
    </div>
    <div class="paragraph">
      <ListDot />
      远程组前往指定角落躲避，其中
      <RoleIcon role="ranged" tag="D3" /><RoleIcon role="magic" tag="D4" />在
      <Span variant="cyan">北半场</Span>的安全角落，
      <RoleIcon role="healer" tag="H1" /><RoleIcon role="healer" tag="H2" />在
      <Span variant="cyan">南半场</Span>的安全角落
    </div>
    <div class="paragraph">根据安全区的两种情况，站位分别如下所示：</div>
    <ImgRow
      wrapperClass="max-w-100"
      bordered={false}
      imgs={[
        { src: pollen_solution_case_1, alt: '', title: '情况1' },
        { src: pollen_solution_case_2, alt: '', title: '情况2' },
      ]}
    />
  </div>

  <div class="flex flex-col gap-4">
    <h4 class="mt-8 text-2xl">
      <Span variant="lime">放置冰花与追踪AoE</Span>
    </h4>
    <div class="paragraph">
      由于<Span variant="yellow">{sinisterSeeds}</Span>
      的机制效果为选择<Span variant="orange">最近</Span>或<Span variant="blue">最远</Span>
      的四人释放放置<Span variant="pink">冰花</Span>的分散点名，并点其余四人<Span variant="yellow">追踪AoE</Span>
    </div>
    <div class="paragraph">
      且我们在<Span variant="lime">躲避藤蔓</Span>
      时，就确保了：
    </div>
    <div class="paragraph">
      <ListDot />
      近战组四人一定是距离<BruteAbombinator /><Span variant="orange">最近</Span>的四人
    </div>
    <div class="paragraph">
      <ListDot />
      远程组四人一定是距离<BruteAbombinator /><Span variant="blue">最远</Span>的四人
    </div>
    <div class="paragraph">
      因此，放置<Span variant="pink">冰花</Span>点名必定会同时点近战组或者远程组四人
    </div>
    <div class="paragraph">根据点名的不同，我们将其分为两种情况分别讲解：</div>
    <T text="情形1：近战组放冰花" variant="lime" class="mt-4 text-xl" />
    <P>
      近战组
      <RoleIcon role="tank" tag="MT" />
      <RoleIcon role="tank" tag="ST" />
      <RoleIcon role="melee" tag="D1" />
      <RoleIcon role="dps" tag="D2" />
    </P>
    <P class="pl-4">
      <ListDot />直接前往内场斜点的螺丝处，等待放置<Span variant="pink">冰花</Span>
    </P>
    <P>
      远程组
      <RoleIcon role="ranged" tag="D3" />
      <RoleIcon role="magic" tag="D4" />
      <RoleIcon role="healer" tag="H1" />
      <RoleIcon role="healer" tag="H2" />
    </P>
    <P class="pl-4">
      <ListDot />
      从角落出发，往场地中轴线横向移动，沿着场边放下第1、2、3个黄圈
    </P>
    <P class="pl-4">
      <ListDot />随后往场中拐，放下第4个黄圈
    </P>
    <ImgRow
      bordered={false}
      imgs={[
        { src: sinister_solution_place_1, alt: '远程初始在右上左下角落', title: '右上角和左下角为初始安全区' },
        { src: sinister_solution_place_3, alt: '远程初始在左上右下角落', title: '左上角和右下角为初始安全区' },
      ]}
    />

    <T text="情形2：远程组放冰花" variant="lime" class="mt-4 text-xl" />
    <P>
      近战组
      <RoleIcon role="tank" tag="MT" />
      <RoleIcon role="tank" tag="ST" />
      <RoleIcon role="melee" tag="D1" />
      <RoleIcon role="dps" tag="D2" />
    </P>
    <P class="pl-4">
      此处我们介绍两种放置<Span variant="yellow">追踪AoE</Span>的方法，分别是Game8改和Game8原版
    </P>
    <P class="pl-8">
      <ListDot />
      Game8改：
      <Span variant="cyan">横移</Span>放下第2个圈， 回到<Span variant="cyan">场中</Span>放第3个圈， 随后<Span
        variant="cyan">往北</Span
      >放下第4个圈
    </P>
    <P class="pl-8">
      <ListDot />
      Game8原版：
      <Span variant="cyan">往北</Span>放下第2个圈，
      <Span variant="cyan">横移</Span>放下第3个圈， 随后<Span variant="cyan">往南</Span>放下第4个圈
    </P>
    <P>
      远程组
      <RoleIcon role="ranged" tag="D3" />
      <RoleIcon role="magic" tag="D4" />
      <RoleIcon role="healer" tag="H1" />
      <RoleIcon role="healer" tag="H2" />
    </P>
    <P class="pl-4">
      <ListDot />
      在自己的点位旁等候，等待黄圈消失后前往内场斜点的螺丝处放置<Span variant="pink">冰花</Span>
    </P>
    <ImgGrid
      cols={[{ title: 'Game8改' }, { title: 'Game8原版' }]}
      defaultImgWrapperStyle={{
        bordered: false,
        rounded: false,
        borderVariant: 'cyan',
      }}
      rows={[
        {
          title: '内场左下为初始安全区',
          cells: [
            {
              img: {
                src: g8g_place_solution_2,
                alt: 'Game8改近战左下出发放黄圈',
              },
            },
            {
              img: {
                src: sinister_solution_place_2,
                alt: 'Game8原版近战左下出发放黄圈',
              },
            },
          ],
        },
        {
          title: '内场右下为初始安全区',
          cells: [
            {
              img: {
                src: g8g_place_solution_1,
                alt: 'Game8改近战右下出发放黄圈',
              },
            },
            {
              img: {
                src: sinister_solution_place_4,
                alt: 'Game8原版近战右下出发放黄圈',
              },
            },
          ],
        },
      ]}
    />

    <T text="拉住小怪" variant="lime" class="mt-8" />
    <P>
      在放置<Span variant="pink">冰花</Span>或<Span variant="yellow">追踪AoE</Span>的过程中，
      <BloomingAbomination num={4} />会生成在<Span variant="green">种子</Span>落下的地方
    </P>
    <div class="paragraph">
      我们规定，让
      <RoleIcon role="tank" tag="MT" />拉
      <Span variant="cyan">左半场</Span>两只<BloomingAbominationSimplified />，
      <RoleIcon role="tank" tag="ST" />拉
      <Span variant="cyan">右半场</Span>两只<BloomingAbominationSimplified />，方便处理后续机制
    </div>
    <div class="paragraph">
      由于此时角色处于跑位过程中，
      <RoleIcon role="tank" tag="MT" />和<RoleIcon role="tank" tag="ST" />
      可以酌情使用挑衅、飞斧等远程技能来获取仇恨
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <h4 class="mt-8 text-2xl">
      <Span variant="lime">躲避冰花并分摊</Span>
    </h4>
    <div class="paragraph">
      由于<Span variant="pink">冰花</Span>的位置是固定的，在放置完
      <Span variant="pink">冰花</Span>
      和<Span variant="yellow">追踪AoE</Span>后，我们分为H1组和H2组：
    </div>
    <div class="paragraph">
      <ListDot />
      H1组：
      <RoleIcon role="tank" tag="MT" />
      <RoleIcon role="healer" tag="H1" />
      <RoleIcon role="melee" tag="D1" />
      <RoleIcon role="ranged" tag="D3" />
    </div>
    <div class="paragraph">
      <ListDot />
      H2组：
      <RoleIcon role="tank" tag="ST" />
      <RoleIcon role="healer" tag="H2" />
      <RoleIcon role="dps" tag="D2" />
      <RoleIcon role="magic" tag="D4" />
    </div>
    <div class="paragraph">
      分别前往场中的指定位置，躲避
      <Span variant="pink">冰花</Span>
      的同时参与点名 2
      <RoleIcon role="healer" />的分摊
      <Span variant="yellow">{impact}</Span>
    </div>
    <Image src={impact_solution} alt="" class="w-96" />
  </div>
</SolutionSection>

<EventSection time="01:10.533">
  <Span variant="yellow">{rootsOfEvil}</Span>伤害判定
  <DamageInfo damage="120000" type="magical" />
  <DamageDown tag="30" hover />
  <Badge variant="emerald">12m圆形</Badge>
</EventSection>
<WindingWildwindsCast start="01:11.201" num={2} base={base} />
<CrossingCrosswindsCast start="01:11.201" num={2} base={base} />
<AttackSection time="01:15.925" base={base} damage="57000" damageType="physical" />
<AttackSection time="01:18.951" base={base} damage="57000" damageType="physical" />
<AttackSection time="01:21.979" base={base} damage="57000" damageType="physical" />
<HurricaneForceCast start="01:24.200" base={base} />
<AttackSection time="01:25.008" base={base} damage="57000" damageType="physical" />
<AttackSection time="01:28.037" base={base} damage="57000" damageType="physical" />
<QuarrySwampCast start="01:29.48" base={base} />
<AttackSection time="01:35.074" base={base} damage="57000" damageType="physical" />
<AttackSection time="01:38.103" base={base} damage="57000" damageType="physical" />
<AttackSection time="01:41.133" base={base} damage="57000" damageType="physical" />
<AttackSection time="01:44.162" base={base} damage="57000" damageType="physical" />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <T text={rootsOfEvil} variant="yellow" />
    <P>
      之前判定的四连<Span variant="yellow">追踪AoE</Span>扩大范围后，统一再判定一次，如下表所示：
    </P>
    <P> （注：下表图中将黄圈所有的可能情况叠加） </P>
    <ImgGrid
      cols={[{ title: 'Game8改' }, { title: 'Game8原版' }]}
      defaultImgWrapperStyle={{
        bordered: false,
        rounded: false,
        borderVariant: 'cyan',
      }}
      rows={[
        {
          title: '近战组放冰花',
          cells: [
            {
              img: {
                src: roots_of_evil_1,
                alt: 'Game8改近战左下出发放黄圈',
              },
              class: 'translate-x-[calc(50%)]',
            },
          ],
        },
        {
          title: '远程组放冰花',
          cells: [
            {
              img: {
                src: g8g_roots_of_evil,
                alt: 'Game8近战左下出发放黄圈',
              },
            },
            {
              img: {
                src: roots_of_evil_2,
                alt: 'Game8近战右下出发放黄圈',
              },
            },
          ],
        },
      ]}
    />
    <P>
      从表中可以看出Game8改的优点： 当点名近战组<Span variant="yellow">追踪AoE</Span>时， 场地<Span variant="cyan"
        >西侧和西北侧</Span
      >的安全区更大
    </P>
  </div>

  <div class="flex flex-col gap-4">
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">{windingWildwinds} / {crossingCrosswinds}</Span>
    </h4>
    <div class="paragraph">
      <BloomingAbominationSimplified />
      以自身为中心释放
      <Span variant="green">可被打断的</Span>
      月环/十字形AoE
    </div>
    <div class="paragraph">
      其中，必定有两只<BloomingAbominationSimplified />读条
      <Span variant="yellow">{windingWildwinds}</Span>
      ，释放月环
    </div>
    <div class="paragraph">
      另外两只<BloomingAbominationSimplified />读条
      <Span variant="yellow">{crossingCrosswinds}</Span>
      ，释放十字形AoE
    </div>
    <div class="paragraph">
      小怪在AoE读条完毕不久后，会读条狂暴技能
      <Span variant="yellow">{hurricaneForce}</Span>
      <DamageInfo damage="9999999" type="special" />
    </div>
  </div>
  <ImgRow
    bordered={false}
    imgs={[
      { src: winding_wildwinds, alt: '', title: `${windingWildwinds}` },
      { src: crossing_crosswinds, alt: '', title: `${crossingCrosswinds}` },
    ]}
  />
  <div class="flex flex-col gap-4">
    <h4 class="mt-8 text-2xl">
      <Span variant="yellow">{quarrySwamp}</Span>
    </h4>
    <div class="paragraph">
      <BruteAbombinator />
      释放全屏石化，石化全体玩家
    </div>
    <div class="paragraph">
      但玩家可以躲在
      <BloomingAbominationSimplified />
      的尸体后（无需背对）来躲避石化
      <span class="pl-2 line-through decoration-zinc-500 decoration-20 hover:no-underline dark:decoration-zinc-700">
        谢谢你，{bloomingAbomination}
      </span>
    </div>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      在躲避<Span variant="yellow">{rootsOfEvil}</Span>时，
      <RoleIcon role="tank" />将小怪拉到场地<Span variant="cyan">西侧或西北侧</Span>的安全区
    </div>
    <div class="paragraph">
      当小怪读条<Span variant="yellow">{windingWildwinds} / {crossingCrosswinds}</Span>时，
    </div>
    <div class="paragraph">
      我们让<RoleIcon role="tank" />使用<Span variant="pink">插言</Span>
      优先打断正在读条<Span variant="yellow">{windingWildwinds}</Span>（即正在释放月环）的
      <BloomingAbominationSimplified />
    </div>
    <div class="paragraph">
      为了防止重复打断，这里我们规定，按照仇恨列表的顺序，
      <RoleIcon role="tank" tag="MT" /><Span variant="cyan">从上往下</Span>打断，
      <RoleIcon role="tank" tag="ST" /><Span variant="cyan">从下往上</Span>打断
    </div>
    <div class="paragraph">
      此外，<RoleIcon role="ranged" tag="D3" />也可以使用<Span variant="pink">伤头</Span>
      帮助队友进行打断
    </div>
    <div class="paragraph">
      例如，当仇恨列表如下图所示时，
      <RoleIcon role="tank" tag="MT" />应当打断第二只<BloomingAbominationSimplified />，
      <RoleIcon role="tank" tag="ST" />应当打断第四只<BloomingAbominationSimplified />
    </div>
    <Image src={bloomings} alt="" class="w-62 rounded border-2 border-yellow-800 dark:border-yellow-100" />
    <div class="paragraph">
      同时，<RoleIcon role="all" tag="所有人" />集火， 在<BloomingAbominationSimplified />狂暴之前将其全部击杀
    </div>
    <div class="paragraph">
      击杀<BloomingAbominationSimplified />后，
      <RoleIcon role="tank" tag="MT" />将<BruteAbombinator />
      拉到<BloomingAbominationSimplified />的尸体附近，利用小怪尸体阻挡石化
    </div>
    <Image src={quarry_swamp} alt="" class="w-96" />
  </div>
</SolutionSection>
