---
import type { Time } from '@/lib/utils'

import MechanicSection from '@/components/section/MechanicSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import StratBoard from '@/components/StratBoard.astro'
import Span from '@/components/Span.vue'
import DamageDown from '@/components/buff/DamageDown.astro'
import EventSection from '@/components/section/EventSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import P from '@/components/typography/P.astro'
import T from '@/components/typography/T.astro'
import Skill from '@/components/typography/Skill.astro'
import Tmp0 from '@/assets/07/m7s/Tmp.png'
import DamageInfo from '@/components/DamageInfo.astro'
import StratLink from '@/components/StratLink.astro'
import Quote from '@/components/typography/Quote.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import VideoPlaySVG from '@/assets/svg/video-play.svg'
import ResetSVG from '@/assets/svg/reset.svg'

import BruteAbombinator from '../_components/BruteAbombinator.astro'
import BrutishSwingActivate from '../_components/BrutishSwingActivate.astro'
import BrutishSwingCast from '../_components/BrutishSwingCast.astro'
import BrutishSwingMoveActivate from '../_components/BrutishSwingMoveActivate.astro'
import ElectrogeneticForceActivate from '../_components/ElectrogeneticForceActivate.astro'
import GlowerPowerActivate from '../_components/GlowerPowerActivate.astro'
import GlowerPowerCast from '../_components/GlowerPowerCast.astro'
import RevengeOfTheVinesActivate from '../_components/RevengeOfTheVinesActivate.astro'
import RevengeOfTheVinesCast from '../_components/RevengeOfTheVinesCast.astro'
import SporesplosionAppear from '../_components/SporesplosionAppear.astro'
import SporesplosionCast from '../_components/SporesplosionCast.astro'
import ThornsOfDeathDebuff from '../_components/ThornsOfDeathDebuff.astro'
import { translations } from '../_translations'

interface Props {
  start: Time
  base?: Time
}
const { start, base = 0 }: Props = Astro.props
const stoneringer = translations.stoneringer
const sporesplosion = translations.sporesplosion
---

<EventSection time="03:47.100">
  墙与<RoleIcon role="any" tag="一仇" />
  连线
  <ThornsOfDeathDebuff hover />消失
</EventSection>
<SporesplosionCast start={start} base={base} />
<SporesplosionAppear start="03:52.311" num={1} base={base} />
<SporesplosionAppear start="03:54.314" num={2} base={base} />
<SporesplosionAppear start="03:56.317" num={3} base={base} />
<BrutishSwingCast start="03:58.320" base={base} />
<BrutishSwingMoveActivate time="04:05.182" base={base} />
<BrutishSwingActivate time="04:06.386" base={base} />
<GlowerPowerCast start="04:07.275" base={base} />
<ElectrogeneticForceActivate time="04:11.101" base={base} />
<GlowerPowerActivate time="04:11.235" base={base} />
<RevengeOfTheVinesCast start="04:12.084" base={base} />
<RevengeOfTheVinesActivate time="04:17.078" base={base} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <T>
      <Skill name={sporesplosion} />
    </T>
    <P>
      <BruteAbombinator />读条完毕后<Span variant="pink">1s</Span>，场地上<Span variant="pink">分3组</Span
      >依次出现半径<Span variant="pink">8m</Span>的黄圈AoE（孢子）, 每组生成<Span variant="pink">6</Span>个，位置随机</P
    >
    <P
      >孢子出现<Span variant="pink">5s</Span>后对范围内的玩家造成<DamageInfo damage="121000" type="magical" />，并附加 <DamageDown
        tag="30"
        hover
      />
    </P>
    <h4 class="mt-4 text-2xl">
      <Span variant="yellow">孢子全部可能点位和出现示意</Span>
    </h4>
    <div class="flex gap-4">
      <div class="flex shrink flex-col items-center gap-4">
        <StratBoard width={654} height={327} key="sporesplosion" canvasClass="h-full w-full" />
        <div
          class="flex items-center justify-start gap-2 rounded-full border border-lime-200 bg-lime-100/90 px-3 py-1 backdrop-blur-sm dark:border-lime-800/80 dark:bg-lime-900/80 dark:shadow-lime-900/30"
        >
          <button
            id="sporesplosion-mechanic-dynamic-play-button"
            class="group flex items-center gap-2"
            title="开始演示"
          >
            <div
              class="flex h-6 w-6 items-center justify-center rounded-full bg-lime-500 text-white shadow-inner shadow-lime-400/30 transition-all group-hover:scale-110 group-hover:bg-lime-600 group-hover:shadow group-active:scale-95 dark:bg-lime-600 dark:shadow-lime-500/10 dark:group-hover:bg-lime-500"
            >
              <VideoPlaySVG />
            </div>
            <span
              class="text-sm font-medium text-lime-900 transition-all group-hover:scale-110 group-hover:text-lime-700 group-active:scale-95 dark:text-lime-100 dark:group-hover:text-white"
              >开始演示</span
            >
          </button>
          <span class="mx-0.5 h-5 border-l border-lime-400/80 dark:border-lime-400/60"></span>
          <button id="sporesplosion-mechanic-dynamic-random-button" class="group flex items-center gap-2" title="重置">
            <div
              class="flex h-6 w-6 items-center justify-center rounded-full bg-lime-500 text-white shadow-inner shadow-lime-400/30 transition-all group-hover:scale-110 group-hover:bg-lime-600 group-hover:shadow group-active:scale-95 dark:bg-lime-600 dark:shadow-lime-500/10 dark:group-hover:bg-lime-500"
            >
              <ResetSVG />
            </div>
            <span
              class="text-sm font-medium text-lime-900 transition-all group-hover:scale-110 group-hover:text-lime-700 group-active:scale-95 dark:text-lime-100 dark:group-hover:text-white"
              >重置</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8 flex flex-col gap-4">
    <P>
      <StratLink variant="yellow" href="#SBGR">SBGR的组合技</StratLink>与之前完全相同，不再赘述
    </P>
  </div>
</MechanicSection>
<NoteSection>
  <div class="flex flex-col gap-4">
    <P
      >这一次<BruteAbombinator />永远连线其对面的墙壁，由于P2第一次<StratLink variant="yellow" href="#SBGR"
        >SBGR</StratLink
      ><BruteAbombinator />一定连线场地长边的墙，故此处也一定连长边</P
    >
  </div>
</NoteSection>
<SolutionSection title="解法">
  <div class="flex flex-col gap-4">
    <P
      >观察黄圈预兆的范围，可以发现：
      <Quote variant="rose">
        <P> 场中每个黄圈的<Span variant="pink">圆心</Span>附近约<Span variant="pink">1m x 1m</Span>的近似正方形</P>
        <P>
          场边每个黄圈的<Span variant="pink">圆心</Span>沿<Span variant="pink">垂直于场地边缘</Span>半径，向<Span
            variant="pink">场地外</Span
          >方向附近
        </P>
      </Quote>
    </P>
    <P
      >只会被孢子AoE覆盖<Span variant="pink">1次</Span>，因此这些区域在覆盖的孢子炸掉之后会成为<Span variant="pink"
        >安全区，如下图所示：</Span
      ></P
    >
    <ImgRow
      class="game-img"
      wrapperClass="max-w-150"
      bordered={false}
      imgs={[
        {
          src: Tmp0,
          alt: '场中安全区',
          title: '场中安全区',
        },
        {
          src: Tmp0,
          alt: '场边安全区',
          title: '场边安全区',
        },
      ]}
    />
    <P>
      第1组黄圈消失前，<RoleIcon role="all" tag="所有人" />站到不被<Span variant="pink">第1组</Span
      >黄圈炸到的地方，待上一组黄圈<Span variant="pink">消失</Span>后<Span variant="pink">2s</Span>内移动到安全区
    </P>
    <P>这里可以三穿一躲避，也可以三穿二，二穿一</P>
  </div>
</SolutionSection>

<NoteSection>
  <div class="flex flex-col gap-4">
    <P
      >如需减少移动，可以先根据<StratLink variant="yellow" href="#stoneringerP2">{stoneringer}</StratLink
      >的情况选择最终前往哪个安全区</P
    >
  </div>
</NoteSection>

<script>
  import type { Ticker } from 'pixi.js'

  import { listenKeys } from 'nanostores'
  import { Assets, Container, Graphics, Sprite } from 'pixi.js'

  import floor_img from '@/assets/07/m7s/sporesplosion/floor_p2_1@3x.png'
  import { getScale, YmToPx } from '@/pixi/utils'
  import { $stratBoards } from '@/stores/stratBoards'

  const group1 = [
    { x: 100, y: -16.25 },
    { x: 108.75, y: -7.75 },

    { x: 91.25, y: 0.75 },
    { x: 100, y: 9.25 },
    { x: 91.25, y: 17.75 },

    { x: 108.75, y: 26.25 },
  ]
  const group2 = [
    { x: 91.25, y: -16.25 },
    { x: 100, y: -7.75 },

    { x: 108.75, y: 0.75 },
    { x: 108.75, y: 9.25 },
    { x: 100, y: 17.75 },

    { x: 91.25, y: 26.25 },
  ]
  const group3 = [
    { x: 108.75, y: -16.25 },
    { x: 91.25, y: -7.75 },

    { x: 100, y: 0.75 },
    { x: 91.25, y: 9.25 },
    { x: 108.75, y: 17.75 },

    { x: 100, y: 26.25 },
  ]

  function transferPos(p: { x: number; y: number }) {
    return {
      x: 1.2941 * p.y - 6.4706,
      y: -1.2529 * p.x - 0.0007 * p.y + 125.3141,
    }
  }

  listenKeys($stratBoards, ['sporesplosion'], async (stratBoards) => {
    const app = stratBoards.sporesplosion

    const container = new Container()
    container.position.set(app.screen.width / 2, app.screen.height / 2)
    app.stage.addChild(container)

    const floorTexture = await Assets.load(floor_img)
    const floor = Sprite.from(floorTexture)
    floor.anchor.set(0.5, 0.5)
    container.addChild(floor)

    const rectMask = new Graphics()
    const width = floor.width
    const height = floor.height
    rectMask.rect(-width / 2, -height / 2, width, height)
    rectMask.fill({ color: 'white' })
    container.addChild(rectMask)
    container.mask = rectMask

    const fan_360_Texture = await Assets.load('omen/fan/360_r20.png')
    function createAoeSprites(group: { x: number; y: number }[]) {
      return group.map((p) => {
        const fan_360 = new Sprite(fan_360_Texture)
        const pos = transferPos(p)
        fan_360.anchor.set(0.5, 0.5)
        fan_360.position.set(pos.x * YmToPx, pos.y * YmToPx)
        fan_360.scale.set(getScale() / 1.95)
        fan_360.visible = false // 初始不显示
        container.addChild(fan_360)
        return fan_360
      })
    }

    const groupSprites = [createAoeSprites(group1), createAoeSprites(group2), createAoeSprites(group3)]

    function showGroups(upToIndex: number) {
      for (let i = 0; i < groupSprites.length; i++) {
        const visible = i <= upToIndex
        groupSprites[i].forEach((sprite) => {
          sprite.visible = visible
        })
      }
    }

    let tickerFn: ((ticker: Ticker) => void) | null = null

    async function reset() {
      if (tickerFn) {
        app.ticker.remove(tickerFn)
        tickerFn = null
      }
      container.removeChild()

      showGroups(0)
      showGroups(1)
      showGroups(2)
    }
    // init
    await reset()

    async function play() {
      container.removeChild()
      let elapsed = 0

      tickerFn = (ticker) => {
        elapsed += ticker.elapsedMS
        const phase = Math.floor(elapsed / 1500) % 4
        if (phase < 3) {
          showGroups(phase)
        } else {
          showGroups(-1)
        }
      }

      app.ticker.add(tickerFn)
    }

    document.getElementById('sporesplosion-mechanic-dynamic-play-button')?.addEventListener('click', () => {
      play()
    })

    document.getElementById('sporesplosion-mechanic-dynamic-random-button')?.addEventListener('click', () => {
      reset()
    })
  })
</script>
