---
import type { Time } from '@/lib/utils'

import { Image } from 'astro:assets'

import RoleIcon from '@/components/RoleIcon.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import DamageDown from '@/components/buff/DamageDown.astro'

import StoneringerCast from '../_components/StoneringerCast.astro'
import SmashHereCast from '../_components/SmashHereCast.astro'

import stoneringer_1 from '@/assets/07/m7s/stoneringer_1.png'
import stoneringer_2 from '@/assets/07/m7s/stoneringer_2.png'
import stoneringer_steel from '@/assets/07/m7s/stoneringer_steel.png'
import stoneringer_ring from '@/assets/07/m7s/stoneringer_ring.png'
import smash_here from '@/assets/07/m7s/smash_here.png'
import smash_there from '@/assets/07/m7s/smash_there.png'

interface Props {
  base: Time
}

const { base = 0 }: Props = Astro.props
---

<StoneringerCast start="00:20.89" base={base} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">BOSS掏出武器，此处是一把，P3会变成两把</div>
    <div>稍后一把武器发光，发动对应钢铁/月环</div>
    <div class="flex gap-4">
      <div class="max-w-88 flex-1">
        <Image src={stoneringer_1} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div>
      <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
        <h4 class="text-xl">
          <Span variant="yellow">情形1</Span>
        </h4>
        <div class="gap-strat flex items-center">
          boss掏出一个棒槌，发光后释放半径<Span variant="pink">12m</Span>的<Span variant="yellow">钢铁</Span>
        </div>
        <div>范围大于最大近战攻击距离</div>
        <div>
          吃到后会被赋予
          <DamageInfo damage="132000" type="physical" />
          <DamageDown tag="30" hover />
          <Span variant="rose" class="text-decimal">35%↓</Span>
        </div>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="max-w-88 flex-1">
        <Image src={stoneringer_2} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div>
      <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
        <h4 class="text-xl">
          <Span variant="yellow">情形2</Span>
        </h4>
        <div class="gap-strat flex items-center">
          boss掏出一把长刀，发光后释放<Span variant="yellow">月环</Span>
        </div>
        <div>中间安全场地半径 <Span variant="pink">9m</Span></div>
        <div>
          吃到后会被赋予
          <DamageInfo damage="132000" type="physical" />
          <DamageDown tag="30" hover />
          <Span variant="rose" class="text-decimal">35%↓</Span>
        </div>
      </div>
    </div>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">武器发光时根据武器类型追加钢铁月环Aoe</div>
    <h4 class="mt-4 text-2xl">
      <Span variant="yellow">范围参考</Span>
    </h4>
    <div class="grid grid-cols-2 gap-x-2 gap-y-4">
      <div class="flex flex-col items-center gap-1">
        <Image src={stoneringer_steel} alt="" class="min-w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100" />
        <div>钢铁</div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <Image src={stoneringer_ring} alt="" class="border-2 border-fuchsia-400 dark:border-fuchsia-100" />
        <div>月环</div>
      </div>
    </div>
  </div>
</SolutionSection>
<SmashHereCast start="00:28.76" base={base} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">
      钢铁月环判定的同时释放距离诱导的圆形AOE物理死刑，需要
      <RoleIcon role="tank" />
      分摊或单人无敌
    </div>

    <div class="flex gap-4">
      <div class="flex-1 shrink">
        <Image src={smash_here} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div>
      <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
        <h4 class="text-xl">
          <Span variant="yellow">情形1：Here</Span>
        </h4>
        <div class="gap-strat flex items-center">
          读条Smash Here，对距离<Span variant="red">最近</Span>的玩家释放可分摊死刑
        </div>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="flex-1 shrink">
        <Image src={smash_there} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div>
      <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
        <h4 class="text-xl">
          <Span variant="yellow">情形2：There</Span>
        </h4>
        <div class="gap-strat flex items-center">
          读条Smash There，对距离<Span variant="red">最远</Span>的玩家释放可分摊死刑
        </div>
      </div>
    </div>
  </div>
</MechanicSection>
<SolutionSection> P1的两次死刑由双T使用无敌处理，P3再将无敌用于分摊塔 </SolutionSection>
