---
import type { Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import Stoneringer2Cast from '../_components/Stoneringer2Cast.astro'
import { translations } from '../_translations'

import pos1_img from '@/assets/07/m7s/stoneringer2/p3_strange_seeds_1.png'
import pos2_img from '@/assets/07/m7s/stoneringer2/p3_strange_seeds_2.png'
import pos3_img from '@/assets/07/m7s/stoneringer2/p3_strange_seeds_3.png'
import pos4_img from '@/assets/07/m7s/stoneringer2/p3_strange_seeds_4.png'
import circle_img from '@/assets/07/m7s/stoneringer2/p3_seeds_circle.png'
import ring_img from '@/assets/07/m7s/stoneringer2/p3_seeds_ring.png'
import ListDot from '@/components/ListDot.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'

import BruteAbombinator from '../_components/BruteAbombinator.astro'
import BrutishSwingCast from '../_components/BrutishSwingCast.astro'
import LashingLariatCast from '../_components/LashingLariatCast.astro'

import SlaminatorCast from '../_components/SlaminatorCast.astro'
import BrutishSwingMoveActivate from '../_components/BrutishSwingMoveActivate.astro'
import BrutishSwingActivate from '../_components/BrutishSwingActivate.astro'
import StrangeSeedsCast from '../_components/StrangeSeedsCast.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import MoveToCenterEvent from '../_components/MoveToCenterEvent.astro'
import StrangeSeedsAppear from '../_components/StrangeSeedsAppear.astro'
import StrangeSeedsActivate from '../_components/StrangeSeedsActivate.astro'
import TendrilsofTerrorAppear from '../_components/TendrilsofTerrorAppear.astro'
import TendrilsofTerrorActivate from '../_components/TendrilsofTerrorActivate.astro'
import LashingLariatActivate from '../_components/LashingLariatActivate.astro'
import SlaminatorActivate from '../_components/SlaminatorActivate.astro'
import ToggleSwitch from '@/components/ToggleSwitch.astro'

interface Props {
  time: Time
  base: Time
}

const { time, base = 0 }: Props = Astro.props
const lashingLariat = translations.lashingLariat
const stoneringer2Stoneringers = translations.stoneringer2Stoneringers
const slaminator = translations.slaminator
const strangeSeeds = translations.strangeSeeds
---

<Stoneringer2Cast start={time} base={base} />
<MoveToCenterEvent time="09:34.096" base={base} />
<StrangeSeedsCast start="09:36.193" base={base} />
<StrangeSeedsAppear time="09:41.315" num={1} base={base} />
<BrutishSwingCast start="09:44.261" base={base} />
<StrangeSeedsActivate time="09:46.310" num={1} base={base} />
<TendrilsofTerrorAppear time="09:48.451" num={1} base={base} />
<BrutishSwingMoveActivate time="09:49.923" base={base} />
<BrutishSwingActivate time="09:50.949" base={base} />
<TendrilsofTerrorActivate time="09:51.439" num={1} base={base} />
<LashingLariatCast start="09:52.017" base={base} />
<StrangeSeedsAppear time="09:55.541" num={2} base={base} />
<LashingLariatActivate time="09:55.987" base={base} />
<BrutishSwingCast start="09:58.661" base={base} />
<StrangeSeedsActivate time="10:00.534" num={2} base={base} />
<TendrilsofTerrorAppear time="10:02.6701" num={2} base={base} />
<BrutishSwingMoveActivate time="10:04.362" base={base} />
<BrutishSwingActivate time="10:05.342" base={base} />
<TendrilsofTerrorActivate time="10:05.656" num={2} base={base} />
<SlaminatorCast start="10:06.990" base={base} />
<SlaminatorActivate time="10:11.986" base={base} />

<MechanicSection title=`第二次 ${stoneringer2Stoneringers}`>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      <BruteAbombinator />
      掏出两把武器并进行下列组合技：
    </div>
    <div class="paragraph">
      <ListDot />
      点名四人
      <RoleIcon role="tank|healer" />
      组或
      <RoleIcon role="dps" />
      组准备放置第一次
      <Span variant="cyan">冰花</Span>
    </div>
    <div class="paragraph">
      <ListDot />
      一把武器
      <Span variant="pink">发光</Span>
      ，同时Boss连线一面墙
    </div>
    <div class="paragraph">
      <ListDot />
      点名判定
    </div>
    <div class="paragraph">
      <ListDot />
      <BruteAbombinator />
      跳至连线墙，随后
      <Span variant="cyan">冰花</Span>
      与
      <Span variant="yellow">钢铁/月环</Span>
      同时判定
    </div>
    <div class="paragraph">
      <ListDot />
      释放宽于半场的
      <Skill name={lashingLariat} />
      ，同时点名不同的四人
      <RoleIcon role="dps" />
      组或
      <RoleIcon role="tank|healer" />
      组准备放置第二次
      <Span variant="cyan">冰花</Span>
    </div>
    <div class="paragraph">
      <ListDot />
      点名判定，同时另一把武器
      <Span variant="pink">发光</Span>
      且Boss连线一面墙
    </div>
    <div class="paragraph">
      <ListDot />
      <BruteAbombinator />
      跳至连线墙，判定第二次
      <Span variant="cyan">冰花</Span>
      与另一种
      <Span variant="yellow">钢铁/月环</Span>
    </div>
    <div class="paragraph">
      <ListDot />
      <Skill name={slaminator} />
      在场中生成塔
    </div>
  </div>
</MechanicSection>
<SolutionSection title="解法：Game8">
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      第二次放置
      <Span variant="cyan">冰花</Span>
      时，可以把靠近
      <BruteAbombinator />
      的位置留给近战职业
    </div>
    <div class="paragraph">
      最后的塔可以由
      <RoleIcon role="tank" />
      开无敌单独踩塔
    </div>
    <T class="mt-8" variant="lime" text=`冰花放置参考` />
    <div class="paragraph">注意在此解法中，第一次放置是以场地为基准，第二次放置是以面向Boss为基准</div>
    <div class="paragraph">
      这使得第一次放置时，近战职业可能远离
      <BruteAbombinator />
      ：
      <ToggleSwitch
        id="strange-seeds-solution-toggle"
        lVariant="cyan"
        rVariant="amber"
        lLabel="TN组先"
        rLabel="DPS组先"
      />
    </div>
    <ImgRow
      wrapperClass="max-w-100"
      borderVariant="yellow"
      id="strange-seeds-solution-omen"
      imgs={[
        {
          src: pos3_img,
          alt: `${strangeSeeds} 第一次放置TN`,
          title: '第一次放置',
        },
        {
          src: pos4_img,
          alt: `${strangeSeeds} 第二次放置DPS`,
          title: '第二次放置',
        },
      ]}
    />
    <ImgRow
      wrapperClass="max-w-100"
      borderVariant="yellow"
      id="strange-seeds-solution-activate"
      class="hidden"
      imgs={[
        {
          src: pos1_img,
          alt: `${strangeSeeds} 第一次放置DPS`,
          title: '第一次放置',
        },
        {
          src: pos2_img,
          alt: `${strangeSeeds} 第二次放置TN`,
          title: '第二次放置',
        },
      ]}
    />
    <T class="mt-8" variant="lime" text=`冰花组合技` />
    <ImgRow
      wrapperClass="max-w-100"
      borderVariant="yellow"
      imgs={[
        {
          src: circle_img,
          alt: 'm7sp3: 结尾冰花',
          title: '冰花与钢铁',
        },
        {
          src: ring_img,
          alt: 'm7sp3: 结尾冰花',
          title: '冰花与月环',
        },
      ]}
    />
  </div>
</SolutionSection>

<script>
  function toggleTables(omenId: string, activateId: string, showActivate: boolean) {
    const omenTable = document.getElementById(omenId)
    const activateTable = document.getElementById(activateId)

    if (omenTable && activateTable) {
      if (showActivate) {
        omenTable.classList.toggle('hidden', true)
        activateTable.classList.toggle('hidden', false)
        activateTable.classList.add('flex')
      } else {
        activateTable.classList.toggle('hidden', true)
        omenTable.classList.toggle('hidden', false)
      }
    }
  }

  document.addEventListener('change', (event) => {
    const target = event.target as HTMLInputElement

    if (target && target.matches('#strange-seeds-solution-toggle')) {
      toggleTables('strange-seeds-solution-omen', 'strange-seeds-solution-activate', target.checked)
    }
  })
</script>
