---
import type { Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import Stoneringer2Cast from '../_components/Stoneringer2Cast.astro'
import { translations } from '../_translations'

import img from '@/assets/07/m7s/Tmp.png'
import circle_img from '@/assets/07/m7s/stoneringer2/p3_circle.png'
import ring_img from '@/assets/07/m7s/stoneringer2/p3_ring.png'
import left_img from '@/assets/07/m7s/stoneringer2/lashing_lariat_left.png'
import right_img from '@/assets/07/m7s/stoneringer2/lashing_lariat_right.png'
import glower_power_img from '@/assets/07/m7s/stoneringer2/p3_glower_power.png'
import ListDot from '@/components/ListDot.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'

import BruteAbombinator from '../_components/BruteAbombinator.astro'
import BrutishSwingCast from '../_components/BrutishSwingCast.astro'
import ElectrogeneticForceActivate from '../_components/ElectrogeneticForceActivate.astro'
import GlowerPowerActivate from '../_components/GlowerPowerActivate.astro'
import GlowerPowerCast from '../_components/GlowerPowerCast.astro'
import LashingLariatCast from '../_components/LashingLariatCast.astro'

import SlaminatorCast from '../_components/SlaminatorCast.astro'
import BrutishSwingMoveActivate from '../_components/BrutishSwingMoveActivate.astro'
import BrutishSwingActivate from '../_components/BrutishSwingActivate.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import RevengeOfTheVinesActivate from '../_components/RevengeOfTheVinesActivate.astro'
import LashingLariatActivate from '../_components/LashingLariatActivate.astro'
import SlaminatorActivate from '../_components/SlaminatorActivate.astro'

interface Props {
  time: Time
}

const { time }: Props = Astro.props
const brutishSwing = translations.brutishSwing
const electrogeneticForce = translations.electrogeneticForce
const glowerPower = translations.glowerPower
const lashingLariat = translations.lashingLariat
const revengeOfTheVines = translations.revengeOfTheVines
const stoneringer2Stoneringers = translations.stoneringer2Stoneringers
const slaminator = translations.slaminator
---

<Stoneringer2Cast start={time} />
<BrutishSwingCast start="06:41.085" />
<BrutishSwingMoveActivate time="06:46.790" />
<BrutishSwingActivate time="06:47.813" />

<RevengeOfTheVinesActivate time="06:48.882" />
<LashingLariatCast start="06:50.973" />
<LashingLariatActivate time="06:54.942" />
<BrutishSwingCast start="06:56.589" />
<BrutishSwingMoveActivate time="07:02.289" />
<BrutishSwingActivate time="07:03.268" />
<GlowerPowerCast start="07:04.383" duartion={1.7} />
<ElectrogeneticForceActivate time="07:06.209" />
<GlowerPowerActivate time="07:06.345" />
<SlaminatorCast start="07:07.188" />
<SlaminatorActivate time="07:12.172" />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <T>
      <Skill name={stoneringer2Stoneringers} />
    </T>
    <div class="paragraph">
      读条期间
      <BruteAbombinator />
      掏出
      <Span variant="pink">两把</Span>
      武器，后续连续机制为：
    </div>
    <div class="paragraph">
      <ListDot />
      <Skill name={brutishSwing} />
      读条同时一把武器
      <Span variant="pink">发光</Span>
      ，
      <BruteAbombinator />
      移动至连线墙后释放对应
      <Span variant="yellow">钢铁/月环</Span>
    </div>
    <div class="paragraph">
      <ListDot />
      全场AoE
      <Skill name={revengeOfTheVines} />
      释放后，使用武器的一侧释放宽于半场的
      <Skill name={lashingLariat} />
    </div>
    <div class="paragraph">
      <ListDot />
      使用另一把武器再次重复：武器
      <Span variant="pink">发光</Span>
      → 连线墙体 → 移动 → 释放
      <Span variant="yellow">钢铁/月环</Span>
    </div>
    <div class="paragraph">
      <ListDot />
      释放组合技直线AoE + 全员点名伤害， 即
      <Skill name={[glowerPower, electrogeneticForce]}>
        <div slot="separator">和</div>
      </Skill>
    </div>
    <div class="paragraph">
      <ListDot />
      <Skill name={slaminator} />
      在场中生成塔
    </div>
    <T class="mt-8" variant="yellow" text="钢铁月环范围参考" />
    <ImgRow
      wrapperClass="max-w-100"
      borderVariant="yellow"
      imgs={[
        {
          src: circle_img,
          alt: 'm7sp3: 钢铁',
          title: '钢铁',
        },
        {
          src: ring_img,
          alt: 'm7sp3: 月环',
          title: '月环',
        },
      ]}
    />
    <T class="mt-8" variant="yellow" text=`${lashingLariat}范围参考` />
    <ImgRow
      wrapperClass="max-w-100"
      borderVariant="yellow"
      imgs={[
        {
          src: left_img,
          alt: 'm7sp3: 左半场刀',
          title: '左半场',
        },
        {
          src: right_img,
          alt: 'm7sp3: 右半场刀',
          title: '右半场',
        },
      ]}
    />
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      最后的塔可以由
      <RoleIcon role="tank" />
      开无敌单独踩塔
    </div>
    <div class="paragraph">组合技直线AoE + 全员点名伤害参考站位如下</div>
    <ImgRow
      wrapperClass="max-w-100"
      borderVariant="yellow"
      imgs={[
        {
          src: glower_power_img,
          alt: 'm7sp3: 分散站位',
          title: '分散站位',
        },
      ]}
    />
  </div>
</SolutionSection>
