---
import type { Time } from '@/lib/utils'
import { Image } from 'astro:assets'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import Badge from '@/components/Badge.astro'
import floor_p2_3 from '@/assets/07/m7s/floor_p2_3.png'
import strange_seeds_safe_point from '@/assets/07/m7s/strange_seeds/strange_seeds_safe_point.png'
import strange_seeds_13_point from '@/assets/07/m7s/strange_seeds/strange_seeds_13_point.png'
import strange_seeds_24_point from '@/assets/07/m7s/strange_seeds/strange_seeds_24_point.png'
import strange_seeds_killer_seeds_point from '@/assets/07/m7s/strange_seeds/strange_seeds_killer_seeds_point.png'
import StrangeSeedsCast from '../_components/StrangeSeedsCast.astro'
import BruteAbombinator from '../_components/BruteAbombinator.astro'
import StrangeSeedsActivate from '../_components/StrangeSeedsActivate.astro'
import { translations } from '../_translations'
import StrangeSeedsAppear from '../_components/StrangeSeedsAppear.astro'
import StoneringerCast from '../_components/StoneringerCast.astro'
import TendrilsofTerrorAppear from '../_components/TendrilsofTerrorAppear.astro'
import TendrilsofTerrorActivate from '../_components/TendrilsofTerrorActivate.astro'
import KillerSeedsAppear from '../_components/KillerSeedsAppear.astro'
import KillerSeedsActivate from '../_components/KillerSeedsActivate.astro'
import BrutishSwingCast from '../_components/BrutishSwingCast.astro'
import EventSection from '@/components/section/EventSection.astro'
import ThornsOfDeathDebuff from '../_components/ThornsOfDeathDebuff.astro'

interface Props {
  base?: Time
}
const { base = 0 }: Props = Astro.props
const strangeSeeds = translations.strangeSeeds
const stoneringer = translations.stoneringer
---

<StrangeSeedsCast start="04:43.863" base={base} />
<StrangeSeedsAppear time="04:48.986" base={base} num={1} />
<StoneringerCast start="04:52.997" base={base} />
<StrangeSeedsActivate time="04:53.975" base={base} num={1} />
<StrangeSeedsAppear time="04:54.021" base={base} num={2} />
<TendrilsofTerrorAppear time="04:55.624" base={base} num={1} />
<TendrilsofTerrorActivate time="04:58.613" base={base} num={1} />
<StrangeSeedsActivate time="04:59.013" base={base} num={2} />
<StrangeSeedsAppear time="04:59.013" base={base} num={3} />
<TendrilsofTerrorAppear time="05:00.664" base={base} num={2} />
<TendrilsofTerrorActivate time="05:03.653" base={base} num={2} />
<StrangeSeedsActivate time="05:04.009" base={base} num={3} />
<StrangeSeedsAppear time="05:04.009" base={base} num={4} />
<TendrilsofTerrorAppear time="05:05.658" base={base} num={3} />
<TendrilsofTerrorActivate time="05:08.642" base={base} num={3} />
<StrangeSeedsActivate time="05:08.997" base={base} num={4} />
<TendrilsofTerrorAppear time="05:10.647" base={base} num={4} />
<TendrilsofTerrorActivate time="05:13.631" base={base} num={4} />
<KillerSeedsAppear time="05:13.853" base={base} />
<KillerSeedsActivate time="05:18.842" base={base} />
<EventSection time="05:20.310">
  墙与<RoleIcon role="any" />
  连线
  <ThornsOfDeathDebuff hover />消失
</EventSection>
<TendrilsofTerrorAppear time="05:20.532" base={base} num={5} />
<BrutishSwingCast start="05:20.887" base={base} />
<TendrilsofTerrorActivate time="05:23.516" base={base} num={5} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="flex w-4/6 flex-col gap-4">
      <Image src={floor_p2_3} alt="" class="border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      <div class="shrink-0 grow space-y-4">
        <div class="gap-strat flex-col items-center">
          <div>
            <span class="inline-flex items-center gap-px">
              <RoleIcon role="tank" />
              <RoleIcon role="healer" />组或
              <RoleIcon role="dps" />组,个一人被点名
              <Span variant="yellow"> {strangeSeeds} </Span>
              <Span variant="yellow">(圆形AOE)</Span>
            </span>
          </div>
          <div class="paragraph mt-6">
            随后在<Span variant="yellow">圆形AOE</Span>处会释放<Span variant="yellow">8方直线AOE</Span>
          </div>
          <div class="paragraph mt-6 border border-dashed p-4">
            <span class="inline-flex items-center gap-px">
              其间<BruteAbombinator /> 还会读条<Span variant="yellow">{stoneringer}</Span><Badge variant="green"
                >延迟生效</Badge
              >到分摊后进行处理
            </span>
          </div>
          <div class="paragraph mt-6">
            <span class="inline-flex items-center gap-px">
              <RoleIcon role="tank" />
              <RoleIcon role="healer" />组和<RoleIcon role="dps" />组个被点名一次一共4轮
            </span>
          </div>
          <div class="paragraph mt-6">
            <span class="inline-flex items-center gap-px">
              第四轮结束后,各点名
              <RoleIcon role="tank" />
              <RoleIcon role="healer" />组和<RoleIcon role="dps" />
              组需要双人处理的分摊机制
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</MechanicSection>

<SolutionSection title="解法：萨利式">
  <div class="flex flex-col gap-4">
    <!-- 安全区 -->
    <div class="items-left flex flex-col gap-4">
      <div class="flex flex-row gap-4">
        <div class="flex w-4/6 flex-col items-center gap-2">
          <Image src={strange_seeds_safe_point} alt="" class="border-2 border-fuchsia-400 dark:border-fuchsia-100" />
          <div class="paragraph">未被点名时待在安全区内</div>
        </div>
      </div>
      <div class="gap-strat flex-col">
        <div>首先</div>
        <div>短边dot线由<RoleIcon role="dps" tag="D3" />负责</div>
        <div>长边dot线必定由<RoleIcon role="dps" tag="D4" />负责</div>
      </div>
    </div>

    <!-- 1/3 -->
    <div class="items-left flex flex-col gap-4">
      <div class="flex flex-row gap-4">
        <div class="flex w-4/6 flex-col items-center gap-2">
          <Image src={strange_seeds_13_point} alt="" class="border-2 border-fuchsia-400 dark:border-fuchsia-100" />
          <div class="paragraph">奇数 1/3轮,放角落或中央点</div>
        </div>
      </div>
      <div class="gap-strat flex-col">
        <div class="gap-strat flex">站位尽量分开,保证被点名时</div>
        <div class="gap-strat mt-2 flex">可以直接判断是谁被点名</div>
        <div class="gap-strat mt-2 flex">注意中央点位的放置需要相当准确</div>
      </div>
    </div>

    <!-- 2/4 -->
    <div class="items-left flex flex-row gap-2">
      <div class="flex w-4/6 flex-col items-center gap-2">
        <Image src={strange_seeds_24_point} alt="" class="border-2 border-fuchsia-400 dark:border-fuchsia-100" />
        <div class="gap-strat flex flex-col items-center">
          <div>偶数 2/4轮,放标点或标记位</div>
        </div>
      </div>
    </div>

    <!-- 分摊站位 -->
    <div class="flex flex-row gap-4">
      <div class="flex w-4/6 flex-col items-center gap-2">
        <Image
          src={strange_seeds_killer_seeds_point}
          alt=""
          class="border-2 border-fuchsia-400 dark:border-fuchsia-100"
        />
        <div class="paragraph">
          第4轮种子落下后,<RoleIcon role="tank" /><RoleIcon role="healer" />组或<RoleIcon role="dps" />组分摊站位
        </div>
      </div>
    </div>
    <div class="gap-strat flex-col">
      <Span variant="pink">
        <div class="gap-strat flex">注意:</div>
        <div class="gap-strat flex">
          如果<RoleIcon role="dps" tag="D3" />处在左侧半场,则<RoleIcon role="healer" tag="H1" />跑到<RoleIcon
            role="dps"
            tag="D3"
          />位置的距离会变长
        </div>
      </Span>
      <div class="gap-strat flex">
        这里建议,如果在前几轮已经放完<Span variant="yellow"> {strangeSeeds} </Span>的情况下去
      </div>
      <div class="gap-strat flex"><Span variant="pink">左侧安全位</Span>进行躲避.缩短下次跑去分摊的距离</div>
    </div>
  </div>
</SolutionSection>
