---
import Badge from '@/components/Badge.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import StratLink from '@/components/StratLink.astro'
import CollapseSection from '@/components/section/CollapseSection.astro'
import EventSection from '@/components/section/EventSection.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import MultiSolutionSection from '@/components/section/MultiSolutionSection.vue'
import NoteSection from '@/components/section/NoteSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import ToggleSwitch from '@/components/ToggleSwitch.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import P from '@/components/typography/P.astro'
import Quote from '@/components/typography/Quote.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import BruteAbombinator from '../_components/BruteAbombinator.astro'
import KillerSeedsActivate from '../_components/KillerSeedsActivate.astro'
import KillerSeedsAppear from '../_components/KillerSeedsAppear.astro'
import StoneringerCast from '../_components/StoneringerCast.astro'
import StrangeSeedsActivate from '../_components/StrangeSeedsActivate.astro'
import StrangeSeedsAppear from '../_components/StrangeSeedsAppear.astro'
import StrangeSeedsCast from '../_components/StrangeSeedsCast.astro'
import TendrilsofTerrorAppear from '../_components/TendrilsofTerrorAppear.astro'
import ThornsOfDeathDebuff from '../_components/ThornsOfDeathDebuff.astro'
import { translations } from '../_translations'

const strangeSeeds = translations.strangeSeeds
const demolitionDeathmatch = translations.demolitionDeathmatch
const killerseeds = translations.killerSeeds
const tendrilsofTerror = translations.tendrilsOfTerror
const brutishSwing = translations.brutishSwing

const solutions = [
  {
    id: 'strangeseeds-sari-m',
    title: '解法：日野主流（萨利式）',
  },
  {
    id: 'strangeseeds-fixedseeds',
    title: '解法：Fixed Seeds',
  },
]
const defaultSolution = '解法：日野主流（萨利式）'
---

<StrangeSeedsCast start="04:43.863" />
<CollapseSection wider>
  <Fragment slot="summary">
    <BruteAbombinator />
    进行
    <Span variant="default">4</Span>
    轮不重复点名，每轮点名
    <Span variant="default">1</Span>
    <RoleIcon role="tank|healer" />
    <Span variant="default">1</Span>
    <RoleIcon role="dps" />
    <Skill name={strangeSeeds} />
    <DamageInfo damage="90000" type="magical" />
    <MagicVulnerabilityUp tag="7" hover />
    <Badge variant="emerald">6m圆形</Badge>
    <Badge variant="yellow">分散</Badge>
    <Badge variant="cyan">放冰花</Badge>
  </Fragment>
  <Fragment slot="details">
    <StrangeSeedsAppear time="04:48.986" num={1} />
    <StrangeSeedsActivate time="04:53.975" num={1} />
    <StrangeSeedsAppear time="04:54.021" num={2} />
    <TendrilsofTerrorAppear time="04:55.624" num={1} />
    <StrangeSeedsActivate time="04:59.013" num={2} />
    <StrangeSeedsAppear time="04:59.013" num={3} />
    <TendrilsofTerrorAppear time="05:00.664" num={2} />
    <StrangeSeedsActivate time="05:04.009" num={3} />
    <StrangeSeedsAppear time="05:04.009" num={4} />
    <TendrilsofTerrorAppear time="05:05.658" num={3} />
    <StrangeSeedsActivate time="05:08.997" num={4} />
    <TendrilsofTerrorAppear time="05:10.647" num={4} />
  </Fragment>
</CollapseSection>
<StoneringerCast start="04:52.997" />
<KillerSeedsAppear time="05:13.853" />
<KillerSeedsActivate time="05:18.842" />
<EventSection time="05:20.310">
  墙与玩家的连线
  <ThornsOfDeathDebuff hover />消失
</EventSection>
<TendrilsofTerrorAppear time="05:20.532" num={5} />
<MechanicSection id="strangeSeeds">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <T id="killerseedsmc"><Skill name={strangeSeeds} /></T>
      <P>
        点名<Span variant="pink">1</Span><RoleIcon role="tank|healer" />和<Span variant="pink">1</Span><RoleIcon
          role="dps"
        />的圆形伤害，半径<Span variant="pink">6m</Span>，对点名玩家造成<DamageInfo
          damage="90000"
          type="magical"
        />，并附加<MagicVulnerabilityUp tag="7" hover /></P
      >
      <P>
        共计<Span variant="pink">4轮</Span>，每轮间隔<Span variant="pink">5s</Span>，上一轮点名伤害判定的<Span
          variant="pink">同时</Span
        >，下一轮点名出现</P
      >
    </div>
    <P
      >伤害判定约<Span variant="pink">1.6s</Span>后，在<Span variant="pink">判定位置</Span>出现<StratLink
        variant="yellow"
        href="./p1#tendrilsofTerror">{tendrilsofTerror}</StratLink
      >的米字形AoE预兆</P
    >
  </div>
  <div class="flex flex-col gap-4">
    <T class="mt-8"><Skill name={killerseeds} /></T>
    <P
      >点名<Span variant="pink">4</Span><RoleIcon role="tank|healer" />或<Span variant="pink">4</Span><RoleIcon
        role="dps"
      />的可分摊圆形伤害，半径<Span variant="pink">6m</Span>，双人分摊时造成<DamageInfo
        damage="100000"
        type="magical"
      />，并附加<MagicVulnerabilityUp tag="2" hover /></P
    >
    <P
      >伤害判定约<Span variant="pink">1.6s</Span>后，在<Span variant="pink">判定位置</Span>出现<StratLink
        variant="yellow"
        href="./p1#tendrilsofTerror">{tendrilsofTerror}</StratLink
      >的米字形AoE预兆</P
    >
  </div>
</MechanicSection>

<NoteSection>
  <div class="flex flex-col gap-4">
    <P
      >此处由于荆棘连线的存在，被连线者的<Span variant="pink">活动范围受限</Span>，同时<Span variant="pink"
        >持续掉血</Span
      >，需要<RoleIcon role="healer" />抬（guan）血（ai）</P
    >
    <P
      >同时被连线者应<Span variant="pink">注意走位</Span>，尽可能保持DoT伤害不超过<ThornsOfDeathDebuff
        level={2}
        hover
      />，必要时注意<Span variant="pink">自保</Span></P
    >
  </div>
</NoteSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <P>在<Skill name={strangeSeeds} />阶段，<RoleIcon role="all" tag="全员" />需要做的事只有两种情况：</P>
    <Quote variant="lime">
      <P>如果<Span variant="pink">没被点名</Span>放置冰花，站在<Span variant="pink">安全区</Span>躲避冰花</P>
      <P
        >如果<Span variant="pink">被点名</Span>放置冰花，在<Span variant="pink">相应的点位</Span>上放置冰花，然后<Span
          variant="pink">躲避</Span
        >冰花</P
      >
    </Quote>
    <P
      ><Skill name={killerseeds} />分摊预兆出现后，<RoleIcon role="tank|healer" />和<RoleIcon
        role="dps"
      />两两配对，处理双人分摊</P
    >
    <P
      >双人分摊判定后，观察<BruteAbombinator />武器，<Span variant="pink">靠近</Span><Skill name={brutishSwing} /><Span
        variant="pink">安全区</Span
      >躲避最后的冰花</P
    >
    <P class="mt-4"
      >根据之前<StratLink variant="yellow" href="#DDAB">{demolitionDeathmatch}</StratLink>接线方式的选择，继续介绍<Span
        variant="lime">萨利式</Span
      >和<Span variant="lime">Fixed Seeds</Span>两种站位</P
    >
  </div>
</SolutionSection>

<MultiSolutionSection solutions={solutions} defaultSolution={defaultSolution} client:idle>
  <div slot="解法：日野主流（萨利式）">
    <div class="flex flex-col gap-4">
      <T text="放置冰花" variant="lime" class="text-2xl" />
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-4">
          <P
            ><Span variant="lime">萨利式</Span>的特点是，<Skill name={strangeSeeds} />点名区分<Span variant="sky"
              >奇数</Span
            >次和<Span variant="orange">偶数</Span>次，分别在<Span variant="pink">不同</Span>的位置放置冰花</P
          >
          <P
            >并且以<RoleIcon role="tank|healer" />、<RoleIcon role="melee" />、<RoleIcon
              role="ranged"
              tag="D3"
            />、<RoleIcon role="magic" tag="D4" />分组，不同组的放置点和安全区不同</P
          >
          <P>首先，所有冰花放置点如图所示（对原版解法点位有轻微调整，安全区略大一些）：</P>
          <ImgRow
            wrapperClass="max-w-180"
            bordered={false}
            imgs={[{ src: '07/m7s/strange_seeds/zari_place_overview.webp', alt: '萨利式冰花', title: '萨利式冰花全点位' }]}
          />
        </div>
        <div class="flex flex-col gap-4">
          <P>
            <Span variant="green">绝对安全区</Span>则如下图所示（图中绿色区域）
          </P>
          <P>
            所有可能的冰花范围<ToggleSwitch
              id="zari-safe-zone-toggle"
              lVariant="lime"
              rVariant="pink"
              lLabel="隐藏"
              rLabel="显示"
            />
          </P>
          <ImgRow
            id="zari-safe-zone-omen"
            wrapperClass="max-w-180"
            bordered={false}
            imgs={[{ src: '07/m7s/strange_seeds/zari_safe_zone_only.webp', alt: '仅显示安全区', title: '' }]}
          />
          <ImgRow
            id="zari-safe-zone-activate"
            wrapperClass="max-w-180"
            bordered={false}
            class="hidden"
            imgs={[{ src: '07/m7s/strange_seeds/zari_safe_zone.webp', alt: '包含安全区与冰花范围', title: '' }]}
          />
        </div>
        <div class="flex flex-col gap-4">
          <P class="mt-4">对于<RoleIcon role="tank" />和<RoleIcon role="healer" />：</P>
          <Quote variant="lime">
            <P>如果自己<Span variant="green">未被</Span>点名，则前往<Span variant="green">绝对安全区</Span></P>
            <P
              >如果自己被点名<Span variant="sky">奇数</Span>轮种子，则前往<Span variant="pink">靠近</Span
              ><BruteAbombinator />的场地<Span variant="sky">中轴线</Span>处放置</P
            >
            <P
              >如果自己被点名<Span variant="orange">偶数</Span>轮种子，则前往<Span variant="pink">靠近</Span
              ><BruteAbombinator />的场地<Span variant="orange">标点</Span>处放置</P
            >
          </Quote>
          <P>
            注意：下图这种情况标点为
            <Span variant="yellow">B</Span>
            ，当<BruteAbombinator />
            在对侧长边时，则标点为
            <Span variant="purple">D</Span>
          </P>
          <ImgRow
            wrapperClass="max-w-180"
            bordered={false}
            imgs={[{ src: '07/m7s/strange_seeds/zari_place_tank_healer.webp', alt: '萨利式冰花坦克/治疗点位', title: '' }]}
          />
        </div>
        <div class="flex flex-col gap-4">
          <P class="mt-4">对于<RoleIcon role="melee" />：</P>
          <Quote variant="lime"
            ><P
              >如果自己<Span variant="green">未被</Span>点名，则前往<BruteAbombinator /><Span variant="pink">面前</Span
              >的<Span variant="green">绝对安全区</Span></P
            >
            <P
              >如果自己被点名<Span variant="sky">奇数</Span>轮种子，则前往<BruteAbombinator /><Span variant="pink"
                >目标圈穿过</Span
              >的场地<Span variant="sky">角落</Span>放置</P
            >
            <P
              >如果自己被点名<Span variant="orange">偶数</Span>轮种子，则前往图中<Span variant="orange">橙色1点</Span
              >处放置</P
            ></Quote
          >
          <ImgRow
            wrapperClass="max-w-180"
            bordered={false}
            imgs={[{ src: '07/m7s/strange_seeds/zari_place_melee.webp', alt: '萨利式冰花近战组点位', title: '' }]}
          />
        </div>
        <div class="flex flex-col gap-4">
          <P class="mt-4">对于<RoleIcon role="ranged" tag="D3" />：</P>
          <Quote variant="lime">
            <P
              ><Span variant="sky">奇数</Span>轮种子点名时，<Span variant="pink">无论</Span>是否被点名，站在视角<Span
                variant="pink">右侧</Span
              >的场地<Span variant="sky">角落</Span>处</P
            >
            <P
              ><Span variant="orange">偶数</Span>轮时，
              <Quote variant="lime">
                <P
                  >如果连线<BruteAbombinator /><Span variant="pink">近侧</Span>墙：
                  <Quote variant="lime">
                    <P
                      ><Span variant="orange">橙色1点</Span>处<Span variant="pink">有点名</Span>，则站在图中
                      <Span variant="green">绿色点</Span>
                      处
                    </P>
                    <P>没有则站在<Span variant="orange">橙色1点</Span>处</P>
                  </Quote>
                </P>

                <P
                  >如果连线<BruteAbombinator /><Span variant="pink">远侧</Span>墙，站在图中<Span variant="orange"
                    >橙色3点</Span
                  >处
                </P>
              </Quote>
            </P>
          </Quote>
          <ImgRow
            wrapperClass="max-w-180"
            bordered={false}
            imgs={[{ src: '07/m7s/strange_seeds/zari_place_ranged.webp', alt: '萨利式冰花D3点位', title: '' }]}
          />
        </div>
        <div class="flex flex-col gap-4">
          <P class="mt-4">对于<RoleIcon role="magic" tag="D4" />：</P>
          <P
            ><Span variant="pink">无论</Span>是否被点名，<Quote variant="lime">
              <P
                ><Span variant="sky">奇数</Span>轮种子点名时，站在<Span variant="pink">远离</Span><BruteAbombinator
                />的场地<Span variant="sky">中轴线</Span>处</P
              >
              <P
                ><Span variant="orange">偶数</Span>轮时，站在图中<Span variant="orange">橙色2点</Span
                >（视角右侧螺丝正上方）处</P
              ></Quote
            ></P
          >
          <ImgRow
            wrapperClass="max-w-180"
            bordered={false}
            imgs={[{ src: '07/m7s/strange_seeds/zari_place_magic.webp', alt: '萨利式冰花D4点位', title: '' }]}
          />
        </div>
        <P>
          <Span variant="cyan">注：人群在绝对安全区集合时可略微分散，便于看清点名</Span>
        </P>
        <div class="flex flex-col gap-4">
          <T variant="lime" text="奇偶轮冰花AoE范围示意图" class="mt-4 text-2xl" />
          <P> 注：奇偶轮的图片中分别叠加了所有可能的冰花 </P>
          <P>
            <ToggleSwitch id="zari-if-toggle" lVariant="lime" rVariant="pink" lLabel="预兆" rLabel="判定" />
          </P>
          <ImgRow
            id="zari-if-omen"
            wrapperClass="max-w-180"
            bordered={false}
            imgs={[
              { src: '07/m7s/strange_seeds/zari_odd_case_1.webp', alt: '奇数轮冰花', title: '奇数轮冰花' },
              { src: '07/m7s/strange_seeds/zari_even_case_1.webp', alt: '偶数轮冰花', title: '偶数轮冰花' },
            ]}
          />
          <ImgRow
            id="zari-if-activate"
            wrapperClass="max-w-180"
            bordered={false}
            class="hidden"
            imgs={[
              { src: '07/m7s/strange_seeds/zari_odd_case_2.webp', alt: '奇数轮冰花', title: '奇数轮冰花' },
              { src: '07/m7s/strange_seeds/zari_even_case_2.webp', alt: '偶数轮冰花', title: '偶数轮冰花' },
            ]}
          />
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <T text="双人分摊" variant="lime" class="mt-8 text-2xl" />
      <div class="flex flex-col gap-4">
        <P>分摊预兆出现时：</P>
        <Quote variant="lime">
          <P class="pl-1">
            <RoleIcon role="tank" tag="MT" /><RoleIcon role="melee" tag="D1" />前往<BruteAbombinator /><Span
              variant="pink">目标圈穿过</Span
            >的场地<Span variant="sky">角落</Span>，即<RoleIcon role="melee" /><Span variant="sky">奇数</Span>轮冰花点
          </P>
          <P class="pl-1">
            <RoleIcon role="tank" tag="ST" /><RoleIcon role="melee" tag="D2" />前往<Span variant="pink">靠近</Span
            ><BruteAbombinator />的场地<Span variant="sky">中轴线</Span>处，即<RoleIcon role="healer|tank" /><Span
              variant="sky">奇数</Span
            >轮冰花点
          </P>
          <P class="pl-1">
            <RoleIcon role="healer" tag="H1" /><RoleIcon role="ranged" tag="D3" />前往<RoleIcon
              role="ranged"
              tag="D3"
            />视角<Span variant="pink">右侧</Span>的场地<Span variant="sky">角落</Span>处，即<RoleIcon
              role="ranged"
              tag="D3"
            /><Span variant="sky">奇数</Span>轮冰花点
          </P>
          <P class="pl-1">
            <RoleIcon role="healer" tag="H2" /><RoleIcon role="magic" tag="D4" />前往<Span variant="pink">远离</Span
            ><BruteAbombinator />的场地<Span variant="sky">中轴线</Span>处,即<RoleIcon role="magic" tag="D4" /><Span
              variant="sky">奇数</Span
            >轮冰花点
          </P>
        </Quote>
        <P>
          <RoleIcon role="any" tag="点名" />将冰花放置在<Span variant="pink">上述点位</Span>上，其他人与点名分摊
        </P>
        <P>
          可简记为：<RoleIcon role="melee" tag="D1" /><RoleIcon role="tank" tag="ST" /><RoleIcon
            role="ranged"
            tag="D3"
          /><RoleIcon role="magic" tag="D4" />去自己的奇数轮冰花点，搭档去找他们
        </P>
        <ImgRow
          wrapperClass="max-w-180"
          bordered={false}
          imgs={[{ src: '07/m7s/strange_seeds/zari_stack.webp', alt: '萨利式分摊站位图', title: '分摊站位' }]}
        />
        <P>
          <Span variant="cyan"
            >注：<RoleIcon role="healer" tag="H1" />请根据<RoleIcon
              role="ranged"
              tag="D3"
            />的连线情况，选择更加靠近<RoleIcon role="ranged" tag="D3" />的绝对安全区躲避第4轮冰花，及时和<RoleIcon
              role="ranged"
              tag="D3"
            />分摊</Span
          >
        </P>
      </div>
    </div>
  </div>

  <div slot="解法：Fixed Seeds">
    <div class="flex flex-col gap-4">
      <T text="放置冰花" variant="lime" class="text-2xl" />
      <P>
        正如其名，<Span variant="lime">Fixed Seeds</Span>放置<Skill name={strangeSeeds} />和躲避冰花的位置<Span
          variant="pink">相对固定</Span
        >
      </P>
      <P>
        具体来说，对于<RoleIcon role="all" tag="全员" />，<Span variant="pink">每人</Span>都有1个<Span variant="pink"
          >专属</Span
        >的点位：</P
      >
      <Quote variant="lime">
        <P>如果<Span variant="pink">未被</Span>点名，在自己点位上躲冰花</P>
        <P>如果被点名，将冰花放在自己点位上，然后<Span variant="pink">躲开这轮</Span>冰花</P>
      </Quote>
      <T variant="lime" text="Fixed Seeds点位图示" class="mt-4 text-2xl" />
      <P>
        <ToggleSwitch id="fs-overview-toggle" lVariant="lime" rVariant="pink" lLabel="职能图标" rLabel="精确点位" />
      </P>
      <ImgRow
        id="fs-overview-icon"
        wrapperClass="max-w-180"
        bordered={false}
        imgs={[{ src: '07/m7s/strange_seeds/fs_place_overview.webp', alt: '显示职能图标', title: '' }]}
      />
      <ImgRow
        id="fs-overview-dot"
        wrapperClass="max-w-180"
        bordered={false}
        class="hidden"
        imgs={[{ src: '07/m7s/strange_seeds/fs_place_overview_dot.webp', alt: '显示精确点位', title: '' }]}
      />
    </div>
    <div class="mt-4 flex flex-col gap-4">
      <P>躲开自己点名1轮冰花的方法有：</P>
      <Quote variant="lime">
        <P>对于未被连线的<RoleIcon role="any" />，可站在周围任一<Span variant="pink">未被点名</Span>者的点位</P>
        <P
          >对于<RoleIcon role="tank|dps" tag="接线" />，<Span variant="pink">观察</Span
          >冰花预兆，避开会被两个冰花预兆<Span variant="pink">延长线</Span>打到的位置，<Span variant="pink">就近</Span
          >躲避</P
        >
      </Quote>
      <P>实际上，场中存在不止一处的安全区</P>
      <T text="特殊情况" variant="lime" class="mt-4 text-2xl" />
      <P>
        对于<RoleIcon role="tank" /><RoleIcon role="melee" />，
        <Span variant="pink">连续2轮</Span>点<RoleIcon role="tank" /><RoleIcon role="melee" />的情况下
      </P>
      <P>
        要注意前往特殊的位置（图中<Span variant="purple">紫色点位</Span>）才能无损躲避冰花，如下图所示：
      </P>
      <ImgRow
        wrapperClass="max-w-180"
        bordered={false}
        imgs={[{ src: '07/m7s/strange_seeds/fs_place_cursed_1.webp', alt: '双近战情况1', title: '双近战情况1' }]}
      />
      <ImgRow
        wrapperClass="max-w-180"
        bordered={false}
        imgs={[
          {
            src: '07/m7s/strange_seeds/fs_place_cursed_2.webp',
            alt: '双近战情况2',
            title: '双近战情况2（黄色点位有概率吃到冰花/超出近战最大攻击距离）',
          },
        ]}
      />
    </div>
    <div class="flex flex-col gap-4">
      <T text="双人分摊" variant="lime" class="mt-8 text-2xl" />
      <div class="flex flex-col gap-4">
        <P>分摊预兆出现时：</P>
        <Quote variant="lime">
          <P class="pl-1">
            <RoleIcon role="tank" tag="ST" /><RoleIcon role="melee" tag="D1" />前往<BruteAbombinator /><Span
              variant="pink">目标圈穿过</Span
            >的场地<Span variant="pink">角落</Span>
          </P>
          <P class="pl-1">
            <RoleIcon role="tank" tag="MT" /><RoleIcon role="melee" tag="D2" />前往<Span variant="pink">靠近</Span
            ><BruteAbombinator />的场地<Span variant="pink">中轴线</Span>处
          </P>
          <P class="pl-1">
            <RoleIcon role="healer" tag="H1" /><RoleIcon role="magic" tag="D3" />前往<Span variant="pink">远离</Span
            ><BruteAbombinator />的场地<Span variant="pink">中轴线</Span>处
          </P>
          <P class="pl-1">
            <RoleIcon role="healer" tag="H2" /><RoleIcon role="ranged" tag="D4" />前往<RoleIcon
              role="ranged"
              tag="D4"
            />视角<Span variant="pink">右侧</Span>的场地<Span variant="pink">角落</Span>处
          </P></Quote
        >
        <P>
          <RoleIcon role="any" tag="点名" />将冰花放置在<Span variant="pink">上述点位</Span>上，其他人与点名分摊
        </P>
        <T text="Fixed Seeds分摊图示" variant="lime" class="mt-4 text-2xl" />
        <ImgRow
          wrapperClass="max-w-180"
          bordered={false}
          imgs={[{ src: '07/m7s/strange_seeds/fs_stack.webp', alt: 'fixed seeds分摊', title: '' }]}
        />
      </div>
    </div>
  </div>
</MultiSolutionSection>

<NoteSection>
  <div class="items-left flex flex-col gap-4">
    <P
      ><Span variant="lime">萨利式</Span>冰花需要记忆更多点位，同时减少了打本时对观察的需求，而<Span variant="lime"
        >Fixed Seeds</Span
      >则相反</P
    >
    <P>请根据自己和队伍的情况与喜好选择打法</P>
    <P>无论哪种站位，放置点位附近都存在一定容错，但是为了稳健开荒，还请尽量<Span variant="pink">精准</Span>放置冰花 </P>
    <P
      >躲冰花的时候保险起见，请注意<Span variant="pink">观察</Span>冰花预兆的<Span variant="pink">实际位置</Span
      >，必要时在安全区附近微调，以防止被队友残害</P
    >
    <P
      >尤其是自己轮次的冰花，因为<MagicVulnerabilityUp tag="7" hover />的存在，<Span variant="pink">吃到冰花必死</Span
      >，还请注意</P
    >
  </div>
</NoteSection>
<NoteSection>
  <div class="flex flex-col gap-4">
    <P
      >若<RoleIcon role="ranged" tag="D3" />为舞者，如果使用<Span variant="lime">Fixed Seeds</Span>，或者<Span
        variant="lime">萨利式</Span
      >而短边墙在<BruteAbombinator />远侧</P
    >
    <P>都会有一个标准舞步较难在不吃到<ThornsOfDeathDebuff level={3} hover />的情况下打到<BruteAbombinator /></P>
    <P
      >固定队的话，可以和<RoleIcon role="healer" />协商，由<RoleIcon
        role="healer"
      />给口单奶（配合自己内丹）或代替引导</P
    >
  </div>
</NoteSection>

<script>
  function toggleTables(omenId: string, activateId: string, showActivate: boolean) {
    const omenTable = document.getElementById(omenId)
    const activateTable = document.getElementById(activateId)

    if (omenTable && activateTable) {
      if (showActivate) {
        omenTable.classList.toggle('flex', !omenTable.classList.toggle('hidden', true))
        activateTable.classList.toggle('flex', !activateTable.classList.toggle('hidden', false))
      } else {
        activateTable.classList.toggle('flex', !activateTable.classList.toggle('hidden', true))
        omenTable.classList.toggle('flex', !omenTable.classList.toggle('hidden', false))
      }
    }
  }

  document.addEventListener('change', (event) => {
    const target = event.target as HTMLInputElement

    if (target && target.id === 'zari-if-toggle') {
      toggleTables('zari-if-omen', 'zari-if-activate', target.checked)
    } else if (target && target.id === 'zari-safe-zone-toggle') {
      toggleTables('zari-safe-zone-omen', 'zari-safe-zone-activate', target.checked)
    } else if (target && target.id === 'fs-overview-toggle') {
      toggleTables('fs-overview-icon', 'fs-overview-dot', target.checked)
    }
  })
</script>
