---
import DamageInfo from '@/components/DamageInfo.astro'
import ListDot from '@/components/ListDot.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import StratLink from '@/components/StratLink.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import MultiSolutionSection from '@/components/section/MultiSolutionSection.vue'
import ImgRow from '@/components/typography/ImgRow.astro'
import P from '@/components/typography/P.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import BruteAbombinator from '../_components/BruteAbombinator.astro'
import ThornsOfDeathDebuff from '../_components/ThornsOfDeathDebuff.astro'
import { translations } from '../_translations'

const thornyDeathmatch = translations.thornyDeathmatch
const abominableBlink = translations.abominableBlink
const sporesplosion = translations.sporesplosion
const brutishswing = translations.brutishSwing
const stoneringer = translations.stoneringer
const ThornsOfDeath = translations.thornsOfDeath

const solutions = [
  {
    id: 'TDAB-xivstrat',
    title: '解法：本站',
  },
  {
    id: 'TDAB-game8',
    title: '解法：日野主流',
  },
]
const defaultSolution = '解法：本站'
---

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <T>
        <Skill name={`${thornyDeathmatch}（连线）`} />
      </T>
      <P>
        <BruteAbombinator />读条完毕后，所在的墙壁连线当前<RoleIcon role="any" tag="一仇" />，并附加<ThornsOfDeathDebuff
          hover
        />
      </P>
      <P>
        对
        <RoleIcon role="any" tag="一仇" />
        的
        <ThornsOfDeathDebuff level={1} hover />
        <ThornsOfDeathDebuff level={2} hover />
        <ThornsOfDeathDebuff level={3} hover />
        <ThornsOfDeathDebuff level={4} hover />
        连线可以通过挑衅/退避转移
      </P>
    </div>
    <div class="flex flex-col gap-4">
      <T class="mt-8 scroll-mt-[calc(5rem+1px)]" id="thornsofdeath">
        <Skill name={`${ThornsOfDeath}（DEBUFF）`} />
      </T>
      <P>
        每<Span variant="pink">3s</Span>一跳的<Span variant="orange">持续伤害（DoT）</Span>，只有盾减生效，<RoleIcon
          role="tank"
        />与<RoleIcon role="healer|dps" />承伤无明显差别
      </P>
      <P
        >随着<Span variant="pink">连线长度（角色距离连线墙的距离）</Span>的增加，伤害量共有<Span variant="pink">4</Span
        >档：</P
      >
      <P class="pl-4">
        <ListDot /><ThornsOfDeathDebuff level={1} hover />，伤害<Span variant="orange">9000/3s</Span>
      </P>
      <P class="pl-4">
        <ListDot /><ThornsOfDeathDebuff level={2} hover />，伤害<Span variant="orange">12000/3s</Span>
      </P>
      <P class="pl-4">
        <ListDot /><ThornsOfDeathDebuff level={3} hover />，伤害<Span variant="orange">80000/3s</Span>
      </P>
      <P class="pl-4">
        <ListDot /><ThornsOfDeathDebuff level={4} hover />，伤害<Span variant="orange">160000/3s</Span>
      </P>
    </div>
    <div class="flex flex-col gap-4">
      <T class="mt-8 scroll-mt-[calc(5rem+1px)]" id="abominableblink">
        <Skill name={abominableBlink} />
      </T>
      <P>
        读条开始时，<BruteAbombinator />点名任一<RoleIcon role="tank" />施加核爆标记，读条结束时以其为中心造成<Span
          variant="rose">距离衰减</Span
        >伤害
      </P>
    </div>
  </div>
</MechanicSection>

<MultiSolutionSection solutions={solutions} defaultSolution={defaultSolution} client:idle>
  <div slot="解法：本站">
    <div class="flex flex-col gap-4">
      <P>
        <Skill name={stoneringer} />读条时，<RoleIcon role="all" tag="全员" />观察并<Span variant="pink">记住</Span
        ><BruteAbombinator />掏出的武器，以处理<StratLink variant="yellow" href="#sporesplosion"
          ><Skill name={sporesplosion} /></StratLink
        >结束后的<Skill name={brutishswing} />
      </P>
      <P><Skill name={abominableBlink} />读条时：</P>
      <P
        ><ListDot />无论核爆点名如何，<Span variant="pink">固定让</Span><RoleIcon role="tank" tag="MT" /><Span
          variant="pink">拉线</Span
        >，核爆<RoleIcon role="tank" />前往场地<Span variant="pink">左上角（以面向BOSS为基准）</Span></P
      >
      <P><ListDot />其他人远离左上角，<RoleIcon role="melee" />可最大近战距离输出</P>
      <P>站位示意图如下：</P>
      <ImgRow
        class="game-img"
        wrapperClass="max-w-150"
        bordered={false}
        imgs={[
          {
            src: 'imgs/07/m7s/tdab/AbBlink_flare1.png',
            alt: '',
          },
        ]}
      />
      <P>
        按上图站位时，远程会受到约
        <DamageInfo damage="110000" type="magical" />
        的伤害，近战则受到约
        <DamageInfo damage="160000~210000" type="magical" />
        的伤害
      </P>
      <P>首周装等下，需要≥20%的团减，或给近战单独的支援减</P>
    </div>
  </div>
  <div slot="解法：日野主流">
    <div class="flex flex-col gap-4">
      <P>
        <Skill name={stoneringer} />读条时，<RoleIcon role="all" tag="全员" />观察并<Span variant="pink">记住</Span
        ><BruteAbombinator />掏出的武器，以处理<StratLink variant="yellow" href="#sporesplosion"
          ><Skill name={sporesplosion} /></StratLink
        >结束后的<Skill name={brutishswing} />
      </P>
      <P><Skill name={abominableBlink} />读条时：</P>
      <P
        ><ListDot /><Span variant="pink">未被核爆点名</Span>的<RoleIcon role="tank" />挑衅成为一仇拉线，核爆<RoleIcon
          role="tank"
        />前往场地<Span variant="pink">右侧远离人群</Span></P
      >
      <P><ListDot />其他人前往场地<Span variant="pink">左上角</Span>附近集合</P>
      <P>站位示意图如下：</P>
      <ImgRow
        class="game-img"
        wrapperClass="max-w-150"
        bordered={false}
        imgs={[
          {
            src: 'imgs/07/m7s/tdab/game8_abblink.png',
            alt: '',
          },
        ]}
      />
    </div>
  </div>
</MultiSolutionSection>
